<%= form_for(@genre) do |f| %>
  <% if @genre.errors.any? %>
      <% @genre.errors.full_messages.each do |message| %>
        <%= js add_gritter(message, :image => :warning ) %>
      <% end %>
  <% end %>
  <div class="field offWhite">
    <!--<%= f.label :name %><br>-->
    <%= f.text_field :name, :placeholder => 'Enter Genre Name' %>
    <!--<%= f.label :desc %><br>-->
    <%= f.text_area :desc, :placeholder => 'Enter Genre Description' %>
    <%= f.submit 'Save Genre', :class => 'submitBTN' %>
  </div>
<% end %>
