<% provide(:title, "EDIT GENRE") %>
<div class="page-title">
	<div class="container">
		<h1>Edit Genre</h1>
		<p>Please enter information for all sections of the form below to edit a genre into the library.</p>
	</div>
	<div class="container">
		<%= render 'form' %>
		<%= link_to 'Show', @genre %> |
		<%= link_to 'Back', genres_path %>
	</div>
</div>
