<% provide(:title, 'GENRES') %>
<% provide(:description, "Filter Songs by Genre Category") %>
<% provide(:keywords, "Songs by Genre") %>
<div class="page-title">
  <div class="container">
    <h1>Genres</h1>
    <p>Filter our library by any of the genres below</p>
  </div>
</div>
<section class="section sect-pad">
  <div class="container">
    <% @genres.each do |genre| %>
      <%= link_to genre_path(genre) do %>
        <div class="optCard">
          <div class="optCard-image offWhite">
            <%= image_tag('genre_image') %>
          </div>
          <div class="optCard-title center">
            <h2><%= genre.name %></h2>
          </div>
          <div class="optCard-desc center">
            <%= genre.desc %>
          </div>
          <div class="optCard-admin">
            <% if can? :manage, Genre %>
              <%= link_to 'Show', genre %> | 
              <%= link_to 'Edit', edit_genre_path(genre) %> | 
              <%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if can? :manage, Genre %>
      <div class="center">
        <%= link_to 'Add New Genre', new_genre_path, :class => 'btn btn-ghost' %>
      </div>
    <% end %>
  </div>
</section>