<% provide(:title, "ADD GENRE") %>
<div class="page-title">
	<div class="container">
		<h1>Add New Genre</h1>
		<p>Please enter information for all sections of the form below to enter a new genre into the library.</p>
	</div>
	<div class="container">
		<%= render 'form' %>
		<%= link_to 'Back', genres_path %>
	</div>
</div>
