= form_for @quote do |f|
  - if @quote.errors.any?
    #error_explanation
      h2 = "#{pluralize(@quote.errors.count, "error")} prohibited this quote from being saved:"
      ul
        - @quote.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :image
    = f.file_field :image
  .actions = f.submit
