<% set_meta_tags 	site: 	'Zudo Inspirational Film Quotes', 
					title: 	@quote.title, 
					reverse: true,
					description: @quote.content,
					noindex: false,
					author:  "https://plus.google.com/u/1/117370898715446501614"
%>
<% set_meta_tags og: {
					title: 	@quote.title + ' | Zudo Inspirational Film Quotes',
					type:  	'website',
					url:    quote_path(@quote),
					image:  @quote.image.url(:medium),
					description: @quote.content
} %>
<% set_meta_tags twitter: {
					card: 	"summary_large_image",
					site: 	"@ZudoMusic",
					title: 	@quote.title + " | Zudo Inspirational Film Quotes",
					image: 	@quote.image.url(:medium),
					description: @quote.content
} %>
<% provide(:keywords, @quote.title) %>
