.sharer-fixed
    = link_to share_quote_path(@quote), data: {modal: true} do
		ul.sharer-icons
			li.sharer-icon 
				i.ion-social-twitter-outline
			li.sharer-icon 
				i.ion-social-facebook-outline
			li.sharer-icon 
				i.ion-social-googleplus-outline
		