- provide(:title, "FILM + MUSIC BLOG")
- provide(:description, "Blog Description")
- provide(:keywords, "Film &amp; Music Blog")

.page-title
  h1 QUOTES
  .center
    - if user_signed_in?
      = link_to "BROWSE MUSIC", play_path, class: 'btn btn-ghost animated shake', id: 'home-cta-btn'
    - else
      = link_to "BROWSE MUSIC", play_path, class: 'btn btn-blue'
      = link_to "SIGNUP FREE", new_user_registration_path, class: 'btn btn-green'

section.blue
  .container
    - if can? :manage, :all
      = link_to "Add New Quote", new_quote_path, class: 'btn btn-ghost'
    ul.quoteCards.clearfix
      - @quotes.each do |quote|
        li.quote-prev= link_to quote do
          = image_tag quote.image.url(:thumb), :class => 'quote-prev-img'
          p.quote-prev-title= quote.title
