= content_for :id, 'share-quote-modal'
= content_for :title, 'Share this ' + '"' + @quote.title + '"' + ' Meme'

p Inspire Your Fans & Followers.

div.center
	= link_to @quote.facebook_share_link, target: '_blank', class: 'social-icon' do
	  = image_tag 'facebook.svg'

	= link_to @quote.twitter_share_link, target: '_blank', class: 'social-icon' do
	  = image_tag 'twitter.svg'

	= link_to @quote.google_plus_share_link, target: '_blank', class: 'social-icon' do
	  = image_tag 'google-plus.svg'