= render 'quotemeta'
= render 'sharer'

.back
	= link_to quotes_path do
		i.ion-ios-arrow-back
.page-title
  h1 = @quote.title
  .center
    - if user_signed_in?
      = link_to "BROWSE MUSIC", play_path, class: 'btn btn-ghost animated shake', id: 'home-cta-btn'
    - else
      = link_to "BROWSE MUSIC", play_path, class: 'btn btn-blue'
      = link_to "SIGNUP FREE", new_user_registration_path, class: 'btn btn-green'
    br

section.blue
  .container
		= image_tag @quote.image.url, class: 'quoteIMG'
