<%= form_for(@mood) do |f| %>
  <% if @mood.errors.any? %>
      <% @mood.errors.full_messages.each do |message| %>
        <%= js add_gritter(message, :image => :warning ) %>
      <% end %>
  <% end %>
  <div class="field offWhite">
    <!--<%= f.label :name %><br>-->
    <%= f.text_field :name, :placeholder => 'Enter Mood Name' %>
    <!--<%= f.label :desc %><br>-->
    <%= f.text_area :desc, :placeholder => 'Enter Mood Description' %>
    <%= f.submit 'Save Mood', :class => 'submitBTN' %>
  </div>
<% end %>
