<% provide(:title, "EDIT MOOD") %>
<div class="page-title">
	<div class="container">
		<h1>Edit Mood</h1>
		<p>Please enter information for all sections of the form below to edit a mood into the library.</p>
	</div>
	<div class="container">
		<%= render 'form' %>
		<%= link_to 'Show', @mood %> |
		<%= link_to 'Back', moods_path %>
	</div>
</div>
