<% provide(:title, 'MOODS') %>
<% provide(:description, "Filter Songs by Mood Category") %>
<% provide(:keywords, "Songs by Mood") %>
<div class="page-title">
  <div class="container">
    <h1>Moods</h1>
    <p>Filter our library by any of the moods below</p>
  </div>
</div>
<section class="section sect-pad">
  <div class="container">
    <% @moods.each do |mood| %>
      <%= link_to mood_path(mood) do %>
        <div class="optCard">
          <div class="optCard-image offWhite">
            <%= image_tag('mood_image') %>
          </div>
          <div class="optCard-title center">
            <h2><%= mood.name %></h2>
          </div>
          <div class="optCard-desc center">
            <%= mood.desc %>
          </div>
          <div class="optCard-admin">
            <% if can? :manage, Mood %>
              <%= link_to 'Show', mood %> | 
              <%= link_to 'Edit', edit_mood_path(mood) %> | 
              <%= link_to 'Destroy', mood, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if can? :manage, Mood %>
      <div class="center">
        <%= link_to 'Add New Mood', new_mood_path, :class => 'btn btn-ghost' %>
      </div>
    <% end %>
  </div>
</section>