<% provide(:title, "ADD MOOD") %>
<div class="page-title">
	<div class="container">
		<h1>Add New Mood</h1>
		<p>Please enter information for all sections of the form below to enter a new mood into the library.</p>
	</div>
	<div class="container">
		<%= render 'form' %>
		<%= link_to 'Back', moods_path %>
	</div>
</div>