<% provide(:title, "RESEND CONFIRMATION") %>
<div class="page-title">
   <div class="container">
   	<h1>Resend Confirmation Email</h1>
   	<p>Please enter your email address to resend confirmation email.</p>
   </div>
   <div class="container">
	  	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
		   <%= devise_error_messages! %>

		   <div class="field offWhite">
		   	<%= f.label :email %><br />
		   	<%= f.email_field :email, autofocus: true %>
		   	<%= f.submit "Resend Confirmation Email", :class => 'submitBTN' %>
		   </div>
		<% end %>

	<%= render "devise/shared/links" %>
	</div>
</div>