<%= form_for(@tempo) do |f| %>
  <% if @tempo.errors.any? %>
      <% @tempo.errors.full_messages.each do |message| %>
        <%= js add_gritter(message, :image => :warning ) %>
      <% end %>
  <% end %>
  <div class="field offWhite">
    <!--<%= f.label :name %><br>-->
    <%= f.text_field :name, :placeholder => 'Enter Tempo Name' %>
    <!--<%= f.label :desc %><br>-->
    <%= f.text_area :desc, :placeholder => 'Enter Tempo Description' %>
    <%= f.submit 'Save Tempo', :class => 'submitBTN' %>
  </div>
<% end %>