<% provide(:title, "EDIT TEMPO") %>
<div class="page-title">
	<div class="container">
		<h1>Edit Tempo</h1>
		<p>Please enter information for all sections of the form below to edit a tempo into the library.</p>
	</div>
	<div class="container">
		<%= render 'form' %>
		<%= link_to 'Show', @tempo %> |
		<%= link_to 'Back', tempos_path %>
	</div>
</div>
