<% provide(:title, 'TEMPOS') %>
<% provide(:description, "Filter Songs by Tempo Category") %>
<% provide(:keywords, "Songs by Tempo") %>
<div class="page-title">
  <div class="container">
    <h1>Song Tempos</h1>
    <p>Filter our library by any of the song tempos below</p>
  </div>
</div>
<section class="section sect-pad">
  <div class="container">
    <% @tempos.each do |tempo| %>
      <%= link_to tempo_path(tempo) do %>
        <div class="optCard">
          <div class="optCard-image offWhite">
            <%= image_tag('tempo_image') %>
          </div>
          <div class="optCard-title center">
            <h2><%= tempo.name %></h2>
          </div>
          <div class="optCard-desc center">
            <%= tempo.desc %>
          </div>
          <div class="optCard-admin">
            <% if can? :manage, Tempo %>
              <%= link_to 'Show', tempo %> | 
              <%= link_to 'Edit', edit_tempo_path(tempo) %> | 
              <%= link_to 'Destroy', tempo, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if can? :manage, Tempo %>
      <div class="center">
        <%= link_to 'Add New Tempo', new_tempo_path, :class => 'btn btn-ghost' %>
      </div>
    <% end %>
  </div>
</section>