<% provide(:title, "ADD TEMPO") %>
<div class="page-title">
	<div class="container">
		<h1>Add New Tempo</h1>
		<p>Please enter information for all sections of the form below to enter a new tempo into the library.</p>
	</div>
	<div class="container">
		<%= render 'form' %>
		<%= link_to 'Back', tempos_path %>
	</div>
</div>