<% provide(:title, "EDIT PROFILE") %>
<div class="page-title fullscreen">
  <div class="container">
    <h1>Edit Profile</h1>
    <p>Please complete only sections of the form below that you want changed.</p>
  </div>
  <div class="field offWhite">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
        <%= f.label :email %><br />
        <%= f.email_field :email %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>

        <%= f.submit "Update", :class => 'submitBTN' %>
      </div>
    <% end %>
    <div class="container" style="margin-top:10px;">
      <p>Unhappy?<br /><%= link_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure you want to delete your account?" }, method: :delete, class: 'btn btn-ghost center' %></p>
    </div>
  </div>
</div>
