<% provide(:title, "JOIN US") %>
<div class="page-title fullscreen">
  <div class="container">
    <h1>Join Zudo</h1>
    <p>Please enter information for all sections of the form below to Join Zudo Music.</p>
  </div>
  <div class="container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
      <div class="field offWhite">
        <%= f.text_field :name, autofocus: true, :placeholder => 'What\'s Your Full Name?' %>
        <%= f.email_field :email, :placeholder => 'What\'s Your Main Email?' %>
        <%= f.password_field :password, autocomplete: "off", :placeholder => 'Choose A Password' %>
        <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'Re-Enter Your Password' %>
        <%= f.submit "Sign up", :class => 'submitBTN' %>
      </div>
    <% end %>
    <h2 class="center" style="color:#fffef2;padding-bottom:0;font-size:110%;">Already a Member?</h2>
    <%= render "devise/shared/links" %>
  </div>
</div>
