<%= form_for(@artist) do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field offWhite">
    <!--<%= f.label :name %><br>-->
    <%= f.text_field :name, :placeholder => 'Enter Artist\'s Name', :class => 'col span_6_of_12', autofocus: true %>
    <!--<%= f.label :image %><br>-->
    <%= f.file_field :image, :placeholder => 'Upload Promo Image', :class => 'col span_6_of_12' %>    
    <!--<%= f.label :user_id %><br>-->
    <%= f.text_field :user_id, :placeholder => 'Enter User ID', :class => 'col span_6_of_12' %>
    <!--<%= f.label :bio %><br>-->
    <%= f.text_area :bio, :placeholder => 'Enter Artist Bio' %>
    <!--<%= f.label :hometown %><br>-->
    <%= f.text_field :hometown, :placeholder => 'Enter Hometown', :class => 'col span_6_of_12' %>
    <!--<%= f.label :label %><br>-->
    <%= f.text_field :label, :placeholder => 'Enter Record Label Name', :class => 'col span_6_of_12' %>
    <!--<%= f.label :manager %><br>-->
    <%= f.text_field :manager, :placeholder => 'Enter Manager\'s Name', :class => 'col span_6_of_12' %>
    <!--<%= f.label :pro %><br>-->
    <%= f.text_field :pro, :placeholder => 'Enter PRO Affiliation', :class => 'col span_6_of_12' %>
    <!--<%= f.label :website %><br>-->
    <%= f.text_field :website, :placeholder => 'Enter Website URL', :class => 'col span_12_of_12' %>
    <!--<%= f.label :facebook %><br>-->
    <%= f.text_field :facebook, :placeholder => 'Enter Facebook URL', :class => 'col span_12_of_12' %>
    <!--<%= f.label :twitter %><br>-->
    <%= f.text_field :twitter, :placeholder => 'Enter Twitter URL', :class => 'col span_12_of_12' %>
    <!--<%= f.label :instagram %><br>-->
    <%= f.text_field :instagram, :placeholder => 'Enter Instagram URL', :class => 'col span_12_of_12' %>
    <!--<%= f.label :soundcloud %><br>-->
    <%= f.text_field :soundcloud, :placeholder => 'Enter Soundcloud URL', :class => 'col span_12_of_12' %>
    <!--<%= f.label :instrument1 %><br>-->
    <%= f.text_field :instrument1, :placeholder => 'Enter Main Instrument', :class => 'col span_6_of_12' %>
    <!--<%= f.label :instrument2 %><br>-->
    <%= f.text_field :instrument2, :placeholder => 'Enter Second Instrument', :class => 'col span_6_of_12' %>
    <!--<%= f.label :influence1 %><br>-->
    <%= f.text_field :influence1, :placeholder => 'Enter First Influence', :class => 'col span_6_of_12' %>
    <!--<%= f.label :influence2 %><br>-->
    <%= f.text_field :influence2, :placeholder => 'Enter Second Influence', :class => 'col span_6_of_12' %>
    <!--<%= f.label :influence3 %><br>-->
    <%= f.text_field :influence3, :placeholder => 'Enter Third Influence', :class => 'col span_6_of_12' %>
    <%= f.submit 'Save Artist', :class => 'submitBTN' %>
  </div>
<% end %>
