<section class="section home-sect-1">
	<div class="playlistWrap blue">
	  <div class="js--wp-4">
		  <div class="container rosterHead">
	
		    <h2>Like <%= @artist.name %>?</h2>
		    <% if @similar_artist_ids.present? %>
			    <h3>You might like 
			    	<% @similar_artist_ids.each do |similar_artist_id| %>
					    <% similar_artist = get_similar_artist(similar_artist_id) %>
					    <% if similar_artist.present? %>
					      <%= similar_artist.name + (@similar_artist_ids.last != similar_artist_id ? ", " : "") %>
					    <% end %>
					<% end %>
			      	too!
			    </h3>
			  <% end %>
	<!--
		    <p class='hide-mobile'>Browse our curated playlists to find the best music to fit the mood of your film or game. Click on the playlist image to hear our hand selected tracks in each mixtape.</p>
	-->
		  </div>
		  <div class="center js--wp-4-2">
		    <ul class="artistRoster">
				  <% @similar_artist_ids.each do |similar_artist_id| %>
				      <% similar_artist = get_similar_artist(similar_artist_id) %> 
				      <% if similar_artist.present? %>
			      		<%= link_to similar_artist do %>
					        <li class="rosterArtistCard">
						        <div class="rosterIMG" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url(<%= similar_artist.image.url(:thumb) %>); background-position: center center; background-size: cover;">
						        </div>
					          <h2><%= similar_artist.name %></h2>
						    </li>
					    <% end %>
					  <% end %>
				  <% end %>
				</ul>
			</div>
		</div>
	</div>
</section>