<% set_meta_tags 	site: 'Zudo', 
					title: 'EDIT ' + @artist.name, 
					reverse: true,
					description: "Artist Editing Administration Page for Zudo Music Web App.",
					noindex: true
%>

<h1>Editing Artist</h1>

<%= render 'form' %>

<%= link_to 'Show', @artist %> |
<%= link_to 'Back', artists_path %>
