<% set_meta_tags  site:   'Zudo Music Licensing for Film, TV and Video Games', 
          title:  'FILM COMPOSERS', 
          reverse: true,
          description: "Zudo Music manages a team of independent film composers with a variety of pre-recorded music, pre-cleared for use in filmmaking game development and video production.",
          noindex: false,
          canonical:"http://www.zudomusic.com/artists",
          author:  "https://plus.google.com/u/1/117370898715446501614"
%>
<% set_meta_tags og: {
          title:  'FILM COMPOSERS | Zudo Music Licensing for Film, TV and Video Games',
          type:   'website',
          url:    'http://www.zudomusic.com/artists',
          image:  image_url('zudo-artist_roster.png'),
          description: "Zudo Music manages a team of independent film composers with a variety of pre-recorded music, pre-cleared for use in filmmaking game development and video production."
} %>
<% set_meta_tags twitter: {
          card:   "summary_large_image",
          site:   "@ZudoMusic",
          title:  "FILM COMPOSERS | Zudo Music Licensing for Film, TV and Video Games",
          image:  image_url('zudo-artist_roster.png'),
          description: "Zudo Music manages a team of independent film composers with a variety of pre-recorded music, pre-cleared for use in filmmaking game development and video production."
} %>
<% provide(:keywords, "Film Composers") %>

<div class="back">
  <%= link_to play_path do %>
    <i class="ion-ios-arrow-back"></i>
  <% end %>
</div>

<div class="rosterWrap">
  <div class="container rosterHead">
    <h1>Zudo Artists</h1>
    <p class='hide-mobile'>Browse and learn more our killer roster of 
      <span>
        <%= @artists.count %>
      </span> singers, songwriters, composers and producers here. Click on the artist images to view their bio and sample their entire music catalog.</p>
  </div>
  <div class="center">
    <ul class="artistRoster">
      <% @artists.each do |artist| %>
        <%= link_to artist_path(artist) do %>
          <li class="rosterArtistCard">
            <div class="rosterIMG" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url(<%= artist.image.url(:thumb) %>); background-position: center center; background-size: cover;">
            </div>
            <h2><%= artist.name %></h2>
          </li>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>
<section class="offWhite sect-pad">
  <div class="container">
    <% if can? :create, Artist %>
      <div class="center">
        <%= link_to 'Add New Artist', new_artist_path, :class => 'btn btn-ghost' %>
      </div>
    <% else %>
      <div class="center">
        <%= link_to content_tag('p', 'JOIN TEAM ZUDO!'), new_contact_path, :class => 'btn btn-ghost' %>
      </div>
    <% end %>
  </div>   
</section>

  
