<% set_meta_tags 	site: 'Zudo', 
					title: 'NEW ARTIST', 
					reverse: true,
					description: "New Artist Administration Page for Zudo Music Web App.",
					noindex: true
%>
<div class="page-title">
	<div class="container">
		<h1>Add New Artist</h1>
		<p>Please enter information for all sections of the form below to enter a new artist into the library.</p>
	</div>
	<div class="container">
		<%= render 'form' %>
		<%= link_to 'Back', artists_path %>
	</div>
</div>