- set_meta_tags(site: 'Zudo', title: 'Submit Your Music', description: "Submit Your Music to the Zudo Music Library.", keywords: 'Submit Your Music')

#contactPage
  .container
    h1.page-title Submit Your Music
    h2.page-sub-title Want to join the Zudo Artist Roster?
    p.page-description
      | Send us links to five (5) of your songs that best show your level of skill and range of styles. Our team will review your music and get back to you with our honest opinion, and hopefully an invite to our library!

    = simple_form_for(:music, url: submit_your_music_path, html: {class: 'contact-form' }) do |f|
      h2 Send Us your Music
      = f.input :name, :placeholder => "Your Real Name", :required => true, label: false
      = f.input :artist_name, :placeholder => "Your Artist Name", :required => false, label: false
      = f.input :email, :placeholder => "Your Email", :required => true, label: false
      = f.input :url, :placeholder => "Your Website", :required => false, label: false
      = f.input :lead, :placeholder => "How Did You Find Us?", :required => false, label: false
      = f.input :bio, :as => :text, :placeholder => "Tell Us About Your Music", :required => true, :input_html => {:rows => 5}, label: false
      = f.input :song_1, :placeholder => "1st Song Link", :required => true, label: false
      = f.input :song_2, :placeholder => "2nd Song Link", :required => true, label: false
      = f.input :song_3, :placeholder => "3rd Song Link", :required => true, label: false
      = f.input :song_4, :placeholder => "4th Song Link", :required => true, label: false
      = f.input :song_5, :placeholder => "5th Song Link", :required => true, label: false
      button SUBMIT!