<% set_meta_tags 	site: 'Zudo', 
					title: 'ARTIST RELATIONSHIPS', 
					reverse: true,
					description: "Relationship Index Page for Zudo Music Web App.",
					noindex: true %>

<div class="page-title">
	<h1> Relationships </h1>
</div>
	<div class="">
		<div class="container">
			<table class="artistRels">
				<tbody>
					<tr>
            <th> Artist ID </th>
            <th> Artist Name </th>
						<th> Active?</th>
						<th> Is Featured? </th>
						<th> Similar Artists </th>
						<th></th>
					</tr>
				  <% @artists.each do |artist| %>
				    <%= form_for(:similar_artist, url: save_similar_artist_path(artist.id), method: :post, remote: true) do |f| %>
					    <tr> 
					    	<% all_artists = @active_artists.reject{|art| art.id == artist.id} %>
                <td><%= artist.id %></td>
                <td>
                  <%= link_to (image_tag artist.image.url(:thumb)), artist_path(artist) %>
                  <br>
                  <%= artist.name %>    
                </td>
					    	<td><%= check_box_tag "active_artist_#{artist.id}", true, artist.is_active?, class: "checkbox" %></td>
					    	<td><%= check_box_tag "artist_#{artist.id}", true, artist.is_featured?, class: "checkbox" %></td>
					    	<td><%= f.collection_select(:similar_ids, all_artists.present? ? all_artists : [], :id, :name, {selected: artist.similar_artists.present? ? artist.similar_artists.map(&:similar_artist_id) : []}, {class: 'chosen-select', multiple: true, required: true}) %></td>
					    	<td>
					    		<%= submit_tag "Save", class: "btn btn-primary submitBtn", data: { disable_with: "Saving..." } %>
               </td> 
					    </tr>
					   <% end %>
				  <% end %>
				</tbody>
		</table>
	</div>
</div>

<script>
  $(function(){
  	$('.chosen-select').chosen({
  	  max_selected_options: 3, //Max select limit 
      display_selected_options: true, 
      placeholder_text_multiple: "Select some artist(s)",
      width:"250px"
    });

    $('.checkbox').change(function() {
    	split_id = $(this).attr("id").split("_");
    	if(split_id[0] == "active"){
    		id = split_id[2];
    		checkbox_type = "active"
    	}else{
    	  id = split_id[1];
    	  checkbox_type = "featured"
    	}
      if($(this).is(":checked")) {
        sendAjaxRequest(id, true, checkbox_type);
      }else{
      	sendAjaxRequest(id, false, checkbox_type);
      }

    });
    
  });
  
  //is featured checkbox checked/unchecked ajax request to server
  function sendAjaxRequest(id, checkbox_val, checkbox_type){

  	if(checkbox_type == "active"){
      url = "/artists/save_as_active/"+id
  	}else{
      url = "/artists/save_featured/"+id
  	}
  	$.ajax({
      type: 'POST',
      url: url,
      data: {'data': checkbox_val}
    });
  }
</script>