= render "artistmeta"
.back
  = link_to artists_path do
    i.ion-ios-arrow-back

.artistHead.section
  .artistHeroIMG style="background-image: url(#{@artist.image});"
  .artistHeroColor
  .artistHeroBox
    .container.group
      .artistHeadIMG.col.span_4_of_12
        .artistBubble style="background-image: url(#{@artist.image});"
          .artistSocialBTNs
            = link_to content_tag('i', '', :class => 'ion-ios-world-outline'), @artist.website, target: '_blank'
            = link_to content_tag('i', '', :class => 'ion-social-facebook-outline'), @artist.facebook, target: '_blank'
            = link_to content_tag('i', '', :class => 'ion-social-twitter-outline'), @artist.twitter, target: '_blank'
            = link_to content_tag('i', '', :class => 'ion-social-instagram-outline'), @artist.instagram, target: '_blank'
        table.artistStats.hide-mobile
          tr
            td.tablelabel HOMETOWN |
            td
              strong= @artist.hometown
          tr
            td.tablelabel LABEL |
            td= @artist.label
          //tr
            td.tablelabel MANAGER |
            td= @artist.manager
          tr
            td.tablelabel P.R.O. |
            td= @artist.pro
          tr
            td.tablelabel INSTRUMENTS |
            td= @artist.instrument1
          tr
            td
            td= @artist.instrument2
          tr
            td.tablelabel INFLUENCES |
            td= @artist.influence1
          tr
            td
            td= @artist.influence2
          tr
            td
            td= @artist.influence3        
      .artistHeadBio.col.span_8_of_12
        h1.artistHeroName
          = @artist.name
        .bioScroll.clearfix.hide-mobile
          = simple_format @artist.bio
        - if can? :update, @artist
          .center
            = link_to "EDIT ARTIST INFO", edit_artist_path, :class => 'btn'
            = link_to "ADD NEW SONG", new_song_path, :class => 'btn' 
= form_tag artist_path(id: @artist), class: "searchbar", method: :get
  = text_field_tag "q", params[:q], placeholder: 'Search Zudo', id: "searchbar"
  input type="submit"   
section.catPlayerWrap
  = render 'songs/songlist', songs: @songs
  = paginate @songs

= render 'similar'
