<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  Hi <%= @user_email %>,</p>

<p>
  Thank you for your purchase from Zudo Music!
</p>
</br>
<table border="1">
  <tr>
    <td><b>Song Name</b></td>
    <td><b>Artist Name</b></td> 
    <td><b>License</b></td>
    <td><b>Price</b></td>
  </tr>
  <% @purchased_items.each do |item| %>
	  <tr>
	    <td><%= item.song_title %></td>
	    <td><%= item.artist_name %></td> 
	    <td><%= item.license %></td>
	    <td><%= humanized_money_with_symbol(item.price) %></td>
	  </tr>
	<% end %>
</table>

<p>To download your licenses and audio files, please sign in to your account at <%= link_to "www.zudomusic.com", "https://www.zudomusic.com" %> and navigate to the 'purchases' page.</p>

<p>Also, please be sure to send us a copy of your cue sheets for any of these songs used in your final production.</p>

<p>
  Thank You,</p>
<p>
  Team Zudo
</p>

</body>
</html>