Hi,
<p><b>New Purchase User Details:</b> </p>

<p><b>User Name:</b> <%= @hash['name'] %></p>
<p><b>User Email:</b> <%= @hash['email'] %></p>
<p><b>Phone:</b> <%= @hash['phone'] %></p>

<p><b>Project Title:</b> <%= @hash['project_title'] %></p>
<p><b>Description:</b> <%= @hash['project_desc'] %></p>
<p><b>Website:</b> <%= link_to @hash['website'], @hash['website'] %></p>

<p>Thanks,</br>