Hi,
<p><b>New Artist Details:</b> </p>

<p><b>Real Name:</b> <%= @hash['name'] %></p>
<p><b>Artist Name:</b> <%= @hash['artist_name'] %></p>
<p><b>Email:</b> <%= @hash['email'] %></p>
<p><b>Website:</b> <%= link_to @hash['url'], @hash['url'] %></p>
<p><b>Lead From:</b> <%= @hash['lead'] %></p>
<p><b>Bio:</b> <%= @hash['bio'] %></p>
<p><b>1st Song URL:</b> <%= link_to @hash['song_1'], @hash['song_1'] %></p>
<p><b>2nd Song URL:</b> <%= link_to @hash['song_2'], @hash['song_2'] %></p>
<p><b>3rd Song URL:</b> <%= link_to @hash['song_3'], @hash['song_3'] %></p>
<p><b>4th Song URL:</b> <%= link_to @hash['song_4'], @hash['song_4'] %></p>
<p><b>5th Song URL:</b> <%= link_to @hash['song_5'], @hash['song_5'] %></p>

<p>Thanks,</br>