<div class="comment clearfix">
	<div class="comment-content">
		<p><span class="comment-name"><em><strong><%= comment.name %></em></strong> &nbsp; <span class="comment-time"><%= time_ago_in_words(comment.created_at) %> ago</span><% if can? :manage, :all %><span class="comment-time"><%= link_to 'Delete', [comment.post, comment], style: 'float:right;', method: :delete, data: { confirm: 'For Realz?!' } %></span><% end %></p>
		<p class="comment-body"><%= comment.body %></p>
	</div>
</div>