<div class="comment-form">
	<%= form_for([@post, @post.comments.build]) do |f| %>
		<p>
			<%= f.text_field :name, :placeholder => 'Enter Your Name' %>
		</p>
		<p>
			<%= f.text_area :body, class: 'comment-form-body', :placeholder => 'Enter Your Comment' %>
		</p>
		<p>
			<%= f.submit "Add Comment", class: 'btn btn-blue', style: 'margin-left: 12px;' %>
		</p>
	<% end %>
</div>