- set_meta_tags  site:   'Zudo Music Licensing for Film, TV and Video Games', 
          title:  'MY LICENSES', 
          reverse: true,
          description: "This is a personalized page containing license information and download links for all of the music licenses you have purchased through Zudo Music.",
          noindex: false,
          canonical:"http://www.zudomusic.com/purchases",
          author:  "https://plus.google.com/u/1/117370898715446501614"
- set_meta_tags og: { title:  'MY LICENSES | Zudo Music Licensing for Film, TV and Video Games',
          type:   'website',
          url:    'http://www.zudomusic.com/purchases',
          image:  'http://zudomusic.com/zudo_music-01-wmd-min.png',
          description: "This is a personalized page containing license information and download links for all of the music licenses you have purchased through Zudo Music."}
- set_meta_tags twitter: { card:   "summary_large_image",
          site:   "@ZudoMusic",
          title:  "MY LICENSES | Zudo Music Licensing for Film, TV and Video Games",
          image:  "http://zudomusic.com/zudo_music-01-wmd-min.png",
          description: "This is a personalized page containing license information and download links for all of the music licenses you have purchased through Zudo Music."}
- provide(:keywords, "Download Songs")

.page-title
  .center.container
    h1 Purchased Songs
    p= link_to 'Browse Songs', play_path, data: { no_turbolink: true }, :class => 'btn btn-ghost'

table.songlist
  thead.songlistHead
    tr
      th
      th Title
      th Artist
      th License
      th Price
      th Downloads

  tbody
    - for purchase_item in @purchase_items
      tr.songRow
        td= link_to 'Download', download_path(id: purchase_item.id)
        td #{purchase_item.song_title}
        td #{purchase_item.artist_name}
        td #{purchase_item.license}
        td #{humanized_money_with_symbol(purchase_item.price)}
        td #{purchase_item.downloads}

    - if @purchase_items.empty?
      tr.songRow
        td colspan="5"
          | There is no purchased songs.