- set_meta_tags  site:   'Zudo Music Licensing for Film, TV and Video Games', 
          title:  'PLACEMENTS', 
          reverse: true,
          description: "This is a personalized page containing songs placement information for all of the music licenses that other people purchased through Zudo Music.",
          noindex: false,
          canonical:"http://www.zudomusic.com/placements",
          author:  "https://plus.google.com/u/1/117370898715446501614"
- set_meta_tags og: { title:  'PLACEMENTS | Zudo Music Licensing for Film, TV and Video Games',
          type:   'website',
          url:    'http://www.zudomusic.com/placements',
          image:  'http://zudomusic.com/zudo_music-01-wmd-min.png',
          description: "This is a personalized page containing songs placement information for all of the music licenses that other people purchased through Zudo Music."}
- set_meta_tags twitter: { card:   "summary_large_image",
          site:   "@ZudoMusic",
          title:  "PLACEMENTS | Zudo Music Licensing for Film, TV and Video Games",
          image:  "http://zudomusic.com/zudo_music-01-wmd-min.png",
          description: "This is a personalized page containing songs placement information for all of the music licenses that other people purchased through Zudo Music."}

.page-title
  .center.container
    h1 Songs Placement 
    p= link_to 'Browse Songs', play_path, data: { no_turbolink: true }, :class => 'btn btn-ghost'

table.songlist
  thead.songlistHead
    tr
      th Title
      th Artist
      th License
      th Price

  tbody
    - for placement in @placements
      tr.songRow
        td #{placement.song_title}
        td #{placement.artist_name}
        td #{placement.license}
        td #{humanized_money_with_symbol(placement.price / 2)}
    - if @placements.present?
      tr.songRow
        td colspan="3" style="text-align: right; font-weight: 600; padding-right: 20px;" Total
        th #{humanized_money_with_symbol(@placements.sum(&:price) / 2)}

      //
        tr.songRow
          td colspan="3" style="text-align: right; font-weight: 600; padding-right: 20px;" Site Total
          th #{humanized_money_with_symbol(@placements.sum(&:price) / 2 )}

    - if @placements.empty?
      tr.songRow
        td colspan="5"
          | There is no songs placement.