<div class="page-title">
  <div class="container">
    <h1>All Users</h1>
    <p>A list of all site user profiles.</p>
  </div>
</div>
<section class="section sect-pad">
	<div class="container">
		<h2 class="center">Total User Count = <strong><%= @users.count %></strong></h2>
		<% @users.each do |user| %>
			<div class="userModRow center offWhite">
				<%= form_for(user, html: { method: :put }) do |f| %>
					<em><%= user.id %></em>&nbsp;
					<strong><%= user.name %> - </strong>&nbsp;
					<%= user.email %> | &nbsp;
					<%= f.label :admin %>
					<%= f.check_box :admin %>&nbsp;&nbsp;
					<%= f.label :artist %>
					<%= f.check_box :artist %>&nbsp;&nbsp;
					<%= f.label :moderator %>
					<%= f.check_box :moderator %>&nbsp;&nbsp;
					<%= f.label :supervisor %>
					<%= f.check_box :supervisor %>&nbsp;&nbsp;
					<%= f.submit "Update" %>
				<% end %>
			</div>
		<% end %>
	</div>
</section>
