<div class="page-title">
  <div class="container">
    <h1>Edit User Permissions</h1>
    <p>Grant or Deny User Authorization Permissions for <%= @user.name %></p>
  </div>
</div>
<section class="section sect-pad">
	<div class="container">
		<h2><%= @user.name %></h2>
		<%= form_for(@user, html: { method: :put }) do |f| %>
      <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |message| %>
          <%= js add_gritter(message, :image => :warning ) %>
        <% end %>
      <% end %>
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true %><br />
      <%= f.label :email %>
      <%= f.email_field :email %><br />
			<%= f.label :admin %>
			<%= f.check_box :admin %><br />
			<%= f.label :artist %>
			<%= f.check_box :artist %><br />
			<%= f.label :moderator %>
			<%= f.check_box :moderator %><br />
			<%= f.submit "Update" %>
		<% end %>
	</div>
</section>
