<div class="page-title">
  <div class="container">
    <h1>Add New Credit</h1>
    <p>1 Credit is equal to $1.</p>
  </div>
  <div class="container">
     <%= form_tag(submit_credit_path) do |f| %>
          <div class="field offWhite">
            <%= email_field_tag :email, nil, :placeholder => 'Enter User Email' , required: true %>
            <%= number_field_tag :current_credits, nil, steps: "0.01", :placeholder => 'Enter Credits', required: true %>
            <%= submit_tag 'Submit', :class => 'submitBTN' %>
          </div>
      <% end %>
    <%= link_to 'Back', credits_path %>
  </div>
</div>


