<div class="page-title">
  <div class="container">
    <h1>User Credits</h1>
    <p>1 Credit is equal to $1</p>
  </div>
</div>

<section class="section sect-pad">
      <% if can? :manage, :all %>
      <div class="center">
          <%= link_to 'Add New Credit', new_credit_path, :class => 'btn btn-ghost' %>
      </div>
      <% end %>
      <br/>
  <div class="container">
     <table>
        <tr>
          <th>User Email</th>
          <th>Total Credits Till Date</th>
          <th>Used Credits</th>
          <th>Remaining Credits</th>
        </tr>
        <% @credits.each do |credit| %>
            <tr>
              <td><%= credit.email %></td>
              <td><%= credit.total_credits_till_date %></td>
              <td><%= credit.used_credits %></td>
              <td> <%= credit.remaining_credits %></td>
            </tr>
        <% end %>
      </table>
       <%= paginate @credits %>
  </div>
</section>