<% provide(:title, "RESET PASSWORD") %>
<div class="page-title">
  <div class="container">
    <h1>Reset Your Password?</h1>
    <p>Please complete all sections of the form below to change your password.</p>
  </div>
  <div class="container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field offWhite">
        <%= f.label :password, "Choose New Password" %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "off" %>

        <%= f.label :password_confirmation, "Confirm New Password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>

        <%= f.submit "Change My Password", :class => 'submitBTN' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
