<% provide(:title, "NEW PASSWORD") %>
<div class="page-title">
   <div class="container">
   	<h1>Forgot Your Password?</h1>
   	<p>Please enter your email address to get instructions on how to change your password.</p>
   </div>
   <div class="container">
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  	   <%= devise_error_messages! %>

		   <div class="field offWhite">
		   	<%= f.email_field :email, autofocus: true, :placeholder => 'Enter Your Email' %>
		   	<%= f.submit "Send Me Instructions", :class => 'submitBTN' %>
		   </div>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
</div>
