<%= form_for(@key) do |f| %>
  <% if @key.errors.any? %>
      <% @key.errors.full_messages.each do |message| %>
        <%= js add_gritter(message, :image => :warning ) %>
      <% end %>
  <% end %>
  <div class="field offWhite">
    <!--<%= f.label :name %><br>-->
    <%= f.text_field :name, :placeholder => 'Enter Key Name' %>
    <!--<%= f.label :desc %><br>-->
    <%= f.text_area :desc, :placeholder => 'Enter Key Description' %>
    <%= f.submit 'Save Key', :class => 'submitBTN' %>
  </div>
<% end %>
