<% provide(:title, "EDIT KEY") %>
<div class="page-title">
	<div class="container">
		<h1>Edit Key</h1>
		<p>Please enter information for all sections of the form below to edit a song key into the library.</p>
	</div>
	<div class="container">
		<%= render 'form' %>
		<%= link_to 'Show', @key %> |
		<%= link_to 'Back', keys_path %>
	</div>
</div>
