<% provide(:title, 'SONG KEYS') %>
<% provide(:description, "Filter Songs by Song Key Category") %>
<% provide(:keywords, "Songs by Song Key") %>
<div class="page-title">
  <div class="container">
    <h1>Song Keys</h1>
    <p>Filter our library by any of the song keys below</p>
  </div>
</div>
<section class="section sect-pad">
  <div class="container">
    <% @keys.each do |key| %>
      <%= link_to key_path(key) do %>
        <div class="optCard">
          <div class="optCard-image offWhite">
            <%= image_tag('key_image') %>
          </div>
          <div class="optCard-title center">
            <h2><%= key.name %></h2>
          </div>
          <div class="optCard-desc center">
            <%= key.desc %>
          </div>
          <div class="optCard-admin">
            <% if can? :manage, Key %>
              <%= link_to 'Show', key %> | 
              <%= link_to 'Edit', edit_key_path(key) %> | 
              <%= link_to 'Destroy', key, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if can? :manage, Key %>
      <div class="center">
        <%= link_to 'Add New Song Key', new_key_path, :class => 'btn btn-ghost' %>
      </div>
    <% end %>
  </div>
</section>