<% provide(:title, "ADD KEY") %>
<div class="page-title">
	<div class="container">
		<h1>Add New Key</h1>
		<p>Please enter information for all sections of the form below to enter a new key into the library.</p>
	</div>
	<div class="container">
		<%= render 'form' %>
		<%= link_to 'Back', keys_path %>
	</div>
</div>