= hidden_field_tag "search_query", params[:q]
nav#song-filter-menu
  ul
    li.category
      span GENRE
      - if genres.any?
        ul
          - genres.each do |genre|
            li
              span #{genre.name}
              input.Check.option data-category="genre" data-id=genre.id data-value=genre.name type='checkbox' /
    li.category
      span MOOD
      - if moods.any?
        ul
          - moods.each do |mood|
            li
              span #{mood.name}
              input.Check.option data-category="mood" data-id=mood.id data-value=mood.name type='checkbox' /
    li.category
      span PACE
      - if paces.any?
        ul
          - paces.each do |pace|
            li
              span #{pace.name}
              input.Check.option data-category="pace" data-id=pace.id data-value=pace.name type='checkbox' /
    li.category
      span ERA
      - if eras.any?
        ul
          - eras.each do |era|
            li
              span #{era.name}
              input.Check.option data-category="era" data-id=era.id data-value=era.name type='checkbox' /
    li.category
      span KEY
      - if keys.any?
        ul
          - keys.each do |key|
            li
              span #{key.name}
              input.Check.option data-category="key" data-id=key.id data-value=key.name type='checkbox' /
    li.category
      span TEMPO
      - if tempos.any?
        ul
          - tempos.each do |tempo|
            li
              span #{tempo.name}
              input.Check.option data-category="tempo" data-id=tempo.id data-value=tempo.name type='checkbox' /
    li.category
      span INSTRUMENT
      - if instruments.any?
        ul
          - instruments.each do |instrument|
            li
              span #{instrument.name}
              input.Check.option data-category="instrument" data-id=instrument.id data-value=instrument.name type='checkbox' /