<%= form_for(@song, :html => {multipart: true, id: 'song-form'}) do |f| %>
  <% if @song.errors.any? %>
      <% @song.errors.full_messages.each do |message| %>
        <%= js add_gritter(message, :image => :warning ) %>
      <% end %>
  <% end %>

  <div class=" song-form">

    <div class="field song-form_section">
      <label>First, select your artist name.</label>
      <%= f.select :artist_id, @artists, label: 'Artist Name' %>
    </div>  
    <div class="field song-form_section">
      <label>Next, tell us about the song.</label>
      <%= f.text_field :title, :placeholder => 'Enter Song Name' %>
      <%= f.text_area :desc, :placeholder => 'Describe The Song' %>
    </div>  

    <div class="field song-form_section">
      <label>Now, what would you call the genre?</label>
      <%= f.select :genre_id, @genres, label: 'Song Genre' %>
      <label>And how would you describe the mood?</label>
      <%= f.select :mood_id, @moods, label: 'Song Mood' %>
    </div> 

    <div class="field song-form_section">
      <label>What era does it sound like?</label>
      <%= f.select :era_id, @eras, label: 'Era / Decade' %>
      <label>How does the song's pace/energy progress?</label>
      <%= f.select :pace_id, @paces, label: 'Song Pace' %>
    </div> 

    <div class="field song-form_section">
      <label>What's the key/scale of the song?</label>
      <%= f.select :key_id, @keys, label: 'Song Key' %>
      <label>How fast or slow is the tempo?</label>
      <%= f.select :tempo_id, @tempos, label: 'Song Tempo' %>
      <label>What's the most featured instrument?</label>
      <%= f.select :instrument_id, @instruments, label: 'Main Instrument' %>
    </div>

    <div class="field song-form_section">
      <label>Now, add a square album image,</label>
      <%= f.file_field :image %>
      <br/>
      <br/>
      <label>And lastly, the high-quality WAV file.</label>
      <%= f.file_field :sample %>
      <br/>
      <br/>
      <label>Done...Upload It!!</label>
      <br/>
      <br/>
      <button type="submit" class="submitBTN">
        <span style="line-height: 40px; vertical-align: middle;">Submit Song</span>
      </button>
      <span>**Due to the size of your WAV Files, songs may take a minute or two to upload. Please dont click Submit more than once. Page will reload when upload is complete. Thank you for your patience!</span>

    </div>  

  </div>
<% end %>
