- if user_signed_in?
  - favorited = current_user.favorite_projects.exists?(id: song.id)
.pointer data-playlist="zudo" data-song-id=song.id data-song={playlist: 'zudo', title: song.title, artist: song.artist.name, url: song.sample_url(:watermark), next_id: nil, add_to_cart_path: add_to_cart_song_path(song), share_path: share_song_path(song), favorite_path: favorite_projects_path(id: song.id), unfavorite_path: favorite_project_path(id: song.id), favorited: favorited}.to_json onclick="ZudoPlayer.play('zudo', '#{song.id}')"
  .songlist-art-col
    .songRowPlay.songShow
      span.playCount data-play-id=song.id title= song.duration
        i.ion-ios-play
