table.songlist
  thead.songlistHead
    tr
      th.playHeader
      th Title
      th.hide-small-mobile Genre
      th.hide-small-mobile Mood
      th.hide-tablet Era
      th.hide-tablet Key
      th.hide-mobile.hide-small-tablet Tempo (BPM)
      th.hide-small-tablet Instrument
      th.hide-mobile Pace
      th
  tbody
    - songs.each_with_index do |song, index|
      - if song.approved?
        - if user_signed_in?
          - favorited = current_user.favorite_projects.exists?(id: song.id)
        tr.songRow.pointer
          td.songlist-art-col data-playlist="zudo" data-song-id=song.id data-song={playlist: 'zudo', title: song.title, artist: song.artist.name, url: song.sample_url(:watermark), next_id: (index == @songs.count - 1 ? nil : @songs[index + 1].id), add_to_cart_path: add_to_cart_song_path(song), share_path: share_song_path(song), favorite_path: favorite_projects_path(id: song.id), unfavorite_path: favorite_project_path(id: song.id), favorited: favorited}.to_json onclick="ZudoPlayer.play('zudo', '#{song.id}')"
            .songRowPlay 
              span.playCount data-play-id=song.id
                i.ion-ios-play
              = image_tag song.image.url, class: 'songRowArt'
          td.songlist-main-col
            = link_to song.title, song_path(song)
            br
            small= link_to song.artist.name, artist_path(song.artist), class: 'songRowArtist'
            br
            small= song.duration
          td.hide-small-mobile= song.genre.name
          td.hide-small-mobile= song.mood.name
          td.hide-tablet= song.era.name
          td.hide-tablet= song.key.name
          td.hide-mobile.hide-small-tablet= song.tempo.name
          td.hide-small-tablet= song.instrument.name
          td.hide-mobile
            = image_tag song.pace.icon.url(:thumb)
          td.storeBTNs
            = link_to share_song_path(song), data: {modal: true} do
              i.ion-ios-redo-outline
            - if user_signed_in?
              = link_to add_song_project_path(song), data: {modal: true} do
                i.ion-ios-plus-empty
            - else
              a data-must-be-logged-in=true href="#"
                i.ion-ios-plus-empty
            - if user_signed_in?
              span.favoriteProject data-status=(favorited ? 'unfavorite' : 'favorite')
                = link_to favorite_projects_path(id: song.id), method: :post, remote: true, class: 'favorite' do
                  i.ion-ios-heart-outline
                i.ion-ios-reload.loading
                = link_to favorite_project_path(id: song.id), method: :delete, remote: true, class: 'unfavorite' do
                  i.ion-ios-heart
              - if can? :manage, :all
                = link_to download_song_path(song) do
                  i.ion-ios-cloud-download-outline
              - if current_user.supervisor?
                = link_to download_song_path(song) do
                  i.ion-ios-cloud-download-outline
              = link_to add_to_cart_song_path(song), data: {modal: true} do
                i.ion-ios-cart-outline
            - else
              a data-must-be-logged-in=true href="#"
                i.ion-ios-heart-outline
              a data-must-be-logged-in=true href="#"
                i.ion-ios-cart-outline

javascript:
  $('.playCount').click(function(){
    $('.songRow').removeClass('is-playing');
    $(this).closest("tr").addClass('is-playing');
    song_id = $(this).attr("data-play-id");
    if(song_id){
      $.ajax({
        type: 'POST',
        url: '/songs/'+song_id+'/update_play_count'
      });
    }
  });

  $('.noPlayCount').click(function(){
    $('.songRow').removeClass('is-playing');
    $(this).closest("tr").addClass('is-playing');
  });
