<% set_meta_tags 	site: 	'Zudo Music Licensing for Film, TV and Video Games', 
					title: 	@artist.name, 
					reverse: true,
					description: @artist.bio,
					noindex: false,
					author:  "https://plus.google.com/u/1/117370898715446501614"
%>
<% set_meta_tags og: {
					title: 	@artist.name + ' | Zudo Music Licensing for Film, TV and Video Games',
					type:  	'website',
					url:    'http://www.zudomusic.com/',
					image:  'http://zudomusic.com/zudo_music-01-wmd-min.png',
					description: @artist.bio
} %>
<% set_meta_tags twitter: {
					card: 	"summary_large_image",
					site: 	"@ZudoMusic",
					title: 	@artist.name + " | Zudo Music Licensing for Film, TV and Video Games",
					image: 	"http://zudomusic.com/zudo_music-01-wmd-min.png",
					description: @artist.bio
} %>
<% provide(:keywords, @artist.name) %>
