= content_for :id, 'add-to-cart-modal'
= content_for :title, 'Choose a License Type'

#tabs-1
  nbsp
  div.clearfix
      ul.flexit#licenses
        li= link_to '', '#tabs-2'
        li.add-to-cart-catBTN= link_to "TV", '#tabs-3'
        li.add-to-cart-catBTN= link_to "FILM", '#tabs-4'
        li.add-to-cart-catBTN= link_to "VIDEO", '#tabs-5'
        li.add-to-cart-catBTN= link_to "YOUTUBE", '#tabs-6'
        li.add-to-cart-catBTN= link_to "PODCAST", '#tabs-7'
        li.add-to-cart-catBTN= link_to "APPS", '#tabs-8'
        li.add-to-cart-catBTN= link_to "GAMES", '#tabs-9'
        li.add-to-cart-catBTN= link_to "ADS", '#tabs-10'
        li.add-to-cart-catBTN= link_to "EVENT", '#tabs-11'
        li.add-to-cart-catBTN= link_to "EDUCATION", '#tabs-12'

  #tabs-2
    / LEAVE EMPTY

  #tabs-3
    h2.center Web-Only TV
    li.cart-choice= link_to 'Webisode TV (<30 sec) | $129.00', add_to_cart_song_path(@song, license: 'tv-webisode-30'), method: :post
    li.cart-choice= link_to 'Webisode TV (<60 sec) | $159.00', add_to_cart_song_path(@song, license: 'tv-webisode-60'), method: :post
    li.cart-choice= link_to 'Webisode TV (<90 sec) | $189.00', add_to_cart_song_path(@song, license: 'tv-webisode-90'), method: :post
    li.cart-choice= link_to 'Webisode TV (>90 sec) | $219.00', add_to_cart_song_path(@song, license: 'tv-webisode-full'), method: :post
    li.cart-choice= link_to 'Webisode TV (Credits) | $279.00', add_to_cart_song_path(@song, license: 'tv-webisode-credits'), method: :post
    li.cart-choice= link_to 'Webisode TV (Theme/Trailer) | $399.00', add_to_cart_song_path(@song, license: 'tv-webisode-theme'), method: :post

    h2.center Network TV
    li.cart-choice= link_to 'Network TV (<30 sec) | $279.00', add_to_cart_song_path(@song, license: 'tv-network-30'), method: :post
    li.cart-choice= link_to 'Network TV (<60 sec) | $399.00', add_to_cart_song_path(@song, license: 'tv-network-60'), method: :post
    li.cart-choice= link_to 'Network TV (<90 sec) | $429.00', add_to_cart_song_path(@song, license: 'tv-network-90'), method: :post
    li.cart-choice= link_to 'Network TV (>90 sec) | $699.00', add_to_cart_song_path(@song, license: 'tv-network-full'), method: :post
    li.cart-choice= link_to 'Network TV (Credits) | $999.00', add_to_cart_song_path(@song, license: 'tv-network-credits'), method: :post
    li.cart-choice= link_to 'Network TV (Theme/Trailer) | $1299.00', add_to_cart_song_path(@song, license: 'tv-network-theme'), method: :post


  #tabs-4
    h2.center Indie Film Festival
    li.cart-choice= link_to 'Indie Film Festival (No Web) | $159.00', add_to_cart_song_path(@song, license: 'film-indie-fest'), method: :post     
    li.cart-choice= link_to 'Indie Film Festival + Web | $189.00', add_to_cart_song_path(@song, license: 'film-indie-fest-web'), method: :post     
    li.cart-choice= link_to 'Indie Film Festival (Credits) | $249.00', add_to_cart_song_path(@song, license: 'film-indie-fest-credits'), method: :post     
    li.cart-choice= link_to 'Indie Film Festival (Trailer) | $279.00', add_to_cart_song_path(@song, license: 'film-indie-fest-trailer'), method: :post

    h2.center Indie Film Distribution
    li.cart-choice= link_to 'Indie Film Distribution | $399.00', add_to_cart_song_path(@song, license: 'film-indie-dist'), method: :post     
    li.cart-choice= link_to 'Indie Film Distribution (Credits) | $519.00', add_to_cart_song_path(@song, license: 'film-indie-dist-credits'), method: :post     
    li.cart-choice= link_to 'Indie Film Distribution (Trailer) | $579.00', add_to_cart_song_path(@song, license: 'film-indie-dist-trailer'), method: :post     

    h2.center Studio Feature Film
    li.cart-choice= link_to 'Studio Film | $999.00', add_to_cart_song_path(@song, license: 'film-studio'), method: :post     
    li.cart-choice= link_to 'Studio Film (Credits) | $1299.00', add_to_cart_song_path(@song, license: 'film-studio-credits'), method: :post     
    li.cart-choice= link_to 'Studio Film (Trailer) | $1599.00', add_to_cart_song_path(@song, license: 'film-studio-trailer'), method: :post     


  #tabs-5
    h2.center Personal Video
    li.cart-choice= link_to 'Personal Video (Web & Print) | $39.00', add_to_cart_song_path(@song, license: 'video-personal'), method: :post

    h2.center Professional Video
    li.cart-choice= link_to 'Professional Video (Web Only) | $69.00', add_to_cart_song_path(@song, license: 'video-professional-web'), method: :post
    li.cart-choice= link_to 'Professional Video (Web & Print) | $99.00', add_to_cart_song_path(@song, license: 'video-professional-print'), method: :post

    h2.center Crowdfunding Video
    li.cart-choice= link_to 'Crowdfunding (<5k goal) | $69.00', add_to_cart_song_path(@song, license: 'video-crowdfund-5k'), method: :post
    li.cart-choice= link_to 'Crowdfunding (<20k goal) | $189.00', add_to_cart_song_path(@song, license: 'video-crowdfund-20k'), method: :post
    li.cart-choice= link_to 'Crowdfunding (<50k goal) | $369.00', add_to_cart_song_path(@song, license: 'video-crowdfund-50k'), method: :post
    li.cart-choice= link_to 'Crowdfunding (<80k goal) | $489.00', add_to_cart_song_path(@song, license: 'video-crowdfund-80k'), method: :post
    li.cart-choice= link_to 'Crowdfunding (<100k goal) | $579.00', add_to_cart_song_path(@song, license: 'video-crowdfund-100k'), method: :post
    li.cart-choice= link_to 'Crowdfunding (>100k goal) | $759.00', add_to_cart_song_path(@song, license: 'video-crowdfund-xl'), method: :post


  #tabs-6
    h2.center YouTube (Social Media Video)
    li.cart-choice= link_to 'YouTube/Social (<1k Subscribers) | $24', add_to_cart_song_path(@song, license: 'youtube'), method: :post
    li.cart-choice= link_to 'YouTube/Social (>1k Subscribers) | $39', add_to_cart_song_path(@song, license: 'youtube-1k'), method: :post
    li.cart-choice= link_to 'YouTube/Social (>10k Subscribers) | $69', add_to_cart_song_path(@song, license: 'youtube-10k'), method: :post
    li.cart-choice= link_to 'YouTube/Social (>100k Subscribers) | $129', add_to_cart_song_path(@song, license: 'youtube-100k'), method: :post
    li.cart-choice= link_to 'YouTube/Social (>1M Subscribers) | $219', add_to_cart_song_path(@song, license: 'youtube-1M'), method: :post
    li.cart-choice= link_to 'YouTube/Social (<10k Subscribers) | $189', add_to_cart_song_path(@song, license: 'youtube-theme'), method: :post
    li.cart-choice= link_to 'YouTube/Social (>10k Subscribers) | $399', add_to_cart_song_path(@song, license: 'youtube-theme-10k'), method: :post
    li.cart-choice= link_to 'YouTube/Social (>100k Subscribers) | $549', add_to_cart_song_path(@song, license: 'youtube-theme-100k'), method: :post


  #tabs-7
    h2.center Podcasts
    li.cart-choice= link_to 'Podcast (<1k Subscribers) | $24', add_to_cart_song_path(@song, license: 'podcast'), method: :post
    li.cart-choice= link_to 'Podcast (>1k Subscribers) | $39', add_to_cart_song_path(@song, license: 'podcast-1k'), method: :post
    li.cart-choice= link_to 'Podcast (>10k Subscribers) | $69', add_to_cart_song_path(@song, license: 'podcast-10k'), method: :post
    li.cart-choice= link_to 'Podcast (>100k Subscribers) | $129', add_to_cart_song_path(@song, license: 'podcast-100k'), method: :post
    li.cart-choice= link_to 'Podcast (>1M Subscribers) | $219', add_to_cart_song_path(@song, license: 'podcast-1M'), method: :post
    li.cart-choice= link_to 'Podcast (<10k Subscribers) | $189', add_to_cart_song_path(@song, license: 'podcast-theme'), method: :post
    li.cart-choice= link_to 'Podcast (>10k Subscribers) | $399', add_to_cart_song_path(@song, license: 'podcast-theme-10k'), method: :post
    li.cart-choice= link_to 'Podcast (>100k Subscribers) | $549', add_to_cart_song_path(@song, license: 'podcast-theme-100k'), method: :post


  #tabs-8
    h2.center Mobile Apps
    li.cart-choice= link_to 'Mobile App (Free) | $129.00', add_to_cart_song_path(@song, license: 'app-free'), method: :post
    li.cart-choice= link_to 'Mobile App (Paid) | $249.00', add_to_cart_song_path(@song, license: 'app-paid'), method: :post
    li.cart-choice= link_to 'Mobile App (Subscription) | $339.00', add_to_cart_song_path(@song, license: 'app-subscription'), method: :post


  #tabs-9
    h2.center Indie Video Games
    li.cart-choice= link_to 'Indie PC Game | $99.00', add_to_cart_song_path(@song, license: 'game-indie-pc'), method: :post
    li.cart-choice= link_to 'Indie Mobile Game | $129.00', add_to_cart_song_path(@song, license: 'game-indie-mobile'), method: :post
    li.cart-choice= link_to 'Indie Console Game | $189.00', add_to_cart_song_path(@song, license: 'game-indie-console'), method: :post

    h2.center Studio Video Games
    li.cart-choice= link_to 'Studio PC Game | $279.00', add_to_cart_song_path(@song, license: 'game-studio-pc'), method: :post
    li.cart-choice= link_to 'Studio Mobile Game | $399.00', add_to_cart_song_path(@song, license: 'game-studio-mobile'), method: :post
    li.cart-choice= link_to 'Studio Console Game | $699.00', add_to_cart_song_path(@song, license: 'game-studio-console'), method: :post


  #tabs-10
    h2.center Local Advertisement
    li.cart-choice= link_to 'Local Advertising (<30 sec) | $399.00', add_to_cart_song_path(@song, license: 'ads-local-30'), method: :post
    li.cart-choice= link_to 'Local Advertising (<60 sec) | $549.00', add_to_cart_song_path(@song, license: 'ads-local-60'), method: :post
    li.cart-choice= link_to 'Local Advertising (>60 sec) | $999.00', add_to_cart_song_path(@song, license: 'ads-local-90'), method: :post

    h2.center National Advertisement
    li.cart-choice= link_to 'National Advertising (<30 sec) | $999.00', add_to_cart_song_path(@song, license: 'ads-national-30'), method: :post
    li.cart-choice= link_to 'National Advertising (<60 sec) | $1299.00', add_to_cart_song_path(@song, license: 'ads-national-60'), method: :post
    li.cart-choice= link_to 'National Advertising (>60 sec) | $1599.00', add_to_cart_song_path(@song, license: 'ads-national-90'), method: :post

    h2.center Non-Profit Advertisement
    li.cart-choice= link_to 'Local Non-Profit | $129.00', add_to_cart_song_path(@song, license: 'ads-non-profit-local'), method: :post
    li.cart-choice= link_to 'Regional Non-Profit | $299.00', add_to_cart_song_path(@song, license: 'ads-non-profit-regional'), method: :post
    li.cart-choice= link_to 'National Non-Profit | $549.00', add_to_cart_song_path(@song, license: 'ads-non-profit-national'), method: :post
    li.cart-choice= link_to 'International Non-Profit | $699.00', add_to_cart_song_path(@song, license: 'ads-non-profit-international'), method: :post


  #tabs-11
    h2.center Corporate Event/Video
    li.cart-choice= link_to 'Corporate (<100 employees) | $189.00', add_to_cart_song_path(@song, license: 'corporate-event-100'), method: :post
    li.cart-choice= link_to 'Corporate (<1k employees) | $369.00', add_to_cart_song_path(@song, license: 'corporate-event-1k'), method: :post
    li.cart-choice= link_to 'Corporate (<2500 employees) | $579.00', add_to_cart_song_path(@song, license: 'corporate-event-2500'), method: :post
    li.cart-choice= link_to 'Corporate (<5k employees) | $729.00', add_to_cart_song_path(@song, license: 'corporate-event-5k'), method: :post
    li.cart-choice= link_to 'Corporate (>5k employees) | $999.00', add_to_cart_song_path(@song, license: 'corporate-event-xl'), method: :post


  #tabs-12
    h2.center Student Film
    li.cart-choice= link_to 'Student Film Project (no Web) | $24.00', add_to_cart_song_path(@song, license: 'film-student-project'), method: :post
    li.cart-choice= link_to 'Student Film Festival (no Web) | $99.00', add_to_cart_song_path(@song, license: 'film-student-festival'), method: :post

    h2.center Educational Video
    li.cart-choice= link_to '**Educational-Use Video (<30 sec) | $39.00', add_to_cart_song_path(@song, license: 'educational-video-30'), method: :post
    li.cart-choice= link_to '**Educational-Use Video (<90 sec) | $69.00', add_to_cart_song_path(@song, license: 'educational-video-90'), method: :post
    li.cart-choice= link_to '**Educational-Use Video (>90 sec) | $99.00', add_to_cart_song_path(@song, license: 'educational-video-full'), method: :post



.center.add-to-cart-foot
  p 
    | ** Educational-Use licenses permit only limited web use as outlined in the license agreement. 
  p If you don't see the right license to fit your project needs, please call us toll free at +1 (844) I-AM-ZUDO or
  = link_to 'CONTACT US', new_contact_path, class: 'btn btn-ghost'

