<% set_meta_tags 	site: 'Zudo', 
					title: 'SONGS ADMIN', 
					reverse: true,
					description: "Song Administration Page for Zudo Music Web App.",
					noindex: true
%>

<div class="page-title">
  <div class="container">
    <h1>Edit Songs</h1>
    <p>A list of all songs in the database.</p>
  </div>
</div>
	<div class="songadminTableWrap">
		<table>
			<tbody>
				<th class="songadminTH">
					<tr style="border-bottom: 2px solid #eee;font-weight:400;">
						<td>ID</td>
						<td>Title</td>
						<td>Artist</td>
						<td>Genre</td>
						<td>Mood</td>
						<td>Pace</td>
						<td>Era</td>
						<td>Instrument</td>
						<td>Key</td>
						<td>Tempo</td>
						<td>Approved</td>
						<td>&nbsp;</td>
					</tr>
				</th>
				<% @songs.each do |song| %>
					<tr class="songadminTR" style="">
						<td style="padding-left:5px;">
							<%= song.id %>
						</td>
						<td>
							<p style="text-align:left;"><em><%= song.title %></em></p>
						</td>
						<%= form_for(song, html: { method: :put }) do |f| %>
							<td>
							    <%= f.select :artist_id, @artists, label: 'Artist Name' %>
							</td>
							<td>
							    <%= f.select :genre_id, @genres, label: 'Song Genre' %>
							</td>
							<td>
							    <%= f.select :mood_id, @moods, label: 'Song Mood' %>
							</td>
							<td>
							    <%= f.select :pace_id, @paces, label: 'Song Pace' %>
							</td>
							<td>
							    <%= f.select :era_id, @eras, label: 'Era / Decade' %>
							</td>
							<td>
							    <%= f.select :instrument_id, @instruments, label: 'Main Instrument' %>
							</td>
							<td>
							    <%= f.select :key_id, @keys, label: 'Song Key' %>
							</td>
							<td>
							    <%= f.select :tempo_id, @tempos, label: 'Song Tempo' %>
							</td>
							<td>
							    <%= f.check_box :approved %>
							</td>
							<td>
							    <button type="submit" class="songadminBTN">
							      <span><strong>Update</strong></span>
							    </button>
							</td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
