.page-title
	.container
		h1 Approve / Deny Songs
		p 
			| A list of 
			= @unapproved_songs_count 
			|  Unapproved songs in the database.
table.songlist
	thead.songlistHead
		tr
			th.playHeader
			th ID
			th Title
			th Uploaded
			th Genre
			th Mood
			th Era
			th Key
			th Instrument
			th Pace
			th &nbsp;
	tbody
		- @songs.each_with_index do |song, index|
			tr.songRow.pointer
				td.songlist-art-col data-playlist="zudo" data-song-id=song.id data-song={playlist: 'zudo', title: song.title, artist: song.artist.name, url: song.sample_url(:watermark), next_id: (index == @songs.count - 1 ? nil : @songs[index + 1].id)}.to_json onclick="ZudoPlayer.play('zudo', '#{song.id}')"
					.songRowPlay 
						span.noPlayCount data-play-id=song.id
							i.ion-ios-play
						= image_tag song.image.url, class: 'songRowArt'
				td = song.id
				td
					= link_to song.title, song_path(song)
					br
					small= link_to song.artist.name, artist_path(song.artist), class: 'songRowArtist'
					br
					small= song.duration
				td= song.created_at.to_formatted_s(:short)
				td= song.genre.name
				td= song.mood.name
				td= song.era.name
				td= song.key.name
				td= song.instrument.name
				td
					= image_tag song.pace.icon.url(:thumb)
				td.storeBTNs
					= link_to "Approve", approve_deny_song_path(song.id, status: 'a'), method: :post, remote: true, class: "link-#{song.id}"
					= link_to " | Deny", deny_song_path(song.id), class: "link-#{song.id}", data: {modal: true}

= paginate @songs