.page-title
	.container
		h1 Denied Songs
		p A list of Denied songs in the database.
table.songlist
  thead.songlistHead
    tr
      th ID
      th Title
      th Artist
      th Denied
      th Reason
  tbody
    - @denied_songs.each_with_index do |song, index|
      tr.songRow.pointer
        td= song.id
        td= song.title
        td= link_to song.artist.name, artist_path(song.artist), class: 'songRowArtist'
        td= song.created_at.to_formatted_s(:short)
        td= song.reason