= content_for :id, 'share-song-modal'
= content_for :title, 'Deny ' + @song.title

p Please tell us the reason why do you want to deny this song

div.center
  = form_tag(approve_deny_song_path(@song.id, status: 'd'), method: :post, remote: true)
    = text_area_tag "reason", nil, required: false, row: 10, cols: 50
    = submit_tag "Deny", class: 'btn', data: {disable_with: "Processing..."}
