<% set_meta_tags 	site: 	'Zudo Music Licensing for Film, TV and Video Games', 
					title: 	'EDIT SONG', 
					reverse: true,
					description: "This page is for registered Zudo Artists to edit the info for their songs currently uploaded to the Zudo production music library.",
					noindex: false,
					author:  "https://plus.google.com/u/1/117370898715446501614"
%>
<% set_meta_tags og: {
					title: 	'EDIT SONG | Zudo Music Licensing for Film, TV and Video Games',
					type:  	'website',
					image:  'http://zudomusic.com/zudo_music-01-wmd-min.png',
					description: "This page is for registered Zudo Artists to edit the info for their songs currently uploaded to the Zudo production music library."
} %>
<% set_meta_tags twitter: {
					card: 	"summary_large_image",
					site: 	"@ZudoMusic",
					title: 	"EDIT SONG | Zudo Music Licensing for Film, TV and Video Games",
					image: 	"http://zudomusic.com/zudo_music-01-wmd-min.png",
					description: "This page is for registered Zudo Artists to edit the info for their songs currently uploaded to the Zudo production music library."
} %>

<div class="page-title">
	<div class="container">
		<h1>Edit Song</h1>
		<p>Please enter information for all sections of the form below to edit this song.</p>
	</div>
	<div class="container">
		<%= render 'form' %>
	</div>
</div>