- set_meta_tags  site:   'Zudo Music Licensing for Film, TV and Video Games', 
          title:  'MY FAVORITES', 
          reverse: true,
          description: "Here is a list personalized playlist of all of your favorite songs. In order to add songs to this list, tap the 1.ion-ios-hearHEART icon and all of your chosen favorite songs will appear here.",
          noindex: false,
          canonical:"http://www.zudomusic.com/favorites",
          author:  "https://plus.google.com/u/1/117370898715446501614"
- set_meta_tags og: { title:  'MY FAVORITES | Zudo Music Licensing for Film, TV and Video Games',
          type:   'website',
          url:    'http://www.zudomusic.com/favorites',
          image:  'http://zudomusic.com/zudo_music-01-wmd-min.png',
          description: "Here is a list personalized playlist of all of your favorite songs. In order to add songs to this list, tap the 1.ion-ios-hearHEART icon and all of your chosen favorite songs will appear here."}
- set_meta_tags twitter: { card:   "summary_large_image",
          site:   "@ZudoMusic",
          title:  "MY FAVORITES | Zudo Music Licensing for Film, TV and Video Games",
          image:  "http://zudomusic.com/zudo_music-01-wmd-min.png",
          description: "Here is a list personalized playlist of all of your favorite songs. In order to add songs to this list, tap the HEART icon and all of your chosen favorite songs will appear here."}
- provide(:keywords, "Music Library")

.page-title
  .center.container
    h1
      | My Favorites
    p
      | Welcome to your very own personalized playlist. Simply click the 
      i.ion-ios-heart-outline
      |  to add your favorite songs to this playlist and find them easily any time!
section.section#favorites-page
  = render 'songlist', songs: @songs
  = paginate @songs