- set_meta_tags  site:   'Zudo Music Licensing for Film, TV and Video Games', 
          title:  'MUSIC LIBRARY', 
          reverse: true,
          description: "Browse our Music Library with a huge of Stock and Production Music Ready for Sync Licensing in Film, TV, Ads, Video Games and New Media.",
          noindex: false,
          canonical:"http://www.zudomusic.com/play",
          author:  "https://plus.google.com/u/1/117370898715446501614"
- set_meta_tags og: { title:  'MUSIC LIBRARY | Zudo Music Licensing for Film, TV and Video Games',
          type:   'website',
          url:    'http://www.zudomusic.com/play',
          image:  'http://zudomusic.com/zudo_music-01-wmd-min.png',
          description: "Browse our Music Library with a huge of Stock and Production Music Ready for Sync Licensing in Film, TV, Ads, Video Games and New Media."}
- set_meta_tags twitter: { card:   "summary_large_image",
          site:   "@ZudoMusic",
          title:  "MUSIC LIBRARY | Zudo Music Licensing for Film, TV and Video Games",
          image:  "http://zudomusic.com/zudo_music-01-wmd-min.png",
          description: "Browse our Music Library with a huge of Stock and Production Music Ready for Sync Licensing in Film, TV, Ads, Video Games and New Media."}
- provide(:keywords, "Music Library")

= render 'filters', genres: @genres, moods: @moods, paces: @paces, eras: @eras, keys: @keys, tempos: @tempos, instruments: @instruments

#libraryPage
  .header.clearfix
    a.show-hide-filters.animated.shake.btn href="#song-filter-menu" style="margin:0;padding:0"
      i.ion-ios-search-strong.search-icon
      | Filters 
    input#tags type="text" /
    div style="clear: both;"
    = form_tag play_path, class: "searchbar", method: :get
      = text_field_tag "q", params[:q], placeholder: 'Search Zudo', id: "searchbar"
      input type="submit" value="SEARCH"
  .songlist-wrapper
    div data-pjax-container=true
      .song-render
        = render 'songlist', songs: @songs
      #paginator
        = paginate @songs, pjax: true, remote: true
        
  - if @after_sign_up
    coffee:
      $ ->
        $.get '/share_zudo', (data)->
          $('#modal-holder').html(data).find('.reveal-modal').reveal()
          return
        return