$('.song-render').html("<%= j(render(partial: 'songs/songlist', locals: {songs: @songs})) %>")
$('#paginator').html("<%= escape_javascript(paginate(@songs, remote: true, pjax: true)) %>");
//update play counts for songs
$('.playCount').click(function(){
	$('.songRow').removeClass('is-playing');
	$(this).closest("tr").addClass('is-playing');
  song_id = $(this).attr("data-play-id");
  if(song_id){
    $.ajax({
      type: 'POST',
      url: '/songs/'+song_id+'/update_play_count'
    });
  }
});