<% set_meta_tags 	site: 	'Zudo Music Licensing for Film, TV and Video Games', 
					title: 	'ADD SONG', 
					reverse: true,
					description: "This page is for registered Zudo Artists to upload their songs and new music to the Zudo production music library.",
					noindex: false,
					canonical:"http://www.zudomusic.com/songs/new",
					author:  "https://plus.google.com/u/1/117370898715446501614"
%>
<% set_meta_tags og: {
					title: 	'ADD SONG | Zudo Music Licensing for Film, TV and Video Games',
					type:  	'website',
					url:    'http://www.zudomusic.com/songs/new',
					image:  'http://zudomusic.com/zudo_music-01-wmd-min.png',
					description: "This page is for registered Zudo Artists to upload their songs and new music to the Zudo production music library."
} %>
<% set_meta_tags twitter: {
					card: 	"summary_large_image",
					site: 	"@ZudoMusic",
					title: 	"ADD SONG | Zudo Music Licensing for Film, TV and Video Games",
					image: 	"http://zudomusic.com/zudo_music-01-wmd-min.png",
					description: "This page is for registered Zudo Artists to upload their songs and new music to the Zudo production music library."
} %>

<div class="page-title">
	<div class="container">
		<h1>Add A Song</h1>
		<p>
			Please enter information for all sections of the form below to enter a new song into the library. 
			<br><strong>Leaving ANY fields empty will cause your upload to fail!</strong>
		</p>
	</div>
	<div class="container">
		<%= render 'form' %>
	</div>
</div>