- set_meta_tags  site:   'Zudo Music Licensing for Film, TV and Video Games', 
          title:  'MY STUDIO', 
          reverse: true,
          description: "Use this artist admin page to add new music to your profile and manage the songs you already have uploaded to the Zudo Music Library.",
          noindex: false,
          canonical:"http://www.zudomusic.com/studio",
          author:  "https://plus.google.com/u/1/117370898715446501614"
- set_meta_tags og: { title:  'MY STUDIO | Zudo Music Licensing for Film, TV and Video Games',
          type:   'website',
          url:    'http://www.zudomusic.com/studio',
          image:  'http://zudomusic.com/zudo_music-01-wmd-min.png',
          description: "Use this artist admin page to add new music to your profile and manage the songs you already have uploaded to the Zudo Music Library."}
- set_meta_tags twitter: { card:   "summary_large_image",
          site:   "@ZudoMusic",
          title:  "MY STUDIO | Zudo Music Licensing for Film, TV and Video Games",
          image:  "http://zudomusic.com/zudo_music-01-wmd-min.png",
          description: "Use this artist admin page to add new music to your profile and manage the songs you already have uploaded to the Zudo Music Library."}

.page-title
  .center.container
    h1 My Studio
    - if can? :create, Song
      = link_to '+ ADD NEW SONG', new_song_path, data: { no_turbolink: true }, :class => 'btn btn-ghost'
section.catPlayerWrap
  table.songlist
    thead.songlistHead
      tr
        th.playHeader Artwork
        th Title
        th.hide-small-mobile Genre
        th.hide-small-mobile Mood
        th.hide-tablet Era
        th.hide-tablet Key
        th.hide-mobile.hide-small-tablet Tempo
        th.hide-small-tablet Instrument
        th.hide-mobile Pace
        th Favorites
        th Plays
    tbody
      - @songs.each_with_index do |song, index|
        tr.songRow.pointer data-playlist="zudo" data-song-id=song.id data-song={playlist: 'zudo', title: song.title, artist: song.artist.name, url: song.sample_url(:watermark), next_id: (index == @songs.count - 1 ? nil : @songs[index + 1].id)}.to_json onclick="ZudoPlayer.play('zudo', '#{song.id}'), url:'/increment.json'"
          td.songlist-art-col
            .songRowPlay 
              span.noPlayCount
                i.ion-ios-play
                = image_tag song.image.url, class: 'songRowArt'
          td.songlist-main-col 
            = link_to song.title, song_path(song.id)
            br
            small= link_to song.artist.name, artist_path(song.artist), class: 'songRowArtist'
            br
            small= song.duration          
          td.hide-small-mobile= song.genre.name
          td.hide-small-mobile= song.mood.name
          td.hide-tablet= song.era.name
          td.hide-tablet= song.key.name
          td.hide-mobile.hide-small-tablet= song.tempo.name
          td.hide-small-tablet= song.instrument.name
          td.hide-mobile
            = image_tag song.pace.icon.url(:thumb)
          td
            = song.favorites_count
          td
            = song.play_count
          td.storeBTNs
            = link_to "View", song, :class => 'hide-mobile'
            |  | 
            = link_to "Edit", edit_song_path(song)
            |  | 
            = link_to "Delete", song, method: :delete, data: { confirm: 'Are you sure?' }

  = paginate @songs