= content_for :id, 'share-song-modal'
= content_for :title, 'Share ' + @song.title + ' by ' + @song.artist.name

p Tell your friends and followers about this song

div.center
	= link_to @song.facebook_share_link, target: '_blank', class: 'social-icon' do
	  = image_tag 'facebook.svg'

	= link_to @song.twitter_share_link, target: '_blank', class: 'social-icon' do
	  = image_tag 'twitter.svg'

	= link_to @song.google_plus_share_link, target: '_blank', class: 'social-icon' do
	  = image_tag 'google-plus.svg'