<% set_meta_tags  site:   'Zudo Music Licensing for Film, TV and Video Games', 
                  title:  @song.title, 
                  reverse: true,
                  description: @song.desc,
                  noindex: false,
                  author:  "https://plus.google.com/u/1/117370898715446501614"
%>
<% set_meta_tags  twitter: {
                  card:   "summary_large_image",
                  site:   "@ZudoMusic",
                  title:  "License " + @song.title + ' by ' + @song.artist.name + ' for Film, TV and Video Games',
                  image:  @song.artist.image.url,
                  description: @song.desc
} %>
<% provide(:keywords, @song.title_with_artist) %>

<% set_meta_tags og: @song.og_meta_tags %>

<div class="artistHead section">
  <div class="artistHeroIMG" style="background-image: url(<%= @song.artist.image %>);">
  </div>
  <div class="artistHeroColor">
  </div>
  <div class="artistHeroBox">
    <div class="container group">
      <div class="artistHeadIMG col span_4_of_12">
        <div class="artistBubble" style="background-image: url(<%= @song.image %>);">
          <div class="container group songShowBTN">
            <%= render partial: "songs/player", locals: {song: @song} %>     
          </div>
        </div>
        <table class="artistStats hide-mobile">
          <tr>
            <td class="tablelabel"> ARTIST | </td>
            <td><strong><%= @song.artist.name %></strong></td>
          </tr>
          <tr>
            <td class="tablelabel"> GENRE | </td>
            <td><strong><%= @song.genre.name %></strong></td>
          </tr>
          <tr>
            <td class="tablelabel"> MOOD | </td>
            <td><strong><%= @song.mood.name %></strong></td>
          </tr>
          <tr>
            <td class="tablelabel"> PACE | </td>
            <td><strong><%= @song.pace.name %></strong></td>
          </tr>
          <tr>
            <td class="tablelabel"> ERA | </td>
            <td><strong><%= @song.era.name %></strong></td>
          </tr>
          <tr>
            <td class="tablelabel"> TEMPO | </td>
            <td><strong><%= @song.tempo.name %></strong></td>
          </tr>
          <tr>
            <td class="tablelabel"> KEY | </td>
            <td><strong><%= @song.key.name %></strong></td>
          </tr>
          <tr>
            <td class="tablelabel"> INSTRUMENT | </td>
            <td><strong><%= @song.instrument.name %></strong></td>
          </tr>
        </table>
      </div>
      <div class="artistHeadBio col span_8_of_12">
        <h1 class="artistHeroName">
          <%= @song.title %>
        </h1>
        <div class="col span_7_of_12">
          <% if user_signed_in? %>
            <%= link_to add_to_cart_song_path(@song), data: {modal: true} do %>
              <div class="btn btn-ghost licenseBTN">LICENSE THIS TRACK</div>
            <% end %>
            <%= link_to share_song_path(@song), data: {modal: true} do %>
              <i class="ion-ios-upload-outline"></i>
            <% end %>
          <% else %>
            <a href='#', data-must-be-logged-in=true>
              <div class="btn btn-ghost licenseBTN">LICENSE THIS TRACK</div>
            </a>
            <%= link_to share_song_path(@song), data: {modal: true} do %>
              <i class="ion-ios-upload-outline"></i>
            <% end %>
          <% end %><br /> 
        </div>
        <div class="songDescScroll clearfix hide-mobile">
          <%= simple_format @song.desc %>
        </div>
        <% if can? :update, @song %>
          <div class="center">
            <%= link_to "EDIT SONG INFO", edit_song_path, :class => 'btn' %>
            <%= link_to "ADD NEW SONG", new_song_path, :class => 'btn' %>    
            <% if can? :manage, :all %> | 
              <%= link_to 'Delete Song', song_path(@song), method: :delete, data: { confirm: "For Realz?!"} %>
            <% end %>          
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<section class="section offWhite">
  <div class="container group songArtistInfo">
    <div class="col span_4_of_12 songArtistBioIMG">
      <%= image_tag @song.artist.image.url(:medium) %>
    </div>
    <div class="col span_8_of_12 songArtistBio">
      <h2 class="center">About <%= @song.artist.name %></h2>
      <p class="artistBio">
        <%= @song.artist.bio %>
      </p>
    </div>
  </div>
</section>
<section class="catPlayerWrap">
  <%= render 'songs/songlist', songs: @songs %>
  <%= paginate @songs %>
</section>
<%= render 'artists/similar' %>
