<div class="center">
	<% if user_signed_in? %>
		<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-ghost animated shake', id: 'home-cta-btn' %>
	<% else %>
		<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-blue' %>
		<%= link_to "SIGNUP FREE", signup_path, class: 'btn btn-green' %>
	<% end %>
<!--
	<p>
		Signup for FREE to use all of our cool features like songs to your own personalized 'Favorites' playlist, access licensing options and download songs instantly!
	</p>
-->
</div>
