<% set_meta_tags 	site: 'Zudo Music Licensing for Film, TV and Video Games', 
					title: 'MUSIC LICENSING', 
					reverse: true,
					description: "Zudo is a Music Licensing Company for Film, TV, Advertising and Games. As one of the newest Music Licensing Companies around, Team Zudo means business.",
					noindex: false,
					canonical: "http://www.zudomusic.com/about",
					author: "https://plus.google.com/u/1/117370898715446501614"
%>
<% set_meta_tags og: {
					title:    'MUSIC LICENSING | Zudo Music Licensing for Film, TV and Games.',
					type:     'website',
					url:      'http://www.zudomusic.com/about',
					image:    image_url('zudo_music-01-wmd-min.png'),
					description: "Zudo is a Music Licensing Company for Film, TV, Advertising and Games. As one of the newest Music Licensing Companies around, Team Zudo means business."
} %>
<% set_meta_tags twitter: {
					card: "summary_large_image",
					site: "@ZudoMusic",
					title: "Zudo Music Licensing for Film, TV and Video Games.",
					image: image_url('zudo_music-01-wmd-min.png'),
					description: "Zudo is a Music Licensing Company for Film, TV, Advertising and Games. As one of the newest Music Licensing Companies around, Team Zudo means business."
} %>
<% provide(:keywords, "Music Licensing Company") %>

<div id="hero-about">
	<div class="container">
		<h1>MUSIC LICENSING COMPANY</h1>
		<p>Zudo is a Music Licensing Company for Film, TV, Advertising and Video Game industries.  We specialize in providing sync licenses for music by our team of independent composers musicians. As one of the newest Music Licensing Companies around, Team Zudo means business!</p>
		<div class="center">
			<% if user_signed_in? %>
				<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-ghost animated shake', id: 'home-cta-btn' %>
			<% else %>
				<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-blue' %>
				<%= link_to "SIGNUP FREE", signup_path, class: 'btn btn-green' %>
			<% end %>
		</div>
	</div>
</div>

<section class="section home-sect-4 page-sect blue">
	<div class="js--wp-4">
		<h2>Your Personal Music Licensing Company</h2>
		<div class="center pc-video" style="max-width:640px">
			<video id="video1" preload="auto"  loop="loop" width="100%">
		  		<source src="http://zudomusic.com/Zudo-Sync_Music.mp4" type="video/mp4">
		  		<source src="http://www.youtube.com/watch?v=XuxWZGzN75A" type="video/youtube">
		  		<source src="http://zudomusic.com/Zudo-Sync_Music.webm" type="video/webm">
			</video>
		</div>
		<div class="center mobile-video" style="max-width:480px">
			<iframe width="100%" height="270" src="https://www.youtube.com/embed/XuxWZGzN75A?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>		
		<p style="text-align:center;">You are a filmmaker, and every frame means the world to you.<br />Access our global network of independent composers and musicians.<br />At Zudo Music, every note means the world to us.</p>
	</div>
</section>

<%= render 'playlists/mixtapes' %>

<section class="section page-sect home-sect-1 js--wp-1 offWhite">
	<div class="">
		<h2>What Does Zudo Do?</h2>
		<p>Music Licensing Companies do a lot of important things behind the scenes. The most important of those things is placing great music in films, tv shows, advertisements, video games, advertisements and even corporate video productions. All media producers need a music licensing company like Zudo on their side. At Zudo Music, we’ve pre-cleared sync licensing deals with all of the independent artists in our music library. That means we take the hassle out of the licensed music process for you and your company.</p>
	</div>
</section>

<section class="section about-sect-3 page-sect">
	<div class="js--wp-3">
		<h2><em>"At Zudo Music, Every Note Means the World to Us."</em></h2>
	</div>
</section>

<section class="section home-sect-2 page-sect green">
	<div class='js--wp-2'>
		<h2>Why Choose Zudo Music?</h2>
		<div class="center pc-video" style="max-width:640px">
			<video id="video1" preload="auto"  loop="loop" width="100%">
		  		<source src="http://zudomusic.com/Zudo-Every_Note.mp4" type="video/mp4">
		  		<source src="http://www.youtube.com/watch?v=TvesZuJXjVY" type="video/youtube">
		  		<source src="http://zudomusic.com/Zudo-Every_Note.webm" type="video/webm">
			</video>
		</div>
		<div class="center mobile-video" style="max-width:480px">
			<iframe width="100%" height="270" src="https://www.youtube.com/embed/TvesZuJXjVY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>		
		<p>There are a lot of Music Licensing Companies out there, and many of the operate the same. What sets Zudo Music Licensing apart from the other companies is our custom library filtering software that makes it easier for you to find the right music to fit the mood of your scene. Search through thousands of songs quickly by genre, mood, instrument, pace, tempo and more! Once you find the perfect track, simply add the license that fits your project needs to your cart and download your song file immediately.</p>
	</div>
</section>

<section class="section home-sect-4 page-sect offWhite">
	<div class="js--wp-4">
		<h2>A License for Every Production!</h2>
		<p>Are you directing your first Independent Short Film? No problem! Our Affordable Indie Film Music License keeps you legally covered for Film Festival and Internet Screenings. Got a big studio budget? Sweet!! We can provide licensed music for Theatrical Release, Network Broadcast, Hard Copy Distribution, and Web Streaming and any other situation your production needs.</p>
	</div>
</section>

<section class="section home-sect-4 page-sect blue">
	<div class="js--wp-4">
		<h2>How Much is a Music License?</h2>
		<p>Simply put, Licensing Music can get really expensive. That’s why Zudo Music has created a sliding scale of fees depending on the scope and budget of your specific project. We are one of the only music licensing companies to provide so many different pricing tiers in an ecommerce style online music licensing library.</p>
	</div>
</section>

<section class="section home-sect-3 page-sect">
	<div class="js--wp-3">
		<h2 class="bottomCTA">License Music Now!</h2>
		<%= render 'signupCTA' %>
	</div>
</section>
