<% set_meta_tags 	site: 'Zudo', 
					title: 'SITE ADMIN', 
					reverse: true,
					description: "Site Administration Page for Zudo Music Web App.",
					noindex: true
%>

<div class="page-title">
   <div class="container">
		<h1>ADMIN PAGE</h1>
   	<p>Use the links below to complete site administration tasks.</p>
   </div>
</div>
<section class="section sect-pad">
   <div class="container clearfix">
		<h3 class="center">Active Artists = <%= @artists.count %></h3>
		<h3 class="center">All Songs = <%= @songs.count %></h3>
		<h3 class="center">Active Songs = <%= @approved.count %></h3>
		<h3 class="center">Approvals Queue = <%= @queued.count %></h3>
			<div class="center">
				<%= link_to 'Manage Users', usermod_path, :class => 'btn btn-ghost' %>
				&nbsp;&nbsp;
				<%= link_to 'Song Approvals', teamzudosongapprovalpage_path, :class => 'btn btn-ghost' %>
				&nbsp;&nbsp;
				<%= link_to 'Denied Songs', denied_songs_path, :class => 'btn btn-ghost' %>
				&nbsp;&nbsp;
				<%= link_to 'Songs Admin', teamzudosongadminpage_path, :class => 'btn btn-ghost' %>
				&nbsp;&nbsp;
				<%= link_to 'Artist Admin', relationships_path, :class => 'btn btn-ghost' %>
				&nbsp;&nbsp;
				<%= link_to 'User Credits', credits_path, :class => 'btn btn-ghost' %>
			</div>
		<ul class="adminBTNs clearfix">
			<li>
				<%= link_to 'View All Artists', artists_path, :class => 'col span_6_of_12 center' %>
				<%= link_to 'Add New Artist', new_artist_path, :class => 'col span_6_of_12 center' %>
			</li>
			<li>
				<%= link_to 'View All Genres', genres_path, :class => 'col span_6_of_12 center' %>
				<%= link_to 'Add New Genre', new_genre_path, :class => 'col span_6_of_12 center' %>
			</li>
			<li>
				<%= link_to 'View All Moods', moods_path, :class => 'col span_6_of_12 center' %>
				<%= link_to 'Add New Mood', new_mood_path, :class => 'col span_6_of_12 center' %>
			</li>
			<li>
				<%= link_to 'View All Paces', paces_path, :class => 'col span_6_of_12 center' %>
				<%= link_to 'Add New Pace', new_pace_path, :class => 'col span_6_of_12 center' %>
			</li>
			<li>
				<%= link_to 'View All Eras', eras_path, :class => 'col span_6_of_12 center' %>
				<%= link_to 'Add New Era', new_era_path, :class => 'col span_6_of_12 center' %>
			</li>
			<li>
				<%= link_to 'View All Keys', keys_path, :class => 'col span_6_of_12 center' %>
				<%= link_to 'Add New Key', new_key_path, :class => 'col span_6_of_12 center' %>
			</li>
			<li>
				<%= link_to 'View All Tempos', tempos_path, :class => 'col span_6_of_12 center' %>
				<%= link_to 'Add New Tempo', new_tempo_path, :class => 'col span_6_of_12 center' %>
			</li>
			<li>
				<%= link_to 'View All Instruments', instruments_path, :class => 'col span_6_of_12 center' %>
				<%= link_to 'Add New Instrument', new_instrument_path, :class => 'col span_6_of_12 center' %>
			</li>
		</ul>
	</div>
</section>