<% set_meta_tags 	site: 'Zudo Music for Commercials, Ads, and Advertising', 
					title: 'COMMERCIAL MUSIC', 
					reverse: true,
					description: "Find Music for Commercials in our Advertising Music Library. All of our Music is available for Commercials, Advertising Videos, and Internet Marketing Media.",
					noindex: false,
					canonical: "http://www.zudomusic.com/ads",
					author: "https://plus.google.com/u/1/117370898715446501614"
%>
<% set_meta_tags og: {
					title:    'COMMERCIAL MUSIC | Zudo Music for Commercials, Ads, and Advertising.',
					type:     'website',
					url:      'http://www.zudomusic.com/ads',
					image:    image_url('music_for_commercials.jpg'),
					description: "Find Music for Commercials in our Advertising Music Library. All of our Music is available for Commercials, Advertising Videos, and Internet Marketing Media."
} %>
<% set_meta_tags twitter: {
					card: "summary_large_image",
					site: "@ZudoMusic",
					title: "License Music for Commercials, Ads, and Advertising.",
					image: image_url('music_for_commercials.jpg'),
					description: "Find Music for Commercials in our Advertising Music Library. All of our Music is available for Commercials, Advertising Videos, and Internet Marketing Media."
} %>
<% provide(:keywords, "Music for Commercials") %>

<div id="hero-ads" class="page-title">
	<div class="container">
		<h1>MUSIC FOR COMMERCIALS</h1>
		<p>Find Music for Commercials in our Advertising Music Library. All of our Music is available for Commercials, Advertising Videos, and Internet Marketing Media.</p>
		<div class="center">
			<% if user_signed_in? %>
				<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-ghost animated shake', id: 'home-cta-btn' %>
			<% else %>
				<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-blue' %>
				<%= link_to "SIGNUP FREE", signup_path, class: 'btn btn-green' %>
			<% end %>
		</div>		
	</div>
</div>
<section class="section page-sect home-sect-1 js--wp-1 offWhite">
	<div class="">
		<h2>License Music for Advertising</h2>
		<p>Licensing the right Music for your Commercial can make or break your Advertisement. The Zudo Library has thousands of songs available for advertising music options and a sliding fee scale to fit you project budget and scope of your marketing campaign. Search our library of production music to find great background music for advertisements or the perfect theme song to advertise your product or service and make your commercial stand out.</p>
		<p></p>
	</div>
</section>
<%= render 'playlists/mixtapes' %>

<section class="section home-sect-2 page-sect blue">
	<div class='js--wp-2'>
		<h2>Music in Advertising</h2>
		<div class="center" style="max-width:640px;">
			<%= image_tag 'music_for_advertising-4.jpg', class: 'ads-img' %>
		</div>
		<p>Music in Advertising is possibly the most important aspect of the project aside from the message. Without the right music, you're commercial will lack that certain mood it needs to touch your audience and all those marketing efforts will be for nothing. Great advertising is useless without great music!</p>
	</div>
</section>
<section class="section ads-sect-3 page-sect">
	<div class="js--wp-3">
		<h2 class="center"><em>"...the Best place to License Music for Commercials!"</em></h2>
	</div>
</section>
<section class="section home-sect-4 page-sect green">
	<div class="js--wp-4">
		<h2>Music for Commercial Use</h2>
		<p>Let's be serious. We know you have plenty of options when it comes to finding music for commercial use. We'd be thrilled to work with you for your future commercial music needs. Even with the other stock music libraries out there, Zudo Music is one of the only libraries online to make it so fun and easy to find the perfect music for commercial use with minimal effort and minor strain on your advertising budget.</p>
	</div>
</section>
<section class="section home-sect-4 page-sect">
	<div class="js--wp-4">
		<h2>Small Business or Corporate</h2>
		<p>Regardless of the size of your business, the variable pricing tiers for our advertising music licenses can fit the needs of any size budget and distribution plans. Our small business music license fees change depending on the size of your company, while music for national corporate advertising will be negotiated depending on the size of broadcast and distribution.</p>
	</div>
</section>
<section class="section home-sect-3 page-sect">
	<div class="js--wp-3">
		<h2 class="bottomCTA">Find Music for Commercials Now!</h2>
		<%= render 'signupCTA' %>
	</div>
</section>
