<% provide(:title, "PISS OFF!") %>

<% set_meta_tags 	site: 'Zudo Admin', 
					title: 'PISS OFF!!', 
					reverse: true,
					description: "Administration Page for Zudo Music Web App.",
					noindex: true
%>

<section id="hero-home">
	<div class="container">
		<div class="hero-text-box">
			<h1>Access Denied</h1>
			<h3>Sorry, but you can't see what goes on here...</h3>
			<%= link_to "GO HOME!", home_path, class: 'btn btn-ghost animated shake', id: 'home-cta-btn' %>
		</div>
	</div>
</section>