<% set_meta_tags 	site: 'Zudo Music Licensing for Film, TV, Games and New Media', 
					title: "FAQ's", 
					reverse: true,
					description: "Answer your questions about licensing music for film &amp; tv, as well as troubleshooting our library, player, &amp; website, and how to submit your music.",
					noindex: false,
					canonical: "http://www.zudomusic.com/faq",
					author: "https://plus.google.com/u/1/117370898715446501614"
%>
<% set_meta_tags og: {
					title:    "FAQ's | Zudo Music Licensing for Film, TV, Games and New Media",
					type:     'website',
					url:      'http://www.zudomusic.com/faq',
					image:    image_url('am_i_zudo_music-min.png'),
					description: "Answer your questions about licensing music for film &amp; tv, as well as troubleshooting our library, player, &amp; website, and how to submit your music."
} %>
<% set_meta_tags twitter: {
					card: "summary",
					site: "@ZudoMusic",
					title: "FAQ's | Zudo Music Licensing for Film, TV, Games and New Media",
					description: "Answer your questions about licensing music for film &amp; tv, as well as troubleshooting our library, player, &amp; website, and how to submit your music."
} %>
<% provide(:keywords, "Frequently Asked Questions") %>

<div id="hero-faq">
	<div class="container">
			<h1>FREQUENTLY ASKED QUESTIONS</h1>
			<p>To help you navigate our website and policies, here are the answers to some of our most frequently asked questions. Hopefully, we can help you troubleshoot any problem with this list of common questions. If for some reason we have failed to address your issue here, please feel free to <%= link_to 'Contact Us', new_contact_path %>.</p>
	</div>
</div>
<section class="page-sect faq">
	<div class="container group section">
		<div class="col span_6_of_12 faqCOL offWhite">
			<h1>Filmmaker FAQ's</h1>
			<h2>What kind of license do I need to use your music in my film?</h2>
			<p>In order to use any music in any film, two specific licenses are required. The first is called a <em>Master Use License</em>, which allows the use of the original master recording. Secondly, you need to obtain a <em>Sync License</em>, which grants the right to "sync" the music to your original picture. Zudo Music provides both of these licenses to any song in our library whenever you choose to purchase rights to a song.</p>
			<h2>Do I need a performance license from ASCAP, BMI or SESAC when using music from Zudo?</h2>
			<p>In most cases, <em>no.</em> It's normally the broadcaster's responsibility, be it a Radio/TV/Cable station, Cinema or other venue that will be broadcasting (performing) the piece. Occasionally, these venues do not have a Performance Agreement with ASCAP, BMI or SESAC and may require you to obtain a Performance License.</p>
			<h2>Can I use the music before you receive my payment?</h2>
			<p>Our licenses are only valid upon payment of the agreed upon fee. If the music is needed to gain final edit approval from your client, we can arrange for that. However, the project may not be distributed until a license has been purchased. If this type of situation is needed, please call our Music Supervisors at <em>+1.844.I.AM.ZUDO</em></p>
			<h2>How long is my license valid?</h2>
			<p>Our licenses are all granted on a perpetual per-project basis. That means your license is good for the life of the original project it was granted for. Should you need to use a song for more than one project, separate licenses will be required for each. Custom license terms can be negotiated between you, the artist, and Zudo Music.</p>
			<h2>Do you offer bulk/blanket license or yearly subscription options?</h2>
			<p>No, we not currently offer any of these options. All Zudo Music licenses are granted per song, on a per project basis.</p>
			<h2>I'm making a free video for a friend. It will be posted to my Vimeo/YouTube account. What kind of license do I need?</h2>
			<p>You most likely just need a YouTube/Wedding Video license for $49. However, if your video involves <em>(1)</em> ANY brand promotion or product placement at all, <em>(2)</em> is being created to gain new clients, or <em>(3)</em> receiving payment for this project in any way including reimbursement, then you will need a Small Business license. If you answer no to all of these then you will be good to go with the YouTube/Home Video license!</p>
			<h2>What kind of license do I need for a demo reel/showreel/self promo?</h2>
			<p>Any project featuring media associated with anything other than personal, wedding and home video projects require a Small Business license.</p>
			<h2>I'm doing a Crowdfunding campaign. What kind of license do I need?</h2>
			<p>We offer licenses specifically tailored to your crowdfunding needs. The fees are on a sliding scale based on your funding goal. The crowdfunding music license includes all of the rights you need for promotional web streaming.</p>
			<h2>I'm a film student doing a project for class. Do you have a student film license?</h2>
			<p>We offer a Student Film license that allows for un-monetized online streaming and student film festival screenings. If at any time your project screens at a festival in any category other than 'Student Film' you will need to upgrade your license to an 'Indie Film' option</p>
			<h2>I'm doing a project for a school or university. What kind of license do I need?</h2>
			<p>If the institution is a non-profit organization, our Small Non-Profit license will work. This  allows the video to be streamed online, shown within the school and at public events for the university. If you are working at a for-profit university, the small business or custom license tiers will be required.</p>
		</div>
		<div class="col span_6_of_12 faqCOL">
			<h1>Musician FAQ's</h1>
			<h2>What genres of music are you looking for?</h2>
			<p>We are looking for ALL genres! Whatever you write, send it our way! Indie Rock, Orchestral Score, EDM, Hip Hop, Jazz, Blues. We have opportunities for all styles of music. To <%= link_to "Submit Your Music", new_contact_path %>, visit the <%= link_to "Contact Us", new_contact_path %> and send us links to 3 of your best songs.</p>
			<h2>Can I submit music registered with a PRO, such as ASCAP, or BMI?</h2>
			<p>Short Answer, <em>Yes.</em> Our licenses are considered "Royalty Free" to the filmmaker, meaning that they are not charged royalties for using the music in their project. However, should the work ever be broadcast on a public network, the broadcating agency will be responsible for paying <em>performace royalties</em> to the artist. For this reason, <em>Cue Sheets</em> are required to be submitted for every license purchased.</p>
			<h2>What are the benefits of being an exclusive artist?</h2>
			<p>Though most artists choose to hedge their bets and publish their music through multiple libraries, if you are interested in an exclusive replationship with Zudo Music you will recieve a higher payout percentage for each song placement as well as a stronger push in project pitches by our sales team.</p>
			<h2>Do you offer opportunities for custom scoring?</h2>
			<p>Currently no. However we are assembling an elite team of composers for custom scoring projects in the next year. If you are interested in submitting to join our in-house composer team, <%= link_to "Submit Your Music", new_contact_path %>, visit the <%= link_to "Contact Us", new_contact_path %> and send us links to 3 of your best songs.</p>
			<h2>Do you just arrange licensing opportunities, or represent artists as well?</h2>
			<p>At Zudo Music we manage a small team of dedicated Music Supervisors who build relationships in the film and tv industries. They know our library in and out, so if you're a Zudo Artist and they find the right placement to match your song, then be assured you'll get that placement! However, we do not participate in artist development or managment.</p>
		</div>
	</div>
</section>	
