<% set_meta_tags 	site: 'Zudo Music Licensing for Film and Indie Filmmaking', 
					title: 'MUSIC FOR FILM', 
					reverse: true,
					description: "Zudo provides Music for Film and TV. All of our Music is available to License for use in any Independent Film or Professional Studio Film Production.",
					noindex: false,
					canonical: "http://www.zudomusic.com/film",
					author: "https://plus.google.com/u/1/117370898715446501614"
%>
<% set_meta_tags og: {
					title:    'MUSIC FOR FILM | Zudo Music Licensing for Film and Indie Filmmaking',
					type:     'website',
					url:      'http://www.zudomusic.com/film',
					image:    image_url('zudo_music_for_film-2.png'),
					description: "Zudo provides Music for Film and TV. All of our Music is available to License for use in any Independent Film or Professional Studio Film Production."
} %>
<% set_meta_tags twitter: {
					card: "summary_large_image",
					site: "@ZudoMusic",
					title: "MUSIC FOR FILM | Zudo Music Licensing for Film and Indie Filmmaking",
					image: image_url("zudo_music_for_film-2.png"),
					description: "Zudo provides Music for Film and TV. All of our Music is available to License for use in any Independent Film or Professional Studio Film Production."
} %>
<% provide(:keywords, "Music for Film") %>

<div id="hero-film" class="page-title">
	<div class="container">
		<h1>MUSIC FOR FILMS</h1>
		<p>Zudo provides Music for Film and TV. All of our Music is available to License for use in any Independent Film or Professional Studio Film Production.</p>
		<div class="center">
			<% if user_signed_in? %>
				<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-ghost animated shake', id: 'home-cta-btn' %>
			<% else %>
				<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-blue' %>
				<%= link_to "SIGNUP FREE", signup_path, class: 'btn btn-green' %>
			<% end %>
		</div>
	</div>
</div>
<section class="section page-sect home-sect-1 js--wp-1 offWhite">
	<div class="">
		<h2>Licensing Music for Film</h2>
		<p>Licensing Music for Film is complex and requires experience, money and contacts. That's why Zudo Music has made that process so much simpler and enjoyable. We've done all the hard work, signing contracts with musicians and organizing the library into easily searchable categories. Now Licensing Music for Film and TV is a breeze! Just find a song that fits your scene pick the level of license you need and your film has music!</p>
	</div>
</section>
<%= render 'playlists/mixtapes' %>
<section class="section home-sect-2 page-sect green">
	<div class='js--wp-2'>
		<h2>Indie Film + Indie Music</h2>
		<div class="center pc-video" style="max-width:640px">
			<video id="video2" preload="auto"  loop="loop" width="100%">
		  		<source src="http://zudomusic.com/Zudo-Every_Note.mp4" type="video/mp4">
		  		<source src="http://www.youtube.com/watch?v=TvesZuJXjVY" type="video/youtube">
		  		<source src="http://zudomusic.com/Zudo-Every_Note.webm" type="video/webm">
			</video>
		</div>
		<div class="center mobile-video" style="max-width:480px">
			<iframe width="100%" height="270" src="https://www.youtube.com/embed/TvesZuJXjVY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>		
		<h4 class="center">The Perfect Combination</h4>
		<p>"Music conveys our deepest emotions, and film helps us tell our story. Together the create magical moments that can take our breath away. You've captured the perfect shot, and mastered the final cut. Now it's up to us to deliver the right music to bring it all together. You are a filmmaker, and every frame means the world to you. Access our global network of independent composers and musicians. At Zudo Music, every note means the world to us."</p>
	</div>
</section>
<section class="section film-sect-3 page-sect">
	<div class="js--wp-3">
		<h2 class="center"><em>"...the Best place to find Music for Film Online!"</em></h2>
	</div>
</section>
<section class="section home-sect-4 page-sect blue">
	<div class="js--wp-4">
		<h2>Film Score Music</h2>
		<p>Every great film needs a music score to match. At Zudo our team of elite composers have already crafted the perfect film score music for your project. Now it's just up to you to lock that edit and perfect your indie filmmaking masterpiece. Can't find what you the music needed for your film on our site? No problem! Just call one of our music supervisors at <a href="tel:844-426-9836">+1.844.I.AM.ZUDO</a> or send us a message on our <%= link_to "Contact Page", new_contact_path %> and we can arrange for one of our composers to create custom film score music for your project.</p>
	</div>
</section>
<section class="section home-sect-3 page-sect">
	<div class="js--wp-3">
		<h2 class="bottomCTA">Find Music for Film Now!</h2>
		<%= render 'signupCTA' %>
	</div>
</section>
