<% set_meta_tags 	site: 	'Zudo Music Licensing for Video Games and Game Development', 
					title: 	'MUSIC FOR GAMES', 
					reverse: true,
					description: "License Music for Video Games with our Game Development Music Library. All of our Music is available to License for use in any PC or Console Game and Mobile App.",
					noindex: false,
					canonical:"http://www.zudomusic.com/games",
					author:  "https://plus.google.com/u/1/117370898715446501614"
%>
<% set_meta_tags og: {
					title: 	'MUSIC FOR GAMES | Zudo Music Licensing for Video Games and Game Development',
					type:  	'website',
					url:    'http://www.zudomusic.com/games',
					image:  image_url('music_for_video_games.jpg'),
					description: "License Music for Video Games with our Game Development Music Library. All of our Music is available to License for use in any PC or Console Game and Mobile App."
} %>
<% set_meta_tags twitter: {
					card: 	"summary_large_image",
					site: 	"@ZudoMusic",
					title: 	"MUSIC FOR GAMES | Zudo Music Licensing for Video Games and Game Development",
					image: 	image_url('music_for_video_games.jpg'),
					description: "License Music for Video Games with our Game Development Music Library. All of our Music is available to License for use in any PC or Console Game and Mobile App."
} %>
<% provide(:keywords, "Music for Video Games") %>

<div id="hero-games" class="page-title">
	<div class="container">
		<h1>MUSIC FOR GAMES</h1>
		<p>License Music for Video Games with our Game Development Music Library. All of our Music is available to License for use in any PC or Console Game &amp; Mobile App.</p>
		<div class="center">
			<% if user_signed_in? %>
				<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-ghost animated shake', id: 'home-cta-btn' %>
			<% else %>
				<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-blue' %>
				<%= link_to "SIGNUP FREE", signup_path, class: 'btn btn-green' %>
			<% end %>
		</div>
	</div>
</div>
<section class="section page-sect home-sect-1 js--wp-1 offWhite">
	<div class="">
		<h2>Licensing Music for Video Games</h2>
		<p>Licensing the right Music can make or break your Video Game. Zudo Music knows this and is here to help! Search our library of production music to find the perfect background music for games or just the right theme song to sell the emotion and mood of your video game.</p>
	</div>
</section>
<section class="section home-sect-2 page-sect blue">
	<div class='js--wp-2'>
		<h2>Epic Video Game Music</h2>
		<div class="center" style="max-width:640px;">
			<%= image_tag 'music_for_video_games.jpg', class: 'gamer-img' %>
		</div>
		<p>The time has come in the process of your game development to “battle the final boss” and Zudo Music has the best songs to help intensify the mood and assure that everyone playing your video game stays on the edge of their seat! Filter the library by cinematic genres and thrilling or epic moods and don't forget to add synth and drums to your search. The Zudo Music Library will find all the songs we have available with the perfect mood to fit that Epic Battle Music for your video game finale. We definitely have Epic Video Game Battle Music!</p>
	</div>
</section>
<%= render 'playlists/mixtapes' %>
<section class="section games-sect-3 page-sect">
	<div class="js--wp-3">
		<h2 class="center"><em>"...the Best place to License Music for Video Games!"</em></h2>
	</div>
</section>
<section class="section home-sect-4 page-sect green">
	<div class="js--wp-4">
		<h2>Video Game Music</h2>
		<p>Video Game Music comes in all styles and genres. From hip hop to indie rock, dubstep to classical and everything in between. Video Games need Music like Composers need paychecks. What a coincidence that Zudo’s Library is the perfect way to facilitate both of those things! Browse our library with thousands of songs tailored to become the best video game music. Look no further than Zudo Music to get music for games.</p>
	</div>
</section>
<section class="section home-sect-3 page-sect">
	<div class="js--wp-3">
		<h2 class="bottomCTA">Find Music for Video Games Now!</h2>
		<%= render 'signupCTA' %>
	</div>
</section>
