<% set_meta_tags 	site: 	'Zudo Music Licensing for Film, TV and Video Games', 
					title: 	'PRODUCTION MUSIC', 
					reverse: true,
					description: "Zudo is an online production music library. The best stock music for film, tv, advertising, game, video &amp; media production. Zudo production music library.",
					noindex: false,
					canonical:"http://www.zudomusic.com/",
					author:  "https://plus.google.com/u/1/117370898715446501614"
%>
<% set_meta_tags og: {
					title: 	'PRODUCTION MUSIC | Zudo Music Licensing for Film, TV and Video Games',
					type:  	'website',
					url:    'http://www.zudomusic.com/',
					image:  image_url('sync_music_library-min.jpg'),
					description: "Zudo is an online production music library. The best stock music for film, tv, advertising, game, video &amp; media production. Zudo production music library."
} %>
<% set_meta_tags twitter: {
					card: 	"summary_large_image",
					site: 	"@ZudoMusic",
					title: 	"PRODUCTION MUSIC | Zudo Music Licensing for Film, TV and Video Games",
					image: 	image_url('sync_music_library-min.jpg'),
					description: "Zudo is an online production music library. The best stock music for film, tv, advertising, game, video &amp; media production. Zudo production music library."
} %>
<% provide(:keywords, "Production Music Library") %>

<header id="hero-home">
	<div class="container">
		<div class="hero-text-box">
			<h1>ZUDO MUSIC</h1>
			<h3>Production Music Library</h3>
			<% if user_signed_in? %>
				<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-green animated shake', id: 'home-cta-btn' %>
			<% else %>
				<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-blue' %>
				<%= link_to "SIGNUP FREE", signup_path, class: 'btn btn-green' %>
			<% end %>
	<!--	<a href="/contact"><div id="home-cta-btn" class="btn btn-ghost animated shake"><p>GET ACCESS NOW!</p></div></a>
	-->
			<a href="#"><div class="more">
				Learn More<br />
				<i class="ion-ios-arrow-down"></i>
			</div></a>	
		</div>
	</div>
</header>

<section class="section home-sect-2 page-sect blue">
	<div class="js--wp-3">
		<h2>A Truly Searchable Music Library</h2>
		<div class="center pc-video" style="max-width:640px">
			<video id="video1" preload="auto"  loop="loop" width="100%">
		  		<source src="http://zudomusic.com/Zudo-Site_Demo.mp4" type="video/mp4">
		  		<source src="http://www.youtube.com/watch?v=SSFnmgqoGrQ" type="video/youtube">
		  		<source src="http://zudomusic.com/Zudo-Site_Demo.webm" type="video/webm">
			</video>
		</div>		
		<div class="center mobile-video" style="max-width:480px">
			<iframe width="100%" height="270" src="https://www.youtube.com/embed/SSFnmgqoGrQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>		
		<p>At Zudo we strive to make production music library navigation less complex, and even fun!  The Custom Zudo Music Player is built for maximum search-ability by artist, genre, mood, pace, instrument and more! Browse our library now to find the perfect stock music for your production.</p>
	</div>
</section>

<%= render 'playlists/mixtapes' %>

<section class="section page-sect home-sect-1 js--wp-1">
	<div class="">
		<h2>Production Music for Film, TV  &amp; Games</h2>
		<p>Finding music for your production in a library can be tricky.  What kind of song fits the scene? How can I find available stock music in that style &amp; mood?  What kind of license do I need? How much does it cost?</p>
		<p>Well Congratulations! You’ve found one of the best new stock and production music libraries online! At Zudo we have a hand curated library of production music by our global network of independent composers and musicians. All of our music has been pre-cleared for use in media production and is available for affordable sync licensing.</p>
	</div>
</section>

<section class="section home-sect-2 page-sect offWhite">
	<div class='js--wp-2'>
		<h2>Who Uses Production Music?</h2>
		<p>Whether you're an indie filmmaker, a professional commercial producer, a YouTuber, or creating corporate presentations, Zudo Music is the most user friendly choice for your Production Music Library needs. Request an invite for unrestricted access to our entire library of stock music by independent artists, composers, and producers. Find the perfect music for productions in film and tv, game development or corporate video production.</p>
		<div class="group container js--wp-2-2">
			<div id="js--home-icon-1" class="col center span_3_of_12 animated">
				<%= link_to video_path do %>
					<i class="ion-ios-play-outline center"></i><br /><h4>YouTube</h4>
				<% end %>
			</div>
			<div id="js--home-icon-2" class="col center span_3_of_12 animated">
				<%= link_to film_path do %>
					<i class="ion-ios-film-outline center"></i><br /><h4>Film</h4>
				<% end %>
			</div>
			<div id="js--home-icon-3" class="col center span_3_of_12 animated">
				<%= link_to games_path do %>
					<i class="ion-ios-game-controller-b-outline center"></i><br /><h4>Games</h4>
				<% end %>
			</div>
			<div id="js--home-icon-4" class="col center span_3_of_12 animated">
				<%= link_to ads_path do %>
					<i class="ion-ios-people-outline center"></i><br /><h4>Ads</h4>
				<% end %>
			</div>
		</div>
	</div>
</section>

<section class="section home-sect-3 page-sect">
	<div class="js--wp-3">
		<h2>Support Independent Music</h2>
		<p>Our production music library is stock full of great songs by independent artists, composers and producers.  When you buy your production music from the Zudo Music Library, you help support another artist like yourself. When you license a song for your film, the musician gets paid immediately!  So what are you waiting for? Browse our library of production music, and join us in changing Production Music for Film &amp; TV with Zudo Music.</p>
	</div>
</section>

<section class="section home-sect-4 page-sect green">
	<div class="js--wp-4">
		<h2>For Artists &mdash; By Artists</h2>
		<p style="margin-bottom: 0;">Team Zudo, in itself, is a collection of artists.  Our daily mission is to provide independent artists like ourselves, a real way to make an honest living doing what they love to do.  Whether you’re a musician, producer, composer, or filmmaker…Team Zudo is on your side!  Let’s all work together and change the face of independent music &amp; film!</p>
		<div class="group container js--wp-4-2">
			<div class="playlistWrap center">
			    <ul class="artistRoster">
					<% @artists.each do |a| %>
						<% if a.is_featured? %>
					        <%= link_to artist_path(a) do %>
					          	<li class="rosterArtistCard" style="margin: 0 15px;">
						            <div class="rosterIMG" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url(<%= a.image.url(:thumb) %>); background-position: center center; background-size: cover;">
						            </div>
						            <h2><%= a.name %></h2>
					          	</li>
				          	<% end %>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="section home-sect-3 page-sect">
	<div class="js--wp-3">
		<h2 class="bottomCTA">Find Production Music Now!</h2>
		<%= render 'signupCTA' %>
	</div>
</section>
