- set_meta_tags og: { title:  'Right Music, Right Now | Slasher Film Ad Spot | Zudo Music for Film & TV',
          type:   'video',
          content:    'https://www.youtube.com/v/BQBjVr1iHH4',
          description: "Find the Right Music for Film, Right Now. Sync Music Simplified at the Zudo Production Music Library. Music Licensing the Easy Way!!."}

div.hero-horror
	div.container
		h1 RIGHT MUSIC,<br />RIGHT NOW.
		div.center
			- if user_signed_in?
				= link_to "BROWSE MUSIC", play_path, class: 'btn btn-ghost animated shake', id: 'home-cta-btn'
			- else
				= link_to "BROWSE MUSIC", play_path, class: 'btn btn-blue'
				= link_to "SIGNUP FREE", signup_path, class: 'btn btn-green'
section.section.home-sect-2.page-sect.green
	.js--wp-3
		.center.pc-video style="max-width:1080px" 
			video#video1 loop="loop" preload="auto" width="100%" 
				source src="http://zudomusic.com/Zudo_Horror_1280x540.mp4" type="video/mp4" 
				source src="http://www.youtube.com/watch?v=UMxJM0OmKQQ" type="video/youtube" 
				/ source src="http://zudomusic.com/Zudo-Site_Demo.webm" type="video/webm" 
		.center.mobile-video style="max-width:480px" 
			iframe allowfullscreen="" frameborder="0" height="270" src="https://www.youtube.com/embed/UMxJM0OmKQQ?rel=0&amp; controls=0&amp;showinfo=0" width="100%" 
		p At Zudo we strive to make production music library navigation less complex, and even fun!  The Custom Zudo Music Player is built for maximum search-ability by artist, genre, mood, pace, instrument and more! Browse our library now to find the perfect stock music for your production.
section.section.page-sect.center.hero-horror
	.container
		h2 Special Thanks!
		p Extra credit is due to the incredible crew of talented filmmakers responsible for creating this mindbending ad spot for Zudo Music. We worked with a hand selected team of amazing artists at Entropy Media in Santa Fe, so please show some love to our kick-ass cast and crew below:
		ul
			li Horsehead: Aaron O'Brien
			li Victim: Charlene Widgeon
			li Producer: Jeff Keas
			li Creative Director: P.D. Gleason
			li Director of Photography: Philip Hoang
			li Camera Assistant: Alejandra Castro
			li Gaffer: Gabe Esling
			li Grip: Paula Crichton
			li Editor: Noell Fredericksen
			li Motion Design: Jon Munoz
			li Sound Design: J Galenti
			li Voice Replacement: Ana Krafchick
			li 'Wrong' Song: 'Little Things'by Michael Adels
			li 'Right' Song: 'Frozen Fear' by David Hollandsworth

section.section.home-sect-3.page-sect
	.js--wp-3
		h2.bottomCTA Find Production Music Now!
		= render 'signupCTA'
= render 'playlists/mixtapes'
section.section.home-sect-2.page-sect.offWhite
  .js--wp-2
    h2 Who Uses Production Music?
    p Whether you're an indie filmmaker, a professional commercial producer, a YouTuber, or creating corporate presentations, Zudo Music is the most user friendly choice for your Production Music Library needs. Request an invite for unrestricted access to our entire library of stock music by independent artists, composers, and producers. Find the perfect music for productions in film and tv, game development or corporate video production.
    .group.container.js--wp-2-2
		#js--home-icon-1.col.center.span_3_of_12.animated
			= link_to video_path do %
				i.ion-ios-play-outline.center
				br/
				h4 YouTube
		#js--home-icon-2.col.center.span_3_of_12.animated
			= link_to film_path do %
				i.ion-ios-film-outline.center
				br/
				h4 Film
		#js--home-icon-3.col.center.span_3_of_12.animated
			= link_to games_path do %
				i.ion-ios-game-controller-b-outline.center
				br/
				h4 Games
		#js--home-icon-4.col.center.span_3_of_12.animated
			= link_to ads_path do %
				i.ion-ios-people-outline.center
				br/
				h4 Ads
section.section.home-sect-3.page-sect
	.js--wp-3
		h2 Support Independent Music
		p Our production music library is stock full of great songs by independent artists, composers and producers.  When you buy your production music from the Zudo Music Library, you help support another artist like yourself. When you license a song for your film, the musician gets paid immediately!  So what are you waiting for? Browse our library of production music, and join us in changing Production Music for Film &amp; TV with Zudo Music.

section.section.home-sect-4.page-sect.green
	.js--wp-4
		h2 For Artists &mdash; By Artists
		p style="margin-bottom: 0;" Team Zudo, in itself, is a collection of artists.  Our daily mission is to provide independent artists like ourselves, a real way to make an honest living doing what they love to do.  Whether you’re a musician, producer, composer, or filmmaker…Team Zudo is on your side!  Let’s all work together and change the face of independent music &amp; film!
		.group.container.js--wp-4-2
			.playlistWrap.center
			    ul.artistRoster
					- @artists.each do |a|
						- if a.is_featured?
					        = link_to artist_path(a)
					          	li.rosterArtistCard style="margin: 0 15px;"
						            .rosterIMG style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url(<%= a.image.url(:thumb) %>); background-position: center center; background-size: cover;"
						            h2 = a.name

section.section.home-sect-3.page-sect
	.js--wp-3
		h2.bottomCTA Find Production Music Now!
		= render 'signupCTA'
