<% set_meta_tags 	site: 'Zudo Music Licensing for Film, TV, Games and New Media', 
					title: "LICENSE TERMS", 
					reverse: true,
					description: "Zudo Music licensing terms and privacy policy.",
					noindex: false,
					canonical: "http://www.zudomusic.com/terms",
					author: "https://plus.google.com/u/1/117370898715446501614"
%>
<% set_meta_tags og: {
					title:    "LICENSE TERMS | Zudo Music Licensing for Film, TV, Games and New Media",
					type:     'website',
					url:      'http://www.zudomusic.com/terms',
					image:    image_url('zudo_music-02-wmd-min.png'),
					description: "Zudo Music licensing terms and privacy policy."
} %>
<% set_meta_tags twitter: {
					card: "summary",
					site: "@ZudoMusic",
					title: "LICENSE TERMS | Zudo Music Licensing for Film, TV, Games and New Media",
					description: "Zudo Music licensing terms and privacy policy."
} %>
<% provide(:keywords, "License Terms and Conditions") %>

<div id="hero-terms">
	<div class="container">
			<h1>LICENSE TERMS</h1>
			<p>Zudo Music Licensing Terms and Privacy Policy.</p>
	</div>
</div>
<section class="page-sect terms">
	<div class="section">
		<div class="container">
			<h2>Standard Terms and Conditions</h2>
			<%= link_to "DOWNLOAD HERE", 'https://www.dropbox.com/s/uwtmqss6mrw7ac4/ZudoMusic-LicenseCoverageAndDefinitions.pdf?dl=0', :target => '_blank', :class => 'btn btn-ghost' %>
			<h3>CLICK THROUGH LICENSE AGREEMENT - STANDARD TERMS AND CONDITIONS</h3>

			<p>You are entering into a license agreement with IN:DEEP Arts to license as Licensee one (1) sound recording (“Master”) and one (1) underlying musical composition embodied in the Master (the Master and the composition embodied thereon and any part(s) thereof shall hereinafter be referred to individually and collectively as the “Musical Work”) owned or controlled by IN:DEEP Arts. This licensing agreement is comprised of this document, together with the applicable single Standard License you selected (as defined below), and an invoice (“Invoice”) rendered to you in connection with the transaction referred to above (collectively, the “License Agreement”) and constitutes a binding agreement between you and IN:DEEP Arts.</p>
			<p><em>1.</em> Conditioned upon receipt of payment in full from you of the applicable licensing fee (“Fee”), IN:DEEP Arts grants you the right to synchronize the Musical Work in your production (“Production”) solely for the single use, territory, term, scope and other parameters you selected from IN:DEEP Arts website specified in the Invoice and which is a single Standard License available as a click-through license. For avoidance of doubt and for purposes of clarity, the available Standard Licenses for selection by the click-through process is attached to this License Agreement and the terms contained therein are incorporated herein by reference. The license granted to you in respect of the Musical Work is a nonexclusive, non-transferable, single purpose license and is subject to the terms and conditions of this License Agreement.</p>
			<p><em>2.</em> The license granted to you does not authorize or permit any use of the Musical Work not expressly set forth in this License Agreement. The terms of this License Agreement are limited to the use of the Musical Work in synchronization with your Production only as authorized by IN:DEEP Arts in accordance with the terms of the single Standard License selected by you and subject in all respects to the restrictions set forth therein and without limiting the foregoing, does not include the following rights and you may not use the Musical Work: (a) to advertise goods or services in any means or by any manner now or hereafter known, (b)  for any unlawful activity or in any manner or any means which may be deemed by a reasonable person to be detrimental to IN:DEEP Arts and/or to the copyright owner(s) of the Musical Work; (c) on phono-records, (e) in any manner not specifically enumerated herein or with respect to which no grant of rights is specified. Furthermore, you may not without permission (i) alter the fundamental character of the music or the lyrics of the Musical Work; (ii) make foreign adaptations and/or translations of the music and/or lyrics of the Musical Work ; (iv) use the story of the Musical Work or dramatically depict the Musical Work as a derivative work; (v) use the title of the Musical Work or the name of the artist and/or songwriter(s) except for the purposes of any required credit, and/or (vi) otherwise alter, edit or remix the Musical Work. This license shall not transfer to you nor shall you assert any ownership interest whatsoever (including, but not limited to, copyright, trademark, and/or goodwill) in or to the Musical Work. In no event shall the Musical Work be featured separately from the approved use, or be offered or provided in or as a non-linear, downloadable, or alterable file. You expressly acknowledge and agree that no right of public performance of the Musical Work is granted under this License Agreement and you shall be responsible for securing all necessary public performance licenses and paying all public performance fees. IN:DEEP Arts reserves all rights not expressly granted under this License Agreement. </p>
			<p><em>3.</em> You have the right to use or refer to the name(s) of the author(s) and performer(s) of the Musical Work in the credits, and in any promotions, advertisements and publicity of the Production. In this regard, you agree upon our request, to accord credit in substantially the same manner as you accord credit to all other participants in the Production. </p>
			<p><em>4.</em> IN:DEEP Arts shall have the right to obtain injunctive relief as a result of any use by you of the Musical Work after termination of this License Agreement in addition to any other rights and remedies available, including without limitation pursuing an action at law for copyright infringement in the Musical Work. </p>
			<p><em>5.</em> If the applicable Standard License permits you to use the Musical Work in synchronization with your Production on the Internet or any other online or interactive device or distributed media, you shall use your best efforts to ensure that users may not copy, capture or download the Musical Work either alone or as synchronized with your Production.</p>
			<p><em>6.</em>  Licensee shall defend, indemnify and hold harmless IN:DEEP Arts, its affiliates and their respective directors shareholders, officers, members, agents, employees successors and assigns and the copyright proprietors of the Musical Work, from and against any and all liability, damages and loss, costs and expenses (including without limitation attorneys’ fees and costs), arising from or related to your breach of this Agreement or your unauthorized use of the Musical Work. </p>
			<p><em>7.</em> Except as specified herein, IN:DEEP Arts makes no warranty, express or implied, regarding the musical work, including without limitation any implied warranties of merchantability or fitness for a particular purpose or non-infringement. Except for any liability which cannot by law be excluded or limited, neither IN:DEEP Arts nor any third party copyright proprietor shall be liable to you for indirect, incidental, special or consequential damages arising out of, or relating to the use of the musical work, whether frames as a breach of warranty, in tort, in contract, or otherwise. In no event shall IN:DEEP Arts’s or any third party copyright proprietor’s liability for any claim arising from the use of the musical work exceed the fees stated in the invoice, regardless of the number or type of claims.</p>
			<p><em>8.</em> This License Agreement sets forth the entire agreement and understanding between you as Licensee and IN:DEEP Arts with respect to the subject matter hereof and supersedes all prior agreements and understandings, if any, whether oral or written pertaining thereto. This License Agreement may not be changed or modified, or any covenant, representation, warranty or provision hereof waived, except by an agreement in writing, signed by the party against whom enforcement of the change, modification or waiver is sought, and not otherwise. This Agreement shall inure to the benefit of and be binding on the parties, their successors and assigns, except that the license issued to you pursuant to this License Agreement is personal to you and you may not assign or transfer this License Agreement or any of the rights granted to you and any such assignment shall be void ab initio.</p>
			<p><em>9.</em> The validity, interpretation and legal effect of this agreement shall be governed by the laws of the state of New Mexico applicable to contracts entered into and performed entirely within the state of New Mexico. You agree that the state and federal courts located in Santa Fe, New Mexico shall have the exclusive jurisdiction over claims or disputes arising under or otherwise in connection with this agreement, and you hereby submit the jurisdiction of such courts. Notwithstanding the foregoing, we and our assignees, successors and designees may seek injunctive or other equitable relief in any jurisdiction to enforce the terms of this agreement and our rights hereunder.</p>

			<h3>Additional Info For All License Types</h3>

			<p>This license is for your own personal or organizational usage only, which can be personal or professional. You may use the Recording for your personal Projects and/or professional Projects you undertake for your clients or for your employer.</p>

			<h3>Limitations of Use</h3>

			<p>You may not sell, transfer, share, give away or sublease the license agreement or the Recordings to any other party.</p>
			<p>You may not resell the Recording by itself or as part of a package except as embodied within your own Project.</p>
			<p>You may not resell the Recording (or otherwise make it available) within a downloadable template where someone would be able to download the sound file as a separate file, such as in e-card templates or website templates.</p>
			<p>You may not resell the Recording (or otherwise make it available) as part of any competing product such as music compilation or music library.</p>
			<p>With any of our licenses you may use an IN:DEEP ARTS Recording on YouTube, but IN:DEEP ARTS retains ownership of the Recording. You may not claim ownership of the Recording (or otherwise make it available) through YouTube’s Content ID, even if synchronized with your own Project.</p>
			<p>IN:DEEP ARTS always owns the Copyright of the music composition and recording regardless of your use of the work in your own song or music.</p>
			<p>Please note that these licenses do not include Performing Rights royalties that may be collected by PROs (Performing Rights Organizations) such as SESAC, BMI, ASCAP, SOCAN, etc.</p>

			<h3>Ownership</h3>

			<p>You hereby acknowledge that IN:DEEP ARTS and its affiliates and partners are and remain the owner of all right, title and interest in the Recording, including without limitation any copyrights therein. In particular, you do not have the right to claim ownership of the underlying Recording (or otherwise make it available), even if synchronized with your own Project. The Recording is protected by and subject to United States and international copyright laws. We retain the right to sell licenses of the Recording to third parties, at our discretion.</p>

			<h3>Limitation of Liability</h3>

			<p>IN:DEEP ARTS makes no warranty or representation, express or implied, except that it warrants that it has the right to grant the license granted hereunder. The total liability of IN:DEEP ARTS under this Agreement shall be limited to that part of the fee paid hereunder by for the license. You hereby agree that this license is granted to you without any other warranty or recourse. It is the responsibility of the purchaser/license user to secure all clearances of samples or derivative works.</p>

			<h3>Availability</h3>

			<p>IN:DEEP ARTS may discontinue licensing certain music and sound files at its sole discretion. In the eventuality that IN:DEEP ARTS gets a notice that any music or sound files may be subject to a claim of infringement of another’s right for which IN:DEEP ARTS may be liable, IN”DEEP ARTS may require Licensee to immediately stop using the Licensed Material, delete or remove the Licensed Material from its premises, computer systems and storage (electronic or physical); and ensure that its clients do likewise. IN:DEEP ARTS shall provide Licensee with comparable Licensed Material (which comparability will be determined by IN:DEEP ARTS in its reasonable commercial judgment) free of charge, but subject to the other terms and conditions of this Agreement.</p>

			<h3>Taxes</h3>

			<p>All License Fees are exclusive of any applicable sales, use, withholding or other transactional taxes, which are the sole responsibility of Licensee or Purchaser (if any).</p>

			<h3>General Provisions</h3>

			<p>This Agreement shall be governed by and construed according to the laws of the United States. and the Parties hereby acquiesce to the jurisdiction of the courts of the judicial district of New Mexico. Nothing in the present Agreement shall be interpreted as constituting or creating a joint venture or partnership between the Parties. This Agreement shall be to the benefit of and bind the respective heirs, executors, administrators and assigns of the Parties hereto. If any part of this Agreement shall be determined to be invalid or unenforceable by a court of competent jurisdiction or any other legally constituted body having jurisdiction to make such determination, the remainder of this Agreement shall remain in full force and effect.</p>
			<p>PLEASE NOTE: Licenses can be upgraded at any time. Please <%= link_to "Contact Us", new_contact_path %> if you wish to acquire an upgrade.</p>

		</div>
	</div>
</section>