<% set_meta_tags 	site: 	'Zudo Stock Music for Web and Wedding Video Production', 
					title: 	'MUSIC FOR VIDEO', 
					reverse: true,
					description: "License Music for Web Streaming, Home and Wedding Video Productions . All Music available for use in Web Streaming, Social Media Marketing and Wedding Video.",
					noindex: false,
					canonical: "http://www.zudomusic.com/video",
					author: "https://plus.google.com/u/1/117370898715446501614"
%>
<% set_meta_tags og: {
					title:   'MUSIC FOR VIDEO | Zudo Stock Music for Web and Wedding Video Production',
					type:    'website',
					url:     'http://www.zudomusic.com/video',
					image:   image_url('music_for_video-2.jpg'),
					description: "License Music for Web Streaming, Home and Wedding Video Productions . All Music available for use in Web Streaming, Social Media Marketing and Wedding Video."
} %>
<% set_meta_tags twitter: {
					card: "summary_large_image",
					site: "@ZudoMusic",
					title: "MUSIC FOR VIDEO | Zudo Stock Music for Web and Wedding Video Production",
					image: image_url('music_for_video-2.jpg'),
					description: "License Music for Web Streaming, Home and Wedding Video Productions . All Music available for use in Web Streaming, Social Media Marketing and Wedding Video."
} %>
<% provide(:keywords, "Music for Video Production") %>

<div id="hero-video" class="page-title">
	<div class="container">
		<h1>MUSIC FOR VIDEO</h1>
		<p>License Music for Your Web Streaming, Social Media Marketing, Home and Wedding Video Productions with our Online Music Library. All of our Music is available to License for use in Web Streaming, Social Media Marketing, Home and Wedding Video Productions.</p>
		<div class="center">
			<% if user_signed_in? %>
				<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-ghost animated shake', id: 'home-cta-btn' %>
			<% else %>
				<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-blue' %>
				<%= link_to "SIGNUP FREE", signup_path, class: 'btn btn-green' %>
			<% end %>
		</div>
	</div>
</div>
<section class="section page-sect home-sect-1 js--wp-1 offWhite">
	<div class="">
		<h2>Music Licenses for YouTube &amp; Vimeo</h2>
		<p>Getting a music license for YouTube video can get complex, especially if you can’t get a hold of the artist who wrote the music you want to use. Not having the proper music license for YouTube or Vimeo can get your web video pulled down from the social media or streaming website, or even worse, sued by the artist for copyright infringement! Zudo Music knows all about this complicated process and we’re here to help! Find anything-but "stock" production music at Zudo to create the perfect background soundtrack for your web video or social media marketing materials.</p>
	</div>
</section>
<%= render 'playlists/mixtapes' %>
<section class="section home-sect-2 page-sect blue">
	<div class='js--wp-2'>
		<h2>Music for Web Videos</h2>
		<div class="center" style="max-width:640px;">
			<%= image_tag 'music_for_youtube.jpg', class: 'webvid-img' %>
		</div>
		<p>The web is flooded with streaming video these days and it shows no sign of slowing down. What good is streaming web video without music? Short answer is, None…None good!! Don’t get lost in the undertow with your web video marketing campaigns. Find the right music for web video productions at Zudo Music and be confident in the fact that you’re web video music license is legally sound and the music in your web video will hit the emotional chord it needs to capture a larger market for your small business or product advertisement.</p>
	</div>
</section>
<section class="section video-sect-3 page-sect">
	<div class="js--wp-3">
		<h2 class="center"><em>"...the Best place to License Music for Video Production!"</em></h2>
	</div>
</section>
<section class="section home-sect-4 page-sect green">
	<div class="js--wp-4">
		<h2>Wedding Video Music</h2>
		<div class="center" style="max-width:640px;">
			<%= image_tag 'music_for_wedding_video.jpg', class: 'wedvid-img' %>
		</div>
		<p>You’ve already captured the perfect moments from the best day of their lives. Now let our team of elite composers score the soundtrack to your tear jerking wedding video production. Don’t let the moment deflate because you chose the wrong wedding video music. Our library is stock full of production music for wedding videos, portraits and home video productions.</p>
	</div>
</section>
<section class="section home-sect-3 page-sect">
	<div class="js--wp-3">
		<h2 class="bottomCTA">Find Music for Video Now!</h2>
		<%= render 'signupCTA' %>
	</div>
</section>
