- provide(:title, "CONTACT")
- provide(:description, "Call Our Music Supervisors, Send a Message, or Submit Your Music to the Zudo Music Library.")
- provide(:keywords, "Contact Music Supervisors")

#contactPage
  .container
    h1.page-title Thank you for your message.
    h2.page-sub-title We'll get back to you soon.
