- provide(:title, "CONTACT")
- provide(:description, "Contact Our Music Supervisors, Send a Message, or Submit Your Music to the Zudo Music Library.")
- provide(:keywords, "Contact Music Supervisors")

#contactPage
  .container
    h1.page-title CONTACT US
    h2.page-sub-title Talk to a Music Supervisor
    p.page-description
      | Need a little help finding the perfect song for your latest project?
      br>/
      | Call (844) I.AM.ZUDO to discuss your needs with one of our music supervisors now. Not a phone person? No problem! Just use the form below to tell us about your project.

    = simple_form_for @contact, :html => {:class => 'contact-form' } do |f|
      h2 Send Us a Message
      = f.input :name, :placeholder => "Enter Your Name", :required => true, label: false
      = f.input :email, :placeholder => "Enter Your Email", :required => true, label: false
      = f.input :message, :as => :text, :placeholder => "Write Us A Message!", :required => false, :input_html => {:rows => 5}, label: false
      button SEND IT!

