- set_meta_tags(site: 'Zudo', title: heading)

#contactPage
  .container
    h1.page-title 
    h2.page-sub-title =heading

    = simple_form_for(@project, html: {class: 'contact-form' }) do |f|
      - if @project.errors.any?
        - @project.errors.full_messages.each do |message|
          = js add_gritter(message, :image => :warning )
      = f.input :name, placeholder: "Project Name", label: false
      = f.input :desc, as: :text, :placeholder => "Project Description", input_html: {:rows => 5}, label: false
      button =btn_text


    
   