<%= content_for :id, 'share-quote-modal' %>

<h1>Add This Song to Your Project</h1>

<% if current_user.projects.size < 5 %>
  <p><%= link_to "Create A New Project", "javascript:", id: "new_project_popup" %></p>
<% end %>

<div id="project-success" style="color:green;"></div>
<div class="field offWhite new-project" style="display:none;">
	<%= form_for(:project, url: submit_project_path, remote: true, html: {id: 'song-form'}) do |f| %>
	  <%= f.text_field :name, :placeholder => "New Project Name", required: true %>
	  <div id= "project-name-error" style="color:red;"></div>
	  </br>
	  <%= f.text_area :desc, :placeholder => "New Project Description" %>
	  </br>
	  <%= submit_tag "CREATE PROJECT", class: "btn btn-blue-green", data: { disable_with: "Creating..." } %>
	<% end %>
</div>

<div class="field offWhite">
	<%= form_for(:project_song, url: submit_song_project_path(@song), remote: true, html: {id: 'song-form'}) do |f| %>
	  <div class="styled-select">
	    <%= f.select(:project_id, options_for_select(user_project_lists), prompt: "Select a Project to Add Song") %>
	  </div>
	  <div id= "project-error" style="color:red;"></div>
	  </br>
	  <%= f.text_area :desc, :placeholder => "Add some personal notes about this song" %>
	  <div id= "desc-error" style="color:red;"></div>
	  </br>
	  <%= submit_tag "ADD SONG", class: "btn btn-blue-green", data: { disable_with: "Adding..." } %>
	<% end %>
</div>

<script>
 $(function(){

 	$('#new_project_popup').click(function(){
 		$('.new-project').toggle();
 		$('#project-success').html("");
 	});

 });
</script>
