<%= content_for :id, 'share-quote-modal' %>

<h1>Edit This Song</h1>
<div class="field offWhite">
	<%= form_for(:project_song, url: submit_song_project_path(@song), remote: true, html: {id: 'song-form'}) do |f| %>
	  <%= f.select(:project_id, options_for_select(user_project_lists, selected: @project_song.try(:project_id)), prompt: "Select a Project") %>
	  <div id= "project-error" style="color:red;"></div>
	  </br>
	  <%= f.text_area :desc, :placeholder => "Add personal notes about the song" %>
	  <div id= "desc-error" style="color:red;"></div>
	  </br>
	  <%= submit_tag "Update Song", class: "btn btn-primary submitBtn", data: { disable_with: "Updating..." } %>
	<% end %>
</div>
