- set_meta_tags  site:   'Zudo Music Licensing for Film, TV and Video Games', 
          title:  'MY PROJECTS', 
          reverse: true,
          description: "This is a personalized page containing private projects playlist information.",
          noindex: false,
          canonical:"http://www.zudomusic.com/placements",
          author:  "https://plus.google.com/u/1/117370898715446501614"
- set_meta_tags og: { title:  'MY PROJECTS | Zudo Music Licensing for Film, TV and Video Games',
          type:   'website',
          url:    'http://www.zudomusic.com/projects',
          image:  'http://zudomusic.com/zudo_music-01-wmd-min.png',
          description: "This is a personalized page containing private projects playlist information."}
- set_meta_tags twitter: { card:   "summary_large_image",
          site:   "@ZudoMusic",
          title:  "MY PROJECTS | Zudo Music Licensing for Film, TV and Video Games",
          image:  "http://zudomusic.com/zudo_music-01-wmd-min.png",
          description: "This is a personalized page containing private projects playlist information."}

.page-title
  .center.container
    h1 My Projects
    p= link_to 'Create New project', new_project_path, :class => 'btn btn-ghost'

table.songlist
  thead.songlistHead
    tr
      th Name
      th Description
      th

  tbody
    - for project in @projects
      tr.songRow
        td #{project.name}
        td #{project.desc}
        td.storeBTNs
          = link_to project_path(project) do
            i.ion-ios-eye-outline
          = link_to edit_project_path(project) do
            i.ion-ios-compose-outline
          = link_to project_path(project), method: :delete, data: {confirm: 'Are you sure?'} do
            i.ion-ios-trash-outline

    - if @projects.empty?
      tr.songRow
        td colspan="5"
          | There is no project exists.