- set_meta_tags  site: "Zudo Music Licensing for Film, TV and Video Games", 
          title:  "#{@project.name} Playlist", 
          reverse: true,
          description: "Welcome to #{@project.name} playlist.",
          noindex: false,
          canonical:"http://www.zudomusic.com/projects/#{@project.id}",
          author:  "https://plus.google.com/u/1/117370898715446501614"
- set_meta_tags og: { title:  "#{@project.name} Playlist | Zudo Music Licensing for Film, TV and Video Games",
          type:   'website',
          url:    "http://www.zudomusic.com/projects/#{@project.id}",
          image:  'http://zudomusic.com/zudo_music-01-wmd-min.png',
          description: "Welcome to #{@project.name} playlist."}
- set_meta_tags twitter: { card:   "summary_large_image",
          site:   "@ZudoMusic",
          title:  "#{@project.name} Playlist | Zudo Music Licensing for Film, TV and Video Games",
          image:  "http://zudomusic.com/zudo_music-01-wmd-min.png",
          description: "Welcome to #{@project.name} playlist."}
- provide(:keywords, "Music Library")

.page-title
  .center.container
    h1
      =@project.name
    p="Welcome to #{@project.name} playlist"

section.section#favorites-page
  table.songlist
    thead.songlistHead
      tr
        th 
        th Song
        th Artist
        th Personal  Notes
        th
    tbody
      - @songlist.each do |songlist|
        tr.songRow
          - song = songlist.song
          td= image_tag song.image.url, class: 'songRowArt'
          td= link_to song.title, song_path(song)
          td= link_to song.artist.name, artist_path(song.artist), class: 'songRowArtist'
          td= songlist.desc
          td.storeBTNs
            - if user_signed_in? && songlist.user_id == current_user.id
              = link_to edit_song_project_path(songlist), data: {modal: true} do
                i.ion-ios-compose-outline
              = link_to delete_song_project_path(songlist ), method: :delete, data: {confirm: 'Are you sure?'} do
                i.ion-ios-trash-outline
            = link_to share_song_path(song), data: {modal: true} do
              i.ion-ios-redo-outline
            - if user_signed_in?
              = link_to add_song_project_path(song), data: {modal: true} do
                i.ion-ios-plus-empty
            - else
              a data-must-be-logged-in=true href="#"
                i.ion-ios-plus-empty
            - if user_signed_in?
              - favorited = current_user.favorite_projects.exists?(id: song.id)
              span.favoriteProject data-status=(favorited ? 'unfavorite' : 'favorite')
                = link_to favorite_projects_path(id: song.id), method: :post, remote: true, class: 'favorite' do
                  i.ion-ios-heart-outline
                i.ion-ios-reload.loading
                = link_to favorite_project_path(id: song.id), method: :delete, remote: true, class: 'unfavorite' do
                  i.ion-ios-heart
              / = link_to download_song_path(song) do
                i.ion-ios-cloud-download-outline
              = link_to add_to_cart_song_path(song), data: {modal: true} do
                i.ion-ios-cart-outline
            - else
              a data-must-be-logged-in=true href="#"
                i.ion-ios-heart-outline
              / a data-must-be-logged-in=true href="#"
                i.ion-ios-cloud-download-outline
              a data-must-be-logged-in=true href="#"
                i.ion-ios-cart-outline


  
