$('#project-error').html("");
$('#desc-error').html("");
<% if @errors.present? %>
  <% if @errors[:project].present? %>
    $('#project-error').html('<%= @errors[:project] %>');
  <% elsif @errors[:desc].present? %>
    $('#desc-error').html('<%= @errors[:desc] %>');
  <% end %>
<% elsif @success.present? %>
   $('.close-reveal-modal').click();
   alert("<%= @success %>");
<% end %>
