$('#project-name-error').html("");
$('#project-success').html("");
<% if @errors.present? %>
  $('#project-name-error').html('<%= @errors %>');
<% else %>
  $('#project_name').val(null);
  $('.new-project').hide();
  $('#project_song_project_id').html('<%= j render("projects/project_list") %>');
  $('#project-success').html('<%= @success %>')
<% end %>
