<%= form_for(@era) do |f| %>
  <% if @era.errors.any? %>
      <% @era.errors.full_messages.each do |message| %>
        <%= js add_gritter(message, :image => :warning ) %>
      <% end %>
  <% end %>

  <div class="field offWhite">
    <!--<%= f.label :name %><br>-->
    <%= f.text_field :name, :placeholder => 'Enter Era Name' %>
    <!--<%= f.label :desc %><br>-->
    <%= f.text_area :desc, :placeholder => 'Enter Era Description' %>
    <%= f.submit 'Save Era', :class => 'submitBTN' %>
  </div>
<% end %>
