<% provide(:title, "EDIT ERA") %>
<div class="page-title">
	<div class="container">
		<h1>Edit Era</h1>
		<p>Please enter information for all sections of the form below to enter a new era into the library.</p>
	</div>
	<div class="container">
		<%= render 'form' %>
		<%= link_to 'Show', @era %> |
		<%= link_to 'Back', eras_path %>
	</div>
</div>
