<% provide(:title, 'ERAS') %>
<% provide(:description, "Filter Songs by Era Time Period Category") %>
<% provide(:keywords, "Songs by Era") %>
<div class="page-title">
  <div class="container">
    <h1>Eras</h1>
    <p>Filter our library by any of the time periods below</p>
  </div>
</div>
<section class="section sect-pad">
  <div class="container">
    <% @eras.each do |era| %>
      <%= link_to era_path(era) do %>
        <div class="optCard">
          <div class="optCard-image offWhite">
            <%= image_tag('era_image') %>
          </div>
          <div class="optCard-title center">
            <h2><%= era.name %></h2>
          </div>
          <div class="optCard-desc center">
            <%= era.desc %>
          </div>
          <div class="optCard-admin">
            <% if can? :manage, Era %>
              <%= link_to 'Show', era %> | 
              <%= link_to 'Edit', edit_era_path(era) %> | 
              <%= link_to 'Destroy', era, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if can? :manage, Era %>
      <div class="center">
        <%= link_to 'Add New Era', new_era_path, :class => 'btn btn-ghost' %>
      </div>
    <% end %>
  </div>
</section>