<% provide(:title, "LOGIN") %>
<div class="page-title fullscreen">
  <div class="container">
    <h1>Login</h1>
    <p>Please enter your user information for full access to the Zudo Music Library.</p>
  </div>
  <div class="container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="field offWhite">
        <%= f.email_field :email, autofocus: true, :placeholder => 'Enter Your Email' %>
        <%= f.password_field :password, autocomplete: "off", :placeholder => 'Enter Your Password' %>
<!--
      <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
      <% end -%>
-->
        <%= f.submit "Log in", :class => 'submitBTN' %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %> 
  </div>
</div>
