= content_for :id, 'must-login-modal'

div.center
	h2.sub-head You must login to do that!

	p Accounts are FREE and you get access to all these cool features.

	a.btn.btn-blue href="#{new_user_session_path}" Login Here
	a.btn.btn-green href="#{new_user_registration_path}" Sign up Here