= content_for :id, 'share-zudo-modal'
= content_for :title, 'Like Zudo Music So Far?'

h2.sub-head Tell your world about us!!

p Copy the following text to share with your friends and followers

= text_area_tag :share_message, @share_message, class: 'share-message'

div.center
	= link_to @facebook_share_link, target: '_blank', class: 'social-icon' do
	  = image_tag 'facebook.svg'

	= link_to @twitter_share_link, target: '_blank', class: 'social-icon' do
	  = image_tag 'twitter.svg'

	= link_to @google_plus_share_link, target: '_blank', class: 'social-icon' do
	  = image_tag 'google-plus.svg'