<div class="blog-form field">
	<%= form_for :post, url: posts_path do |f| %>
	 	<p>
	 	   <%= f.label :image, 'Featured Image' %><br />
	 		<%= f.file_field :image %>    
		</p>
		<p>
			<%= f.text_field :title, :placeholder => 'Enter a Title' %>
	 	</p>
	 	<p>
	 		<%= f.text_area :body, class: 'blog-body-form', :placeholder => 'Enter Article Copy' %>
	 	</p>
		<p>
			<%= f.text_field :author, :placeholder => 'Enter Your Name' %>
	 	</p>
		<p>
			<%= f.text_field :desc, :placeholder => 'Enter a Description' %>
	 	</p>
		<p>
			<%= f.text_field :keyword, :placeholder => 'Enter a Keyword Phrase' %>
	 	</p>
	 	<p>
	 		<%= f.submit 'Create Blog', :class => 'submitBTN' %>
	 	</p>
	<% end %>
</div>