<% set_meta_tags 	site: 	'Zudo  Indie Filmmaking Blog', 
					title: 	@post.title, 
					reverse: true,
					description: @post.desc,
					noindex: false,
					author:  "https://plus.google.com/u/1/117370898715446501614"
%>
<% set_meta_tags og: {
					title: 	@post.title + ' | Zudo Indie Filmmaking Blog',
					type:  	'website',
					url:    post_path(@post),
					image:  @post.image.url(:medium),
					description: @post.desc
} %>
<% set_meta_tags twitter: {
					card: 	"summary_large_image",
					site: 	"@ZudoMusic",
					title: 	@post.title + " | Zudo Indie Filmmaking Blog",
					image: 	@post.image.url(:medium),
					description: @post.desc
} %>
<% provide(:keywords, @post.title) %>
