<% provide(:title, "FILM + MUSIC BLOG") %>
<% provide(:description, "Blog Description") %>
<% provide(:keywords, "Film &amp; Music Blog") %>

<div class="back">
	<%= link_to play_path do %>
		<i class="ion-ios-arrow-back"></i>
	<% end %>
</div>

<div class="blog-head">
	<h1>FILM &amp; MUSIC<br />BLOG</h1>
	<div class="center">
		<% if user_signed_in? %>
			<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-ghost animated shake', id: 'home-cta-btn' %>
		<% else %>
			<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-blue' %>
			<%= link_to "SIGNUP FREE", new_user_registration_path, class: 'btn btn-green' %>
		<% end %>
	</div>	
</div>
<section class="green">
	<div class="post-author container center">
		Recent Posts
	</div>
</section>
<section>
	<div class="container">

		<% if can? :manage, :all %>
			<%= link_to "Add New Blog Post", new_post_path, class: 'btn btn-ghost' %>
		<% end %>


		<% @posts.each do |post| %>
			<div class="post-prev clearfix">
				<%= image_tag post.image.url(:thumb), :class => 'post-prev-img' %>
				<h2 class="post-prev-title"><%= link_to post.title, post %></h2>
				<p class="post-prev-info">
					<%= post.created_at.strftime('%B, %d, %Y') %><br />
					by <em><%= post.author %></em>
				</p>
				<p class="post-prev-desc"><%= post.desc %></p>
			</div>
		<% end %>
	</div>
</section>