<div class="page-title">
	<h1>New Blog Post</h1>
	<div class="container center">
		<% if can? :manage, :all %>
			<%= render 'form' %>
		<% else %>
			<h2>Access Denied!</h2>
			<p>This Page is Available to Site Admins and Moderators ONLY!!</p>
		<% end %>
	</div>
</div>