<%= render 'postmeta' %>
<% provide(:keywords, @post.keyword ) %>

<div class="back">
	<%= link_to posts_path do %>
		<i class="ion-ios-arrow-back"></i>
	<% end %>
</div>
<div class="post-wrap">
<section class="post-head" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(<%= @post.image.url %>); background-position: center center; background-size: cover;">
<!--	<%= image_tag @post.image.url, class: 'blog-feature-img' %> -->
	<h1 class="blog-title container">
		<%= @post.title %>
	</h1>
	<div class="center">
		<% if user_signed_in? %>
			<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-ghost animated shake', id: 'home-cta-btn' %>
		<% else %>
			<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-blue' %>
			<%= link_to "SIGNUP FREE", new_user_registration_path, class: 'btn btn-green' %>
		<% end %>
	</div>	
	<p>
		<% if can? :manage, :all %>
			<%= link_to "Edit ", edit_post_path(@post) %> | <%= link_to " Delete", post_path(@post), method: :delete, data: { confirm: "For Realz?!" } %>
		<% end %>
	</p>
</section>
<section class="green">
	<div class="post-author container">
		<p class="blog-date center">
			<strong><em>by <%= @post.author %></em></strong> &nbsp; <%= time_ago_in_words(@post.created_at) %> ago
		</p>
	</div>
</section>
<section>
	<div class="post-content container">
		<h2 class="post-title">
			<%= @post.title %>
		</h2>
		<p class="blog-body">
			<%= simple_format(@post.body) %>
		</p>
	</div>
</section>
<section class="offWhite">
	<div class="comment-wrap container">
		<h3 style="font-size:100%;"><em style="font-weight:300;border-bottom:1px solid #ccc;"><strong style="font-weight:500;"><%= @post.comments.count %></strong> Comments</em></h3>
		<div class="comment-roll">
			<%= render @post.comments %>
		</div>
	</div>
</section>
<section class="blue">
	<div class="comment-wrap container">
		<h4 style="padding-bottom:10px;">Add a Comment</h4>		
		<% if user_signed_in? %>
			<%= render "comments/form" %>
		<% else %>
			<h5>You Must Login to Leave Comments</h5>
			<%= link_to 'Login', new_user_session_path, class: 'btn btn-green' %>
			<%= link_to 'Signup', new_user_registration_path, class: 'btn btn-ghost' %>
		<% end %>
	</div>
</div>
</section>
