<%= form_for(@pace) do |f| %>
  <% if @pace.errors.any? %>
      <% @pace.errors.full_messages.each do |message| %>
        <%= js add_gritter(message, :image => :warning ) %>
      <% end %>
  <% end %>
  <div class="field offWhite">
    <!--<%= f.label :name %><br>-->
    <%= f.text_field :name, :placeholder => 'Enter Pace Name' %>
    <!--<%= f.label :desc %><br>-->
    <%= f.text_area :desc, :placeholder => 'Enter Pace Description' %>
    <%= f.label :icon, 'Icon' %>
    <%= f.file_field :icon %>
    <%= f.submit 'Save Pace', :class => 'submitBTN' %>
  </div>
<% end %>
