<% provide(:title, "EDIT PACE") %>
<div class="page-title">
	<div class="container">
		<h1>Edit Pace</h1>
		<p>Please enter information for all sections of the form below to edit a pace into the library.</p>
	</div>
	<div class="container">
		<%= render 'form' %>
		<%= link_to 'Show', @pace %> |
		<%= link_to 'Back', paces_path %>
	</div>
</div>
