<% provide(:title, 'PACES') %>
<% provide(:description, "Filter Songs by Pace Category") %>
<% provide(:keywords, "Songs by Pace") %>
<div class="page-title">
  <div class="container">
    <h1>Song Paces</h1>
    <p>Filter our library by any of the song paces below</p>
  </div>
</div>
<section class="section sect-pad">
  <div class="container">
    <% @paces.each do |pace| %>
      <%= link_to pace_path(pace) do %>
        <div class="optCard">
          <div class="optCard-image">
            <%= image_tag pace.icon.url(:medium) %>
          </div>
          <div class="optCard-title center">
            <h2><%= pace.name %></h2>
          </div>
          <div class="optCard-desc center">
            <%= pace.desc %>
          </div>
          <div class="optCard-admin">
            <% if can? :manage, Pace %>
              <%= link_to 'Show', pace %> | 
              <%= link_to 'Edit', edit_pace_path(pace) %> | 
              <%= link_to 'Destroy', pace, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if can? :manage, Pace %>
      <div class="center">
        <%= link_to 'Add New Pace', new_pace_path, :class => 'btn btn-ghost' %>
      </div>
    <% end %>
  </div>
</section>