<% provide(:title, "ADD PACE") %>
<div class="page-title">
	<div class="container">
		<h1>Add New Pace</h1>
		<p>Please enter information for all sections of the form below to enter a new pace into the library.</p>
	</div>
	<div class="container">
		<%= render 'form' %>
		<%= link_to 'Back', paces_path %>
	</div>
</div>