<% provide(:title, @pace.name) %>
<% provide(:description, @pace.name + " Songs Available for Synch Licensing in Film and TV Soundtracks") %>
<% provide(:keywords, @pace.name + " Songs") %>
<div class="page-title">
	<div class="container">
		<h1><%= @pace.name %> Songs</h1>
    	<p><%= @pace.desc %></p>
	</div>
</div>
<section class="catPlayerWrap">
	<table class="songlist">
	  <thead class="songlistHead">
	    <tr>
	      <th>Artwork</th>
	      <th>Title</th>
	      <th>Artist</th>
	      <th>Genre</th>
	      <th>Mood</th>
	      <th>Era</th>
	      <th>Key</th>
	      <th>Tempo</th>
	      <th>Instrument</th>
	      <th> </th>
	    </tr>
	  </thead>
	  <tbody>
	    <% Song.where(pace_id: @pace.id).each do |song| %>
	      <tr class="songRow">
	        <td>
	          <div class="songRowPlay">
	            <a href="#">
	              <i class="ion-ios-play"></i>
	              <%= image_tag song.image.url, class: 'songRowArt' %>
	            </a>
	          </div>
	        </td>
	        <td><a href="#"><%= link_to song.title, song_path(song.id) %></a></td>
	        <td><%= link_to Artist.find(song.artist_id).name, artist_path(song.artist_id) %></td>
	        <td><%= link_to Genre.find(song.genre_id).name, genre_path(song.genre_id) %></td>
	        <td><%= link_to Mood.find(song.mood_id).name, mood_path(song.mood_id) %></td>
	        <td><%= link_to Era.find(song.era_id).name, era_path(song.era_id) %></td>
	        <td><%= link_to Key.find(song.key_id).name, key_path(song.key_id) %></td>
	        <td><%= link_to Tempo.find(song.tempo_id).name, tempo_path(song.tempo_id) %></td>
           <td><%= link_to Instrument.find(song.instrument_id).name, instrument_path(song.instrument_id) %></td>
	        <td class="storeBTNs">
	            <a href="#"><i class="ion-ios-star-outline"></i></a>
	            <a href="#"><i class="ion-ios-cloud-download-outline"></i></a> 
	            <a href="#"><i class="ion-ios-cart-outline"></i></a>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</section>
