// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #8cb49e;
$blue: #4a707c;
$white: #fffffe;
$off-white: #fffef2;
$dk-blue: #1d2c30;
$dkdk-blue: #101a1d;

// INDEX PAGE

.rosterWrap {
	width: 100%;
	margin: 0;
	padding: 0;
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('sync_music_library-min.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	.rosterHead h1 {
		text-align: center;
		font-size: 520%;
		line-height: 100%;
		font-weight: 200;
		padding-top: 50px;
		color: #fdfefd;
	}
	.rosterHead p {
		max-width: 720px;
		margin: 0 auto;
		padding: 20px 3% 30px 3%;
		color: #fdfefd;
		font-size: 120%;
		font-weight: 300;
		text-align: center;
	}
	ul.artistRoster {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0 0 30px 0;
		.rosterArtistCard {
			display: inline-block;
			width: 18%;
			margin: 10px 0;
			padding: 10px 5px 30px 5px;
		}
		.rosterIMG {
			width: 140px;
			height: 140px;
			margin: 0 auto;
			text-align: center;
			border: 4px solid $green;
			border-radius: 50%;
			background-size: cover;
			transition: transform 0.3s;
			-webkit-transition: transform 0.3s;
			box-shadow: 0 2px 4px rgba(0,0,0,0.5);
		}
		.rosterArtistCard {
			height: auto;
			h2 {
				color: rgba(255,255,253,0.7);
				font-size: 140%;
				line-height: 20px;
				font-weight: 400;
				text-align: center;
				margin: -20px auto;
				padding: 8px 10px;
				border-radius: 30px;
				transition: transform 0.3s;
				-webkit-transition: transform 0.3s;
				background-color: $dk-blue;		
				box-shadow: 0 2px 4px rgba(0,0,0,0.5);
				overflow: hidden;
			}
		}
		.rosterArtistCard:hover { 
			h2 {
				color: rgba(255,255,253,1);
				transform: scale(1.04);
			}
			.rosterIMG {
				transform: scale(1.04);
			}
		}
	}
}



// SHOW PAGE

.artistHead {
	height: 600px;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	.artistHeroIMG {
		height: 650px;
		width: 100%;
		margin: 0;
		padding: 0;
		background-size: cover;
		background-position: center center;
		-webkit-filter: blur(9px);
		-moz-filter: blur(9px);
		-o-filter: blur(9px);
		-ms-filter: blur(9px);
		filter: blur(9px);
	}
	.artistHeroColor {
		position: absolute;
		top: 0;
		left: 0;
		height: 600px;
		width: 100%;
		margin: 0;
		padding: 0;
		background-image: linear-gradient(rgba(15,21,22,0.7), rgba(15,21,22,0.9));
		//background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9));
	}
	.artistHeroBox {
		position: absolute;
		width: 100%;
		height: 600px;
		margin: 0;
		margin-top: 60px;
		padding: 0;
		top: 0;
		left: 0;
	}
	.artistHeadIMG {
		width: 30%;
		.artistBubble {
			width: 240px;
			height: 240px;
			margin: 5px auto;
			overflow: hidden;
			border-radius: 50%;
			background-size: cover;
			background-position: center center;
			box-shadow: 0 3px 3px rgba(0,0,0,0.6);
			.artistSocialBTNs {
				margin: 200px 0 0 0;
				padding: 3px 72px 30px 72px;
				text-align: left;
				float: left;
				background-color: rgb(15,21,22);
				a,
				a:link,
				a:visited {
					padding: 10px 5px;
					cursor: pointer;
					color: $dk-blue;
					font-size: 120%;
					text-shadow: 0 0 1px rgba(0,0,0,0.3);
				}
				a:first-of-type {
					padding-left: 0;
				}
				a:last-of-type {
					padding-right: 0;
				}
				a:hover {
					color: $white;
				}
			}	
		}
		.artistStats {
			td {
				font-size: 80%;
				line-height: 140%;
				text-align: left;
				padding: 0 3px;
				font-weight: 700;
			}
			td.tablelabel {
				text-align: right;
				font-weight: 300;
			}
		}
	}	
	.artistHeadBio {
		width: 70%;
		p {
			padding: 0 3% 10px 3%;
		}
		.artistHeroName {
			margin: 40px 3% 0 3%;
			padding: 0;
			color: #fdfefd;
			font-size: 330%;
			font-weight: 200;
			text-align: left;
			line-height: 100%;
			text-transform: uppercase;
			overflow: hidden;
			overflow: -moz-scrollbars-none;
	    	-ms-overflow-style: none;

		}
		.bioScroll {
			height: 360px;
			overflow-y: scroll;
		}
		.bioScroll::-webkit-scrollbar { width: 0 !important;display:none; }

	}
}

.heroPlay {
	width: 80px;
	margin: 0 auto;
	padding: 6px 18px 20px 22px;
	color: #8cb49e;
	text-align: center;
	cursor: pointer;
	background-color: rgba(0,0,0,0.5);
	border-radius: 50%;
	transition: background-color 0.4s, color 0.4s;
}
.heroPlay:hover {
	background-color: rgba(140, 180, 158,0.9);
	color: #fdfefd;
}
.heroPlay i {
	font-size: 350%;
	line-height: 100%;
	padding: 0;
	margin: 0;
}
.heroPlay p {
	font-size: 100%;
	padding: 0;
	margin: 0;
}

.artistBio {
	padding: 8px 5% 8px 5%;
	line-height: 170%;
	text-align: justify;
}
p.artistBio:first-of-type {
	padding-top: 30px;
}
p.artistBio:last-of-type {
	padding-bottom: 30px;
}

form.searchbar {
  position: relative;
  width: 90%;
  max-width: 640px;
  margin: 15px auto 0 auto;
  // top: 60px;
  // left: 50%;
  // transform: translateX(-50%);
  input[type='text'] {
    width: 100%;
    background: darken($blue, 5%);
    padding: 6px 0;
    font-size: 120%;
    font-weight: 300;
    text-align: center;
    border-radius: 20px;
    appearance: none;
    box-shadow: none;
    border: none;
    color: $white;
  }
  input[type="text"]:focus {
    outline: none;
  }
  input[type="submit"] {
    outline: none;
    border: none;
    background: $blue;
    position: absolute;
    top: 0;
    right: 0;
    // width: 30px;
    height: 38px;
    padding: 0 12px 0 9px;
    transition: all 333ms ease-in-out;
    border-radius: 0 20px 20px 0;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.6);
            box-shadow: 0 0 0 0 rgba(0,0,0,0.6);        
    i {
      font-size: 90%;
      
    }
    &:hover {
      background: $green;
      i {

      }
    }
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $white;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $white;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $white;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $white;
  }
}



// RELATIONSHIPS PAGE

table.artistRels {
	font-weight: 600;
	font-size: 120%;
	th {
		padding: 12px 0 5px 0;
	}
	tr {
		margin-bottom: 30px;
		border-bottom: 1px solid #dddddd;
	}
	td {
		img {
			width: 90px;
			height: 90px;
			border-radius: 50%;
			margin: 10px 0;
			box-shadow: 0 2px 3px rgba(0,0,0,0.7);
		}
	}
}