.optCard {
	display: inline-block;
	width: 32%;
	margin: 8px .4%;
}
.optCard-image {
    min-height: 150px;
	img {
      width: 100%;
    }
}
.optCard-title h2 {
	padding: 10px;
	font-weight: 300;
}
.optCard-desc {
	height: 80px;
	overflow: hidden;	
}
.optCard-admin {
	text-align: center;
}