#contactPage {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('sync_music_library.jpg') no-repeat fixed center;
  background-size: cover;
  padding-bottom: 10px;

  .page-title {
    color: #fefffe;
    font-size: 500%;
    line-height: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .page-sub-title {
    font-size: 240%;
    font-weight: 100;
    line-height: 100%;
    text-align: center;
    padding: 0 0 15px 0;
    margin: 0;
    color: rgba(255, 255, 253, 0.6);
  }

  .page-description {
    color: rgba(255, 255, 253, 0.4);
    font-size: 115%;
    line-height: 140%;
    text-align: center;
    margin: 0;
    padding: 0 0 0 50px;
  }

  .contact-form {
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 100px;

    h2 {
      font-size: 200%;
      font-weight: 200;
      line-height: 100%;
      text-align: center;
      padding: 0 0 15px 0;
      margin: 0;
      color: rgba(255,255,253,0.6);
    }

    input {
      width: 100%;
      height: 40px;
      margin: 4px 0;
      padding: 2px;
      font-size: 140%;
      text-align: center;
    }

    .field_with_errors {
      text-align: center;

      .error {
        color: #8cb49e;
      }
    }

    textarea {
      width: 100%;
      margin: 4px 0;
      padding: 15px 2px 2px 2px;
      font-size: 140%;
      text-align: center;
    }

    button {
      width: 100%;
      padding: 15px;
      margin: 0;
      font-size: 160%;
      font-weight: 300;
      background-color: #8cb49e;
      color: rgba(255, 255, 253, 0.7);
    }
  }
}