@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import 'ionicons';
@import 'colors';


/*--------------------------------------------
             DEFAULT STYLES 
---------------------------------------------*/

html, body {
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	font-size: 18px;
	line-height: 150%;
	font-weight: 300;
	background-color: #fefffe;
	color: #4a707c;
	margin: 0;
	padding: 0;
}
body {
	margin-bottom: 300px;
}
h1 {
	font-size: 400%;
	font-weight: 200;
	padding: 10px 0;
	margin: 0;
}
h2 {
	font-size: 140%;
	font-weight: 300;
	padding: 20px 0;
	margin: 0;
}
h2.sub-head {
	padding: 0 0 10px 0;	
}
h3 {
	font-size: 130%;
	font-weight: 100;
	padding: 10px 0;
	margin: 0;
}
h4 {
	font-size: 150%;
	font-weight: 100;
	padding: 10px 0;
	margin: 0;
}
p {
	font-size: 100%;
	font-weight: 300;
	padding: 10px 0;
	margin: 0;
	max-width: 960px;
}
a,
a:link,
a:visited {
	font-size: 100%;
	font-weight: 300;
	text-decoration: none;
	color: #8cb49e; 
}
a:hover { 
	color: #4a707c;
}
button {background:none; border:none;}
table { width: 100%; }
th {
	text-align: center;
	padding: 0;
	margin: 0;
}
td {
	text-align: center;
	padding: 0;
	margin: 0;
}
.center {
	text-align: center;
	margin: auto;
}
ul {
	padding: 0;
}
li {
	list-style-type: none;
}
li a {
	text-decoration: none;
}
form {
	margin: 0;
	padding: 0;
}
select {
	font-size: 16px;
}


/*--------------------------------------------
             REUSABLE STYLES 
---------------------------------------------*/

.main-wrap {
	width: 100%;
	padding: 0;
	margin: 0 auto;
}
.container {
	width: 100%;
	max-width: 960px;
	padding: 0;
	margin: 0 auto;
}
.fullscreen {
	height: 100vh;
	min-height: 100vh;
	max-height: 100vh;
}
.left {
	float: left;
}
.clearfix {
	clear: both;
	overflow: auto;
	zoom: 1;
}
.offWhite {
	background-color: #edecea;
}
.green {
	background-color: #8cb49e;
	color: #fffef2;
}
.blue {
	background-color: #4a707c;
	color: #fffef2;
}
.pointer {
	cursor: pointer;
}
.styled-select {
	width: 100%;
	margin: 0;
	background: url(dropdown.png) no-repeat right #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	select {
		background: transparent;
		width: 100%;
		margin: 0;
		padding: 5px 10px;
		text-align: center;
		font-size: 120%;
		font-weight: 400;
		line-height: 120%;
		border: 0;
		border-radius: 0;
		height: 45px;
		-webkit-appearance: none;
	}
}
   /*
.show-mobile {
	display: block;
}
.hide-mobile {
	display: block;
}
.hide-inline-mobile {
	display: inline-block;
}
.hide-small-mobile {
	display: block;
}
.hide-inline-small-mobile {
	display: inline-block;
}
.hide-tablet {
	display: block;
}
.hide-inline-tablet {
	display: inline-block;
}
.hide-small-tablet {
	display: block;
}
.hide-inline-small-tablet {
	display: inline-block;
}
*/
.btn {
	display: inline-block;
	padding: 5px 40px;
	border-radius: 30px;
	font-size: 110%;
	transition: background-color 0.4s, font-size 0.3s, color 0.4s, border 0.3s, box-shadow 0.3s, padding 0.2s, margin 0.2s;
	margin: 2px;
}
.btn:hover p {

}
.btn-primary {
	background-color: #8cb49e;
}
.btn-ghost {
	border: 1px solid #8cb49e;
	color: #8cb49e;
}
.btn-green {
	background-color: #8cb49e;
	color: #fffef2 !important;
	padding: 10px 40px;
	font-weight: 400;
}
.btn-blue {
	background-color: #4a707c;
	color: #fffef2 !important;
	padding: 10px 40px;
	font-weight: 400;
}
.btn-blue-green {
	background-color: #4a707c;
	color: #fffef2 !important;
	padding: 10px 40px;
	font-weight: 400;
}
.btn-green-blue {
	background-color: #8cb49e;
	color: #fffef2 !important;
	padding: 10px 40px;
	font-weight: 400;
}
.btn-green:hover {
	background-color: #fffef2;
	color: #8cb49e !important;
	padding: 10px 40px;
}
.btn-blue:hover {
	background-color: #fffef2;
	color: #4a707c !important;
	padding: 10px 40px;
}
.btn-blue-green:hover {
	background-color: #8cb49e;
	color: #fffef2 !important;
	padding: 10px 40px;
}
.btn-green-blue:hover {
	background-color: #4a707c;
	color: #fffef2 !important;
	padding: 10px 40px;
}
.btn-ghost:hover {
	background-color: #4a707c;
	border: 1px solid #4a707c;
	color: #fffef2;
	padding: 7px 44px;
	box-shadow: 0 2px 4px rgba(22, 22, 22, 0.3);
	margin: 0;
}
section:last-of-type {
	box-shadow: 0 1px 2px rgba(22, 22, 22, 0.2);
}
.field {
	width: 90%;
	max-width: 880px;
	margin: 0 auto;
	padding: 20px 3%;
	box-shadow: 0 1px 2px rgba(22, 22, 22, 0.2);
}
.field input,
.field textarea {
	outline: 0;
	border: none;
	width: 100%;
	margin: 5px 0;
	padding: 5px 0;
	text-align: center;
	vertical-align: middle;
	box-shadow: 0 1px 2px rgba(22, 22, 22, 0.2);
}
.field input { 
	height: 30px;
}
.field textarea {
	height: 60px;
}
.field .submitBTN {
	display: block;
	width: 100%;
	max-width: 880px;
	padding: 10px;
	height: 60px;
	margin: 5px 0;
	font-size: 160%;
	font-weight: 300;
	background-color: #8cb49e;
	color: rgba(255, 255, 253, 0.7);
	box-shadow: 0 1px 2px rgba(22, 22, 22, 0.2);
}
button.btn {
	color: white;
	background: #4a707c;
	padding: 20px 30px;
}

.gritter-item {
	background: rgba(255,255,255,0.9);
}


div#content {
	background-color: red;
}

.pc-video {
	display: block;
}
.mobile-video {
	display: none;
}
.site-logo-wrap {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	z-index: 9999;
	padding: 0 24px;
	border-radius: 0 0 21px 21px;
	background-color: rgba(15,21,22,1);
	.site-logo-IMG {
		float: left;
		img {
			height: 21px;
			padding: 0;
			margin: 0;
			margin-top: 5px;
		}
	}
	.site-logo-p {
		float: left;
		padding: 0;
		margin-left: 10px;
		margin-top: 7px;
		line-height: 100%;
	}
}