footer {
	position: fixed;
	bottom: 0;
	z-index: -9999;
	width: 100%;
	height: 300px;
	background-color: #edecea;
	background: linear-gradient(rgba(237, 236, 234,0.5), rgba(117,117,109,0.5)), url('foot_texture.jpg');
	color: rgba(255, 255, 253, 0.6);
	padding: 0;
	margin:0 auto;
}
footer h3 {
	color: #8cb49e;
	margin-bottom: 10px;
}
footer p {
	color: #4a707c;
	font-size: 80%;
	font-weight: 300;
	line-height: 150%;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.footer-nav {
	margin-top: 20px;
}
.footer-nav ul li {
	display: inline-block;
	padding: 8px;
}
.footer-nav a,
.footer-nav a:link,
.footer-nav a:visited {
	font-size: 100%;
	font-weight: 300;
	text-decoration: none;
	color: rgba(74, 112, 124, 0.7);
	padding: 10px;
	transition: color 0.4s, border 0.3s;
}
.footer-nav a:hover {
	color: rgba(74, 112, 124, 1);
	border-bottom: 1px solid rgba(74, 112, 124, 0.5);
}
.foot-sub-form {
	margin: 10px auto;
	width: 75%;
	max-width: 420px;
}
.foot-sub-form input {
	padding: 5px 2%;
	margin: 10px auto;
	width: 96%;
	font-size: 150%;
	color: rgba(74, 112, 124, 0.7);
	text-align: center;
	border-radius: 20px;
	outline: none;
}
.foot-sub-form input.btn {
	border: none;
	background-color: #8cb49e;
	margin: 5px auto;
	text-align: center;
}
#foot-cta-btn {
	padding: 15px 40px;
	margin-top: 20px;
	width: 90%;
	max-width: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
	color: #8cb49e;
}
#foot-cta-btn:hover {
	color: #fffffd;	
}
.foot-cta {
	margin-top: 20px;
}


