$green: #8cb49e;
$blue: #4a707c;
$white: #fffffe;
$off-white: #fffef2;
$dk-blue: #1d2c30;

.gritter-item-wrapper {
    background: none !important;
    overflow: hidden !important;
    .border-radius: 15px !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 99999 !important;    
    width: 100% !important;    
    box-shadow: 0 1px 2px rgba(0,0,0,0.7) !important;    
}
.gritter-top,
.gritter-bottom,
.gritter-item {
    background: $blue !important;
    padding: 5px 0 !important;
    box-shadow: 0 2px 3px rgba(0,0,0,0.8);
}
.gritter-close,
.gritter-light .gritter-close {
    left: auto !important;
    right: 15px !important;
    top: 0 !important;
    background: $blue !important;
    width: 16px !important;
    height: 36px !important;
    line-height: 36px !important;
    display: block !important;
    float: left;
    color: $white !important;
    cursor: pointer;
}
.gritter-close:before,
.gritter-light .gritter-close:before {
    content: '\f00d' !important;
    font-family: 'FontAwesome' !important;
    font-size: 9px !important;
    width: 16px !important;
    height: 16px !important;
    line-height: 16px !important;
    color: $white !important;
    text-indent: 0 !important;
    position: absolute !important;
    text-align: center !important;
    right: 0 !important;
    top: 0 !important;
    cursor: pointer;
}
.gritter-with-image {
    box-shadow: 0 2px 3px rgba(0,0,0,0.8);
    p {
        margin: 0 !important;
        margin-left: 10px !important;
        padding: 6px !important;
        font-weight: 400 !important;
    }
}
.gritter-image {
    margin: 0 !important;
    margin-top: 4px !important;
    margin-right: 6px !important;
    .border-radius: 2px !important;
    width: 30px !important;
    float: left;
}
.gritter-title {
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 2px !important;
    font-weight: 400 !important;
    color: $white !important;
    text-shadow: none !important;
    float: left;
}
.gritter-light .gritter-title {
    color: $white !important;
    font-weight: 600 !important;
}
.gritter-item {
    font-family: 'Lato' !important;
    color: $white !important;
    font-size: 15px !important;
    padding: 0 !important;
    box-shadow: 0 2px 3px rgba(0,0,0,0.8);
}
.gritter-light .gritter-item, 
.gritter-light .gritter-bottom, 
.gritter-light .gritter-top {
    background: rgba(255,255,255,0.9) !important;
    color: $blue !important;
}