﻿$green: #8cb49e;
$blue: #4a707c;
$white: #fefffd;
$dk-blue: #1d2c30;

#zudo-player-container {
  position: fixed;
  bottom: 0;
}

.jp-audio {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  width: 100%;
  height: 60px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #4a707c;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 0;

  .jp-play {
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    background-color: $white;

    a {
      cursor: pointer;
      width: 60px;
      height: 60px;
      display: block;

      svg.pp {
        width: 60px;
        height: 60px;
      }
    }
  }

  .jp-controls {
    left: 60px;
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    background-color: rgb(74, 112, 124);

    a {
      cursor: pointer;
      width: 40px;
      height: 60px;
      display: inline-block;
      font-size: 36px;
      line-height: 60px;
      text-align: center;
      color: rgba(0,0,0,0.2);
      background-color: rgba(0,0,0,0.1);

    }
    a:hover {
      color: rgba(255,255,255,0.9);
    }

  }

  .jp-actions {
    right: 0;
    position: absolute;
    top: 0;
    width: 145px;
    height: 100%;
    background-color: rgb(74, 112, 124);

    a {
      cursor: pointer;
      width: 40px;
      height: 40px;
      display: inline-block;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      color: white;
      padding-top: 10px;
    }
    a:first-child {
      padding-left: 10px;
    }
  }

  .jp-info {
    position: absolute;
    top: 0;
    left: 100px;
    right: 0;
    height: 100%;
    pointer-events: none;
    color: rgba(255, 255, 253, 1);
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;

    .title {
      line-height: 25px;
      height: 25px;
      font-size: 24px;
      padding-left: 12px;
      font-weight: 600;
    }

    .artist {
      line-height: 25px;
      height: 25px;
      font-size: 20px;
      padding-left: 12px;
      font-weight: 300;
    }
  }

  .jp-progress {
    position: absolute;
    top: 0;
    left: 100px;
    right: 0;
    height: 100%;
    background-color: #8cb49e;
    margin-right: 145px;

    .jp-seek-bar {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      cursor: pointer;

      .jp-play-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #1d2c30;
      }
    }
  }

  .jp-current-time {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding: 0 12px;
    font-size: 16px;
    line-height: 60px;
    text-align: right;
    pointer-events: none;
  }

  .jp-no-solution {
    position: absolute;
    top: 0;
    left: 60px;
    right: 0;
    height: 60px;
    padding: 8px 0;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    display: none;
    color: #ffd850;
    background-color: #b28282;
  }
}


/* -------------------------- */
/* ----- MOBILE < 480px ----- */
/* -------------------------- */
@media only screen and (max-width: 480px) {

  .hide-inline-small-mobile {
    display: none;
  }

  .jp-audio {
    .jp-actions {
      width: 60px;
      a {
        width: 40px;
        height: 40px;
        font-size: 40px;
        line-height: 40px;
        padding-top: 10px;
      }
      a:first-child,
      a:nth-child(2) {
        padding-left: 10px;
      }
    }
    .jp-progress {
      margin-right: 60px;
    }
    .jp-info {
      left: 100px;
      padding: 10px 5px;

      .title {
        line-height: 20px;
        height: 20px;
        font-size: 20px;
        padding-left: 5px;
      }

      .artist {
        line-height: 20px;
        height: 20px;
        font-size: 16px;
        padding-left: 5px;
        font-weight: 300;
      }
    }
  }


}