// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #8cb49e;
$blue: #4a707c;
$white: #fffef2;
$dk-blue: #1d2c30;

.libraryWrap {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #4a707c;
/*
	background: url('sync_music_library.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
*/
}
.libraryWrap a:hover {
	color: #4a707c;
}
.searchWrap {
	display: block;
	float: left;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 85%;
/*
	background: linear-gradient(rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.6));
*/
}
.searchCatWrap {
	display: block;
	float: left;
	width: 140px;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: scroll;
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
/* background-color: #e3dfd8; */

/* box-shadow: 2px 0 3px rgba(22, 22, 22, 0.2); */
}
.searchCat {
	padding: 7px 15px;
	cursor: pointer;
}
.searchCat a {
	color: #fdfefd;
}
.searchCat:hover {
	background-color: rgba(253, 255, 253, 0.3);
}
.searchCat:hover a {
	color: #000;
}
.searchOptWrap {
/* display: block; */
	display: none;
	float: left;
	width: 140px;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: scroll;
	background-color: rgba(253, 255, 253, 0.6);
   box-shadow: inset 0 0 5px rgba(22, 22, 22, 0.4);
}

.searchOptWrap a {
	color: #555;
}
.searchCat:first-child {
	margin-top: 100px;
}
.searchOpt:first-child {
	margin-top: 80px;
}
.searchOpt {
	padding: 7px 15px;
	cursor: pointer;
}
.searchOpt:hover {
	background-color: rgba(253, 255, 253, 0.4);
}
.sortWrap {
	float: left;
	width: calc(96% - 140px);
	height: 90px;
	padding: 5px 2%;
	color: #fcfdfc;
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
	transition: width 0.3s;
}
.sortWrap.optOpen {
	width: calc(96% - 300px);
}
.songsWrap {
	float: left;
	width: calc(100% - 140px);
	height: calc(100% - 100px);
	margin: 0;
	padding: 0;
	background: #fdfefd;
	overflow: scroll;
	transition: width 0.3s;
}
.songsWrap.optOpen {
	width: calc(100% - 300px);
}
.songlist {
	width: 96%;
	margin: 0 2%;
  overflow: scroll;
}
.songlistHead {
	width: 100%;
	border-top: 1px solid rgba(74, 112, 124,0.1);
	border-bottom: 1px solid rgba(74, 112, 124,0.1);
}
.songlistHead tr th {
	font-size: 80%;
	font-weight: 400;
	line-height: 200%;
}
.songRow {
	width: 100%;
	height: 60px;
	font-size: 85%;
	line-height: 100%;
	border-bottom: 1px solid rgba(74, 112, 124,0.1);
  &.is-playing {
    background-color: rgba(74, 112, 124, 0.09);
  }
}
.songRow:hover {
	background-color: rgba(74, 112, 124, 0.05);
  .songRowPlay span i {
    color: #fff;
    background-color: rgba(74, 112, 124, 1.0);
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  }
}
.songRowPlay {
	position: relative;
	margin: 0;
	padding: 0;
  width: 96px;
}
.songRowPlay span {
  cursor: pointer;
  i {
    font-size: 315%;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 4px 13px 4px 19px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.0);
  }
}
.songRowPlay:hover span i {
	color: #fff;
	background-color: rgba(74, 112, 124, 1.0);
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
.songlist-art-col {
  width: 64px;
  text-align: left;
}
.songRowArt {
	width: 56px;
	height: 56px;
	margin: 5px;
}
.playHeader {
  width: 60px;
  max-width: 60px;
}
.songlist-main-col {
  max-width: 160px;
  overflow:hidden;
  white-space:nowrap;
  text-align: left;
}
.songRow a {
  color: #4a707c;
  font-weight: 400;
}
.songRow i {
	font-size: 170%;
	font-weight: 400;
	margin: 0;
	padding: 2px 5px;
}

.songRow td.storeBTNs {
	text-align: right;
  .favoriteProject {
    &[data-status="favorite"] {
      .favorite {
        display: inline;
      }
      .unfavorite {
        display: none;
      }
      .loading {
        display: none;
      }
    }

    &[data-status="unfavorite"] {
      .unfavorite {
        display: inline;
      }
      .favorite {
        display: none;
      }
      .loading {
        display: none;
      }
    }

    &[data-status="loading"] {
      .unfavorite {
        display: none;
      }
      .favorite {
        display: none;
      }
      .loading {
        display: inline;
      }
    }
  }
}

#song-filter-menu {
  background-color: #1d2c30;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  max-width:440px; 
  .mm-navbar {
    height: 77px;
    padding: 0;
    .mm-title {
      padding: 18px 0;
      height: 60px;
      line-height: 40px;
      color: $white;
      font-size: 180%;
    }

    .mm-prev {
      height: 100px;
      line-height: 100px;
      padding: 0;
    }
  }

  .mm-listview {
    padding: 0;
    margin: 0;
    margin-top: 18px;
    font-size: 100%;
    width: 100%;
    li {
      padding-top: 6px;
      padding-bottom: 6px;
    }
    li:hover {
      background-color: $blue;
    }
    li > a {
      color: $white;
    }    
    label.mm-toggle, label.mm-check {
      left: 20px;
      padding-right: 370px;
      cursor: pointer;
    }

    label.mm-check + a, label.mm-check + span {
      padding-left: 60px;
    }
  }
}
#song-filter-menu::-webkit-scrollbar { width: 0 !important;display:none; }

.mm-menu > .mm-panel {
  padding: 0;
}
#libraryPage {
  min-height: 100vh;

  .header {
    color: white;
    background-color: #1d2c30;
    padding: 15px 10px;
    position: relative;
    form.searchbar {
      position: relative;
      width: 90%;
      max-width: 640px;
      margin: 15px auto 0 auto;
      // top: 60px;
      // left: 50%;
      // transform: translateX(-50%);
      input[type='text'] {
        width: 100%;
        background: darken($blue, 5%);
        padding: 6px 0;
        font-size: 120%;
        font-weight: 300;
        text-align: center;
        border-radius: 20px;
        appearance: none;
        box-shadow: none;
        border: none;
        color: $white;
      }
      input[type="text"]:focus {
        outline: none;
      }
      input[type="submit"] {
        outline: none;
        border: none;
        background: $blue;
        position: absolute;
        top: 0;
        right: 0;
        // width: 30px;
        height: 38px;
        padding: 0 12px 0 9px;
        transition: all 333ms ease-in-out;
        border-radius: 0 20px 20px 0;
        -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.6);
                box-shadow: 0 0 0 0 rgba(0,0,0,0.6);        
        i {
          font-size: 90%;
          
        }
        &:hover {
          background: $green;
          i {

          }
        }
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $white;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: $white;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: $white;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: $white;
      }
    }

    .show-hide-filters {
      line-height: 48px;
      width: 155px;
      font-size: 28px;
      float: left;
      border-radius: 30px;
      background-color: $blue;
      color: $white;
      padding-left:10px;

      i {
        padding: 6px 15px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: $green;
        color: $white;
      }
    }

    .tagsinput {
      min-height: 0!important;
      height: auto!important;
      width: auto!important;
      background-color: transparent;
      border: none;
      padding: 10px 10px 0 15px;
      float: left;

      .tag {
        color: $white;
        font-size: 14px;
        font-weight: 300;
        margin: 0;
        margin-right: 5px;
        border-color: $blue;
        border-radius: 15px;
        padding: 2px 10px;
        a {
          color:$white;
          font-size:16px;
          font-weight:200;
          padding: 0 5px;
        }

        &.genre {
          background-color: $dk-blue;
        }

        &.mood {
          background-color: $dk-blue;
        }

        &.pace {
          background-color: $dk-blue;
        }

        &.era {
          background-color: $dk-blue;
        }

        &.key {
          background-color: $dk-blue;
        }

        &.tempo {
          background-color: $dk-blue;
        }

        &.instrument {
          background-color: $dk-blue;
        }
      }
    }
  }
}

nav.pagination {
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}