$green: #8cb49e;
$blue: #4a707c;
$white: #fffffe;
$off-white: #fffef2;
$dk-blue: #1d2c30;


/*  --------------------------------------------------
  Reveal Modals
  -------------------------------------------------- */
    
  .reveal-modal-bg { 
    position: fixed; 
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,.8);
    z-index: 100;
    display: none;
    top: 0;
    left: 0; 
    }
  
  .reveal-modal {
    visibility: hidden;
    top: 60px; 
    left: 50%;
    margin-left: -340px;
    width: 600px;
    background: #eee url(modal-gloss.png) no-repeat -200px -80px;
    position: absolute;
    z-index: 101;
    padding: 30px 40px 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    }
    
  .reveal-modal.small     { width: 200px; margin-left: -140px;}
  .reveal-modal.medium    { width: 400px; margin-left: -240px;}
  .reveal-modal.large     { width: 600px; margin-left: -340px;}
  .reveal-modal.xlarge    { width: 800px; margin-left: -440px;}
  
  .reveal-modal .close-reveal-modal {
    font-size: 22px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    text-shadow: 0 -1px 1px rbga(0,0,0,.6);
    font-weight: bold;
    cursor: pointer;
    } 
  /*
    
  NOTES
  
  Close button entity is &#215;
  
  Example markup
  
  <div id="myModal" class="reveal-modal">
    <h2>Awesome. I have it.</h2>
    <p class="lead">Your couch.  I it's mine.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  
  */



#share-song-modal,
#share-quote-modal {
  h1 {
    font-size: 160%;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
  }
  p {
    padding: 0;
    padding-bottom: 10px;
    text-align: center;
  }
  a.social-icon img {
    width:64px;
    height:64px;
    margin:3px;
  }
  a.social-icon:hover img {
    width: 69px;
    height: 69px;
    margin: 0;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.6);
  }
}

#share-zudo-modal {
  h1 {
    font-size: 160%;
    font-weight: 400;
  }

  .share-message {
    width: 100%;
  }

  p {
    padding: 10px 0;
  }
  a.social-icon img {
    width:64px;
    height:64px;
    margin:3px;
  }
}

#must-login-modal {
  h2 {
    font-size: 160%;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 10px;
    margin-bottom: 0;
    text-align: center;
  }
  p {
    padding: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
}

#add-to-cart-modal {
  background: #edecea;
  h1 {
    font-size: 180%;
    font-weight: 400;
    text-align: center;
  }
  p {
    padding: 0;
    padding-bottom: 10px;
  }
  .flexit {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;  
  }
  #tabs-1 {
    h2 {
      padding: 10px;
      font-weight: 500;
    }
    li.add-to-cart-catBTN {
      min-width: 17%;
      margin: 0 auto;
      float: left;
      text-align: center;
      padding: 5px 0;
      border-radius: 20px;
      background-color: $green;
      border: solid 1px $green;
      margin-bottom: 20px;
      color: $white;
      a {
        min-width: 100%;
        text-align: center;
        color: white;
        padding: 5px 15px;
        color: $white;
        font-weight: 600;
        outline: none;
        border: none;
      }
    }
    li.add-to-cart-catBTN:hover {
      background-color: $blue;
      border: solid 1px $blue;
      a {
        color: $white;
      }
    }
    li.cart-choice {
      padding: 10px 30px;
      margin: 5px;
      font-size: 120%;
      font-weight: 500;
      text-align: center;
      border: solid 1px $blue;
      border-radius: 30px;
      a {
        color: $blue;
      }
    }
    li.cart-choice:hover {
      background-color: $blue;
      a {
        color: $white;
      }
    }
    li.license {
      width: 90%;
      padding: 10px 20px;
      margin: 5px;
      text-align: center;
      border: 1px solid #8cb49e;
      border-radius: 30px;
        a {
          color: #8cb49e;
          font-weight: 300;
          font-size: 120%;
        }
    }
    li.license:hover {
      background: #4a707c;
      border: 1px solid #4a707c;
        a {
          color: #edecea;
        }
    }
  }
  .add-to-cart-foot {
    margin-top: 20px;
    p {
      font-weight: 400;
    }
  }  
}