$green: #8cb49e;
$blue: #4a707c;
$white: #fffffe;
$off-white: #fffef2;
$dk-blue: #1d2c30;

nav {
	display: none;
}
.navBTN {
	position: absolute;
	top: 12px;
	right: 20px;
	z-index: 9999;
	padding: 5px 15px 4px 15px;
	margin: 0;
	border-radius: 50%;
	background-color: #4a707c;
	box-shadow: 0 2px 2px rgba(22, 22, 22, 0.3);
	cursor: pointer;
	transition: padding 0.2s, top 0.2s, right 0.2s, background-color 0.2s;
}
.navBTN:hover {
	top: 10px;
	right: 17px;
	padding: 7px 18px 6px 18px;
	background-color: #507e8d;
	box-shadow: 0 3px 3px rgba(22, 22, 22, 0.3);
}
.navBTN i {
	font-size: 240%;
	line-height: 100%;
	color: #fffef2;
	transition: font-size 0.2s;
}
.main-nav {
	float: right;
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: $dk-blue;
	box-shadow: 0 2px 3px rgba(22, 22, 22, 0.2);
	overflow: scroll;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	ul {
		position: absolute;
		width: 90%;
		max-width: 960px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -70%);
		-webkit-transform: translate(-50%, -70%);
		text-align: center;
		overflow: scroll;
		overflow: -moz-scrollbars-none;
	    -ms-overflow-style: none;
	}
	ul::-webkit-scrollbar { width: 0 !important;display:none; }
	.btn {
		font-size: 150%;
		line-height: 150%;
		font-weight: 400;
		padding-top: 8px;
		padding-bottom: 12px;
	}
	.btn:hover {
		padding-top: 8px;
		padding-bottom: 12px;
	}
	a,
	a:link,
	a:visited {
		li {
			display: block;
			padding: 8px 10px;
			width: 200px;
			margin: 0 auto;
			text-align: center;
			border-radius: 20px;
			p {
				font-size: 150%;
				text-align: center;
				margin: 0 auto;
				color: #8cb49e;
				font-weight: 400;
			}
		}
		li:hover {
			background: rgba(255,255,255,0.1);		
			p {
				color: #fffffd;
			}
		}
	}
}
.main-nav::-webkit-scrollbar { width: 0 !important;display:none; }

.sticky {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9997;
}

.backBTN {
	float: left;
	font-size: 350%;
	color: #fdfefd;
	padding: 10px 30px;
}
.backBTN-i {
	text-shadow: 0 1px 2px rgba(22,22,22,0.4);
}