.col.span_6_of_12 {
	padding: 15px 2.5%;
	width: 45%;
}
.page-sect {
	margin: 0 auto;
	padding: 50px 6% 60px 6%;
}
.hero-text-box {
	position: absolute;
	width: 90%;
	max-width: 960px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}
.hero-text-box h1 {
	color: #fefffe;
	font-size: 600%;
	line-height: 86%;	
}
.hero-text-box h3 {
	color: rgba(255, 255, 253, 0.4);
	font-size: 250%;
	line-height: 70%;
	margin-bottom: 20px;
	font-weight: 200;
}
.hero-text-box i {
	color: rgba(255, 255, 253, 0.4);
	font-size: 120%;
}


/* ----- HOME PAGE ----- */

#hero-home {
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('sync_music_library-min.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}
#home-cta-btn {
	padding: 10px 40px;
}
#home-cta-btn.shake {
	animation-duration: 1.2s;
	-webkit-animation-duration: 1.2s;
	animation-delay: .6s;
	-webkit-animation-delay: .6s;
}
#home-cta-btn.rubberBand {
	animation-duration: .9s;
	-webkit-animation-duration: .9s;
}
.more {
	font-size: 100%;
	font-weight: 300;
	color: rgba(255, 255, 253, 0.4);
	padding: 10px;
	margin: 8px auto;
	max-width: 120px;
	transition: font-size 0.5s, color 0.5s;
}
.more:hover {
	color: rgba(255, 255, 253, 0.7);
	font-size: 105%;
}
.more:hover i {
	color: rgba(255, 255, 253, 0.7);
	font-size: 120%;
}
.home-sect-1 h2,
.home-sect-2 h2,
.home-sect-3 h2,
.about-sect-3 h2,
.home-sect-4 h2 {
	text-align: center;
	font-size: 200%;
	font-weight: 300;
}
.home-sect-1 p,
.home-sect-2 p,
.home-sect-3 p,
.about-sect-3 p,
.home-sect-4 p {
	margin: 20px auto;
	text-align: justify;
	line-height: 180%;
	padding: 0 6%;
}
.home-sect-2 {
	box-shadow: 0 0px 5px rgba(22, 22, 22, 0.3);
}
.home-sect-2 p,
.home-sect-4 p {
	margin-bottom: 40px;
}
.home-sect-2 i {
	font-size: 360%;
}
.home-sect-2 h4 {
	font-size: 130%;
	font-weight: 300;
}
.home-sect-3 {
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('music_licensing-min.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #fefffe;
}
#js--home-artist-1 {
	animation-delay: 0s;
	-webkit-animation-delay: 0s;
}
#js--home-artist-2 {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
#js--home-artist-3 {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
.js--wp-1,
.js--wp-2,
.js--wp-2-2,
.js--wp-3,
.js--wp-4,
.js--wp-4-2 {
	opacity: 0;
}
.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-2-2.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-4-2.animated {
	opacity: 1;
}
#js--home-artist-1 img,
#js--home-artist-2 img,
#js--home-artist-3 img {
	width: 50%;
	border-radius: 50%;
	margin-bottom: 10px;
}


/* ----- ABOUT PAGE ----- */

#hero-about {
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('zudo_music-01-wmd-min.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 70px;
	padding-bottom: 90px;
}
.about-sect-3 {
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('zudo_music-02-wmd-min.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #fefffe;
}

/* ----- FILM PAGE ----- */

#hero-film {
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('zudo_music_for_film-3.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 70px;
	padding-bottom: 90px;
}
.film-sect-3 {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('zudo_music_for_film-2.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #fefffe;
	font-size: 140%;
}

/* ----- GAMES PAGE ----- */

#hero-games {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('zudo_music_for_games-2.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 70px;
	padding-bottom: 90px;
}
.games-sect-3 {
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('zudo_music_for_games-1.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #fefffe;
	font-size: 140%;
}
img.gamer-img {
	width: 100%;
	max-width: 100%;
}

/* ----- ADS PAGE ----- */

#hero-ads {
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('music_for_commercials.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 70px;
	padding-bottom: 90px;
}
.ads-sect-3 {
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('music_for_advertising-2.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #fefffe;
	font-size: 140%;
}
img.ads-img {
	width: 100%;
	max-width: 100%;
}

/* ----- VIDEO PAGE ----- */

#hero-video {
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('license_music_for_youtube.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 70px;
	padding-bottom: 90px;
}
.video-sect-3 {
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('music_for_video-2.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #fefffe;
	font-size: 140%;
}
img.webvid-img {
	width: 100%;
	max-width: 100%;
}
img.wedvid-img {
	width: 100%;
	max-width: 100%;
}


/* ----- FAQ PAGE ----- */

#hero-faq {
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('zudo_music-10-wmd-min.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-bottom: 10px;
}
#contactPage,
#hero-terms,
.page-title {
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('sync_music_library-min.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-bottom: 10px;
}
#hero-faq h1,
#hero-about h1,
#hero-contact h1,
#hero-terms h1,
.page-title h1 {
	color: #fefffe;
	font-size: 500%;
	line-height: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 10px;	
}
#hero-faq p,
#hero-about p,
#hero-contact p,
#hero-terms p,
.page-title p {
	color: rgba(255, 255, 253, 0.4);
	font-size: 115%;
	line-height: 140%;
	text-align: center;	
	margin: 0;
	padding: 0 2%;
	padding-bottom: 50px;
	font-weight: 400;
}
.page-sect.faq {
	padding-top: 40px;
	padding-bottom: 50px;
}
.faqCOL h1 {
	font-size: 300%;
}
.faqCOL h2 {
	line-height: 120%;
}
.faqCOL p {
	text-align: justify;
}
.faqCOL h1,
.faqCOL h2 {
	text-align: center;
}	
.page-sect .faq h2 {
	font-weight: 300;
}

/* ----- HORROR PAGE ----- */
.hero-horror {
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('horsehead2.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 70px;
	padding-bottom: 90px;
	h1 {
		color: #fefffe;
		font-size: 500%;
		line-height: 100%;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 10px;
	}
}

/* ----- ROMANCE PAGE ----- */
.hero-romance {
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('romance.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 70px;
	padding-bottom: 90px;
	h1 {
		color: #fefffe;
		font-size: 500%;
		line-height: 100%;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 10px;
	}
}

/* ----- ADMIN PAGE ----- */

.sect-pad {
	padding: 20px 3%;
}
.adminBTNs li a:hover {
	background-color: #edecea;
}
.userModRow {
	margin: 5px;
	padding: 10px;
}