// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #8cb49e;
$blue: #4a707c;
$white: #fffffe;
$off-white: #fffef2;
$dk-blue: #1d2c30;


// INDEX PAGE

.mixtapeList {
	margin: 0;
	padding: 0;
	a {
		li.mixtapeCard {
			float: left;
			width: 25%;
			.mixtapeIMG {
				width: 100%;
				min-width: 100%;
				max-width: 100%;
				height: 240px;
				scale: 100%;
				margin: 0 auto;
				text-align: center;
				background-size: cover;
				transition: scale 0.3s;
				-webkit-transition: scale 0.3s;
				box-shadow: inset 0px 0px 40px 20px rgba(255,255,255,0.6);
			}
			h2 {
				position: relative;
				z-index: 999;
				top: 0;
				left: 0;
				width: 100%;
				height: 40px;
				margin: 0;
				padding: 190px 0 10px 0;
				font-size: 180%;
				line-height: 40px;
				font-weight: 400;
				color: $dk-blue;
				text-shadow: 0px 0px 12px rgba(255,255,255,1.0);
				background: rgba(0,0,0,0.0);
				transition: background 0.4s, color 0.4s, padding 0.4s, font-size 0.4s, font-weight 0.4s, text-shadow 0.4s;
				-webkit-transition: background 0.4s, color 0.4s, padding 0.4s, font-size 0.4s, font-weight 0.4s, text-shadow 0.4s;
			}
			h2:hover {
				background: rgba(0,0,0,0.7);
				font-size: 240%;
				line-height: 40px;
				font-weight: 500;
				color: $white;
				text-shadow: 0 0 rgba(255,255,255,0.0);
				padding: 100px 0;
			}
		}
	}
	a:hover {
		li.mixtapeCard {
			background-color: rgba(0,0,0,0.7);
			.mixtapeIMG {
				scale: 120%;
			}
		}
	}

}

.playlistWrap {
	width: 100%;
	margin: 0;
	padding: 20px 0;

	.playlist-title {
		padding-bottom: 120px;
	}
	.rosterHead h2 {
		line-height: 100%;
		padding: 20px 0 0 0;
	}
	.rosterHead h3 {
		line-height: 100%;
		padding: 0 0 0 0;
		text-align: center;
		font-weight: 300;
		font-size: 100%;
	}
	ul.artistRoster {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0 0 30px 0;
		.rosterArtistCard {
			display: inline-block;
			width: 18%;
			margin: 10px 0;
			padding: 10px 5px 10px 5px;
		}
		.rosterIMG {
			width: 140px;
			height: 140px;
			margin: 0 auto;
			text-align: center;
			border: 4px solid $green;
			border-radius: 50%;
			background-size: cover;
			transition: transform 0.3s;
			-webkit-transition: transform 0.3s;
			box-shadow: 0 2px 4px rgba(0,0,0,0.5);
		}
		.rosterArtistCard {
			height: auto;
			h2 {
				color: rgba(255,255,253,0.7);
				font-size: 140%;
				line-height: 20px;
				font-weight: 400;
				text-align: center;
				margin: -20px auto;
				padding: 8px 10px;
				border-radius: 30px;
				transition: transform 0.3s;
				-webkit-transition: transform 0.3s;
				background-color: $dk-blue;		
				box-shadow: 0 2px 4px rgba(0,0,0,0.5);
				overflow: hidden;
			}
		}
		.rosterArtistCard:hover { 
			h2 {
				color: rgba(255,255,253,1);
				transform: scale(1.04);
			}
			.rosterIMG {
				transform: scale(1.04);
			}
		}
	}
}