// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// BLOG FORM

.blog-form {
	width: 100%;
	input {
		width: 100%;
		padding: 8px;
		font-size: 120%;
	}
	.blog-body-form {
		width: 100%;
		height: 400px;
		padding: 8px;
		font-size: 120%;	
	}
}

// INDEX PAGE PREVIEWS

.blog-head h1 {
	line-height: 90%;
}
.post-prev {
	padding: 20px 10px;
	border-bottom: 1px solid #ccc;
	clear: both;
}
.post-prev:first-child {
	border-top: 1px solid #ccc;	
}
.post-prev-img {
	width: 100px;
	float: left;
	margin-right: 20px;
}
h2.post-prev-title {
	padding-top: 5px;
	padding-bottom: 10px;
	font-size: 200%;	
}
p.post-prev-info {
	padding:0;
	font-size: 85%;
	line-height: 100%;
}
p.post-prev-desc {
	padding:0;
	padding-top:7px;
	font-size: 100%;
	line-height: 100%;	
}

// ARTICLE LAYOUT

.post-wrap {
	h3, h4, h5, p { padding:0; margin:0; }
}
.blog-head {
	width: 100%;
	margin: 0 auto;
	background-image: url('zudo_music_for_film-2.png');
	padding: 140px 0;
	h1 {
		text-align: center;
		font-weight: 300;
		font-size: 420%;
		color: #fffef2;
		margin-bottom: 30px;
	}
}
.post-head {
	width: 100%;
	padding: 100px 0;
}
.blog-feature-img {
	width: 100%;
	max-width: 100%;
	margin:0;
	padding:0;
}
h1.blog-title {
	text-align: center;
	font-size: 500%;
	font-weight: 300;
	line-height: 85%;
	margin-bottom: 10px;
	color: #fffef2;
}
h2.post-title {
	text-align: center;
	font-weight: 400;
	padding-top: 25px;
	padding-bottom: 20px;
}
.post-content {
	padding-bottom: 30px;
}
p.blog-body {
	padding: 0 3%;
}


// COMMENT SECTION

.comment-wrap {
	padding: 10px 0 30px 0;
}
.comment-roll {
	padding: 10px 0 10px 40px;
}
.comment {
	background-color: #f5f3ed;
	box-shadow: 0 1px 1px #bbb;
	border-radius: 20px;
	padding: 10px 20px;
}
.comment-time {
	font-size: 80%;
	font-weight: 200;
}
.comment-form {
	input,
	.comment-form-body {
		background-color: #507784;
		width: 100%;
		margin: 2px;
		padding: 10px;
		font-size: 120%;
		border: none;
		border-bottom: 1px solid #395963;
	}
}