@import 'sitecolors';

.quoteCards {
	margin: 0;
	padding: 20px 0;
	.quote-prev {
		float: left;
		width: 16%;
		margin: 5px 1%;
		padding: 10px 1%;
		background-color: $white;
		box-shadow: 0 2px 2px rgba(0,0,0,0.3);
		.quote-prev-img {
			width: 100%;
			min-width: 100%;
			max-width: 100%;
		}
		.quote-prev-title {
			padding: 0;
			overflow: hidden;
			text-align: center;
		}
	}
}

.back {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9998;
	margin: 20px;
	border-radius: 50%;
	background-color: $green;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	a {
		padding: 20px 18px 20px 12px;
		color: $white;
		font-size: 240%;
		text-align: center;
	}
}
.back:hover {
	background-color: $white;
	a {
		color: $blue;
	}
}

.sharer-fixed {
	position: fixed;
	top: 40%;
	left: 15px;
	width: 50px;
	a {
		color: $white;
		font-size: 150%;
	}
	.sharer-icons {
		.sharer-icon {
			margin: 15px auto;
			padding: 10px;
			border-radius: 50%;
			text-align: center;
			background-color: $blue;
			box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
		}
	}
	.sharer-icons:hover {
		.sharer-icon {
			background-color: $green;
			box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
		}
	}
}

.quoteIMG {
	width: 90%;
	min-width: 90%;
	max-width: 90%;
	margin: 20px 5%;
}
