.btn-buy {
	font-size: 180%;
	color: white;
	background: #4a707c;
	padding: 20px 30px;
}
.btn-buy:hover {
	background: #8cb49e;
}
img.ssl-badge {
	width:90px;
	text-align:center;
	margin:10px auto;
}
img.stripeBadge {
	margin-top:20px;
}
i.stripeBadgeLock {
	margin-right: 5px;
}