$blue: #4a707c;
$green: #8cb49e;
$white: #fffffe;
$off-white: #edecea;

.songadminTR {
	border-bottom: 1px solid #eee;
}
.songadminTR:hover {
	background-color: #efefef;
}
.songadminBTN {	
	line-height: 20px;
	padding: 4px 10px;
	margin-top: 3px;
	background-color: $green;
	color: $white;
	border-radius: 15px;
}
.songadminBTN:hover {	
	background-color: $blue;
	color: $white;
}
.songShowBTN {
	margin: 36%;
	i {
		border-radius: 50%;
	}
}
.licenseBTN {
	margin: 10px;
}
.licenseBTN:hover {
	margin: 10px;
	padding: 5px 40px;
}
.songDescScroll {
	height: 330px;
}
.songArtistInfo {
	padding: 30px 0;
	.songArtistBioIMG {
		margin-top: 30px;
		img {
			width: 100%;
			max-width: 100%;
			border-radius: 50%;
		}
	}
	.songArtistBio {
		h2 {
			margin: 10px;
			padding: 0;
			font-weight: 600;
		}
		p {
			margin: 0;
			padding: 0 0 20px 20px;
			overflow-y: scroll;
			height: 280px;
		}
	}
}


.song-form {
	
	.song-form_section {
		padding: 21px 30px;
		margin: 30px auto;
		background: $off-white;
		-webkit-box-shadow: 0 15px 15px -9px rgba(0,0,0,0.9);
			 -o-box-shadow: 0 15px 15px -9px rgba(0,0,0,0.9);
				box-shadow: 0 15px 15px -9px rgba(0,0,0,0.9);
	}

	select {
		-webkit-appearance: button;
		-webkit-border-radius: 2px;
		-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		-webkit-padding-end: 20px;
		-webkit-padding-start: 2px;
		-webkit-user-select: none;
		background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
		background-position: 97% center;
		background-repeat: no-repeat;
		border: 1px solid #AAA;
		color: #555;
		font-size: inherit;
		margin: 9px auto;
		overflow: hidden;
		padding: 5px 10px;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;

	}

	label {
		font-size: 120%;
		font-weight: 700;
	}

}


