/* ----------------------- */
/* ----- 4K > 2540px ----- */
/* ----------------------- */

@media only screen and (min-width: 2540px) {




}


/* ----------------------- */
/* ----- TV > 1920px ----- */
/* ----------------------- */

@media only screen and (min-width: 1920px) {

	.rosterArtistCard {
		width: 32%;
		margin: 8px .4%;
		height: 400px;
	}
	.rosterIMG {
		height: 400px;
	}
	.rosterArtistCard h2 {
		font-size: 200%;
		font-weight: 400;
		padding-top: 305px;
	}

}


/* ---------------------------- */
/* ----- DESKTOP > 1280px ----- */
/* ---------------------------- */

@media only screen and (min-width: 1280px) {




}