$green: #8cb49e;
$blue: #4a707c;
$white: #fefffd;
$dk-blue: #1d2c30;


/* -------------------------- */
/* ----- Laptop < 1920px ----- */
/* -------------------------- */

@media only screen and (max-width: 1920px) {

	.nav-logo, .sticky.nav-logo { margin-left: 2%; }

	p {
		padding-left: 6%;
		padding-right: 6%;
	}
}

/* -------------------------- */
/* ----- Tablet < 1280px ----- */
/* -------------------------- */

@media only screen and (max-width: 1280px) {

	.hide-tablet {
		display: none;
	}
	.hide-inline-tablet {
		display: none;
	}
	.show-tablet {
		display: block;
	}
	.pc-video {
		display: none;
	}
	.mobile-video {
		display: block;
	}
	h1.page-title,
	h1.blog-title,
	.blog-head h1,
	.page-title h1,
	.hero-text-box h1,
	#hero-about h1,
	#contactPage h1,
	#hero-faq h1 {
		font-size: 420%;
		font-weight: 200;
		line-height: 100%;
	}
	.hero-text-box h3,
	#hero-about h3,
	#contactPage h3,
	#hero-faq h3 {
		font-size: 240%;
		font-weight: 200;
		line-height: 100%;
	}
	.rosterWrap {
		ul.artistRoster {
			.rosterArtistCard {
				display: inline-block;
				width: 23%;
				margin: 8px 0;
			}
			.rosterIMG {
				width: 140px;
				height: 140px;
				margin: 0 auto;
			}
			.rosterArtistCard h2 {
				font-size: 140%;
				line-height: 20px;
				margin: -20px auto;
				padding: 8px 10px;
				border-radius: 30px;
			}
		}
	}	
	nav ul {
		position: relative;
		top: 0;
		left: 50%;
		top: 0;
		left: 50%;
		transform: translate(-50%, 5%);
		-webkit-transform: translate(-50%, 5%);
	}

}

/* -------------------------- */
/* ----- iPhone 6s < 960px ----- */
/* -------------------------- */

@media only screen and (max-width: 960px) {

	.hide-small-tablet {
		display: none;
	}

	h1 {
		font-size: 160%;
		line-height: 140%;
	}
	h2 {
		font-size: 120%;
		padding-left: 2%;
		padding-right: 2%;
	}
	h3 {
		font-size: 110%;
	}
	h4 {
		font-size: 120%;
	}
	p {
		font-size: 90%;
		padding-left: 8%;
		padding-right: 8%;
	}

	a,
	a:link,
	a:visited {
		font-size: 100%;
		text-decoration: none;
	}
	a:hover { color: #8cb49e; }


	.main-nav {
		float: right;
		display: none;
		padding-top: 70px;
	}
	.navBTN {
		right: 15px;
	}
	.navBTN:hover {
		right: 12px;
	}
	nav ul li {
		display: block;
		padding: 8px 15px;
		margin: 0 8px;
		text-align: center;
	}
	nav ul li a {
		color: #4a707c;
	}
	nav ul li p {
		line-height: 80%;
	}
	.mobile-nav-icon {
		position: absolute;
		right: 3%;
		display: inline-block;
		float: right;
		text-align: center;
	}
	.mobile-nav-icon.menu-slide-left {
		right: 20%;
	}
	h1.page-title,
	h1.blog-title,
	.blog-head h1,
	.page-title h1,
	.hero-text-box h1,
	#hero-about h1,
	#contactPage h1,
	#hero-faq h1 {
		font-size: 420%;
		font-weight: 200;
		line-height: 100%;
	}
	.hero-text-box h3,
	#hero-about h3,
	#contactPage h3,
	#hero-faq h3 {
		font-size: 200%;
		font-weight: 200;
		line-height: 100%;
	}

	.home-sect-2,
	.home-sect-3,
	.home-sect-4 {
		padding: 35px 0 40px 0;
	}
	.home-sect-1 h2,
	.home-sect-2 h2,
	.home-sect-3 h2,
	.home-sect-4 h2 {
		text-align: center;
		font-size: 150%;
	}
	.home-sect-1 p,
	.home-sect-2 p,
	.home-sect-3 p,
	.home-sect-4 p {
		margin: 15px auto;
		line-height: 160%;
	}
	.faqCOL h1 {
		font-size: 200%;
		line-height: 60%;
		font-weight: 300;
	}
	.rosterHead h1 {
		font-size: 300%;
		font-weight: 200;
		line-height: 90%;
	}
	.rosterHead p {
		font-size: 110%;
		line-height: 120%;
		padding: 0 7%;
		margin-top: 10px;
	}
	.rosterWrap {
		ul.artistRoster {
			.rosterArtistCard {
				display: inline-block;
				width: 29%;
				margin: 8px 0;
			}
			.rosterIMG {
				width: 140px;
				height: 140px;
				margin: 0 auto;
			}
			.rosterArtistCard h2 {
				font-size: 140%;
				line-height: 20px;
				margin: -20px auto;
				padding: 8px 10px;
				border-radius: 30px;
			}
		}
	}	
	.artistHead {
		.artistHeadBio {
			.artistHeroName {
				padding: 0 3%;
				line-height: 100%;
			}
			p {
			}
		}
	}
	#contactPage h1.page-title {
  		font-size: 400%;
  		padding-top: 80px;
  	}
  	#contactPage h2.page-sub-title {
  		font-size: 200%;
  	}
  	#contactPage p.page-description {
  		padding: 0 10%;
  	}
  	h2.post-prev-title {
		padding-top: 0;
		padding-bottom:4px;
		font-size: 135%;	
		line-height: 100%;
	}
	.playlistWrap {
		ul.artistRoster {
			.rosterArtistCard {
				width: 60%;
			}
		}
	}	
	.mixtapeList {
		a {
			li.mixtapeCard {
				width: 50%;
				.mixtapeIMG {
				}
				h2 {
					font-size: 150%;
				}
				h2:hover {
					font-size: 180%;
				}
			}
		}
	}

}

/* -------------------------- */
/* ----- iPhone 6 < 790px ----- */
/* -------------------------- */

@media only screen and (max-width: 790px) {

	.hide-mobile {
		display: none;
	}
	.hide-inline-mobile {
		display: none;
	}
	.col.span_6_of_12 {
		width: 94%; 
	}
	.col.span_4_of_12 {
		width: 94%;
		margin: 0 3%; 
	}
	.col.span_8_of_12 {
		width: 94%;
		margin: 0 3%; 
	}
	.artistHead {
		height: 400px;
		max-height: 400px;
		width: 100%;
		margin: 0;
		padding: 0;
		.artistHeroIMG {
			height: 420px;
			max-height: 420px;
		}
		.artistHeroColor {
			height: 400px;
		}
		.artistHeroBox {
			width: 100%;
			height: 400px;
			margin-top: 40px;
		}
		.artistHeadIMG {
			.artistBubble {
				width: 240px;
				height: 240px;
				margin: 0 auto;
			}
		}	
		.artistHeadBio {
			.artistHeroName {
				margin: 10px 0;
				padding: 0;
				line-height: 100%;
				font-size: 240%;
				text-align: center;
			}
		}
	}

}


/* -------------------------- */
/* ----- iPhone 5 < 640px ----- */
/* -------------------------- */

@media only screen and (max-width: 640px) {
	

	h1 {
		font-size: 120%;
		line-height: 110%;
	}
	h2 {
		font-size: 100%;
		padding-left: 2%;
		padding-right: 2%;
	}
	h3 {
		font-size: 90%;
	}
	h4 {
		font-size: 80%;
	}
	p {
		font-size: 90%;
	}
	nav ul {
		position: relative;
		top: 0;
		left: 50%;
		top: 0;
		left: 50%;
		transform: translate(-50%, -12%);
		-webkit-transform: translate(-50%, -12%);
	}
	h1.page-title,
	h1.blog-title,
	.blog-head h1,
	.page-title h1,
	.hero-text-box h1,
	#hero-about h1,
	#contactPage h1,
	#hero-faq h1 {
		font-size: 220%;
		font-weight: 300;
		line-height: 100%;
	}
	h2.post-prev-title {
		padding-top: 0;
		padding-bottom:4px;
		font-size: 120%;	
		line-height: 100%;
	}
	p.post-prev-info {
		font-size: 65%;
		line-height: 100%;	
	
	}
	p.post-prev-desc {
		padding-top: 3px;
		font-size: 85%;
		line-height: 100%;	
	}
	.navBTN {
		top: 11px;
		right: 10px;
		padding: 6px 15px 5px 15px;
	}
	.navBTN:hover {
		top: 11px;
		right: 10px;
		padding: 6px 15px 5px 15px;
	}
	.navBTN i {
		font-size: 180%;
		line-height: 100%;
	}
	.hero-text-box h3,
	#hero-about h3,
	#hero-contact h3,
	#hero-faq h3 {
		font-size: 130%;
		font-weight: 300;
		line-height: 110%;
	}

	.rosterArtistCard {
		width: 95%;
		height: 300px;
		margin: 8px 2%;
	}
	.rosterIMG {
		height: 300px;
	}
	.rosterArtistCard h2 {
		padding-top: 260px;
		font-size: 140%;
	}
	.artistHeroName {
		font-size: 160%;
	}	
	.rosterHead h1 {
		font-size: 200%;
		font-weight: 200;
		line-height: 90%;
	}
	.rosterHead p {
		font-size: 110%;
		font-weight: 300;
		line-height: 120%;
		padding: 0 7%;
		margin-top: 10px;
	}
	.rosterWrap {
		ul.artistRoster {
			.rosterArtistCard {
				display: inline-block;
				width: 44%;
				margin: 8px 0;
			}
			.rosterIMG {
				width: 140px;
				height: 140px;
				margin: 0 auto;
			}
			.rosterArtistCard h2 {
				font-size: 140%;
				line-height: 20px;
				margin: -20px auto;
				padding: 8px 10px;
				border-radius: 30px;
			}
		}
	}
	.mixtapeList {
		a {
			li.mixtapeCard {
				width: 100%;
				height: 300px;
				.mixtapeIMG {
					height: 300px;
				}
				h2 {
					font-size: 150%;
					padding: 240px 0 20px 0;
				}
				h2:hover {
					font-size: 240%;
					padding: 130px 0;
				}
			}
		}
	}	
	.reveal-modal {
		max-width: 280px;
		margin-left: -180px;
	}
	#share-song-modal	h1 {
    	font-size: 120%;
    	font-weight: 400;
  	}
  	#contactPage h1.page-title {
  		font-size: 300%;
  		padding-top: 80px;
  	}
  	#contactPage h2.page-sub-title {
  		font-size: 180%;
  	}
  	#contactPage p.page-description {
  		padding: 0 5%;
  	}
  	textarea.share-message {
  		height: 140px;
  	}
  	.songRowPlay span i {
	    font-size: 200%;
	    position: absolute;
	    top: 8px;
	    left: 6px;
	    padding: 10px;
	    color: rgba(74, 112, 124, 1);
	}
	.songlist-art-col {
	  max-width: 25px;
	  text-align: left;
	}
	.songlist-main-col {
	  max-width: 140px;
	  overflow:hidden;
	  white-space:nowrap;
	  text-align: left;
	}

  	.songRowArt {
		width: 36px;
		height: 36px;
		margin: 15px 5px;;
	}
	.show-hide-filters {
      	line-height: 20px;
      	width: 100px;
      	font-size: 21px;
      	padding-left:4px;
	}
	#libraryPage {
	  .header {
	    padding: 15px 7px;

	    .show-hide-filters {
	      	line-height: 38px;
	      	width: 120px;
	      	font-size: 18px;
	      	padding-left: 0;
	            i {
		        padding: 8px 15px;
		        margin-right: 10px;
		        border-radius: 50%;
		      }
	    }

	    .tagsinput {
	      min-height: 0!important;
	      height: auto!important;
	      width: auto!important;
	      background-color: transparent;
	      border: none;
	      padding: 10px 10px 0 15px;
	      float: left;

	      .tag {
	        color: $white;
	        font-size: 14px;
	        font-weight: 300;
	        margin: 0;
	        margin-right: 5px;
	        border-color: $blue;
	        border-radius: 15px;
	        padding: 2px 10px;
	        a {
	          color:$white;
	          font-size:16px;
	          font-weight:200;
	          padding: 0 5px;
	        }

	        &.genre {
	          background-color: $dk-blue;
	        }

	        &.mood {
	          background-color: $dk-blue;
	        }

	        &.pace {
	          background-color: $dk-blue;
	        }

	        &.era {
	          background-color: $dk-blue;
	        }

	        &.key {
	          background-color: $dk-blue;
	        }

	        &.tempo {
	          background-color: $dk-blue;
	        }

	        &.instrument {
	          background-color: $dk-blue;
	        }
	      }
	    }
	  }
	}

}


/* -------------------------- */
/* ----- MOBILE < 480px ----- */
/* -------------------------- */

@media only screen and (max-width: 480px) {
	
	.hide-small-mobile {
		display: none;
	}
	.reveal-modal {
		max-width: 220px;
		margin-left: -150px;
	}
	.home-sect-1,
	.home-sect-2,
	.home-sect-3,
	.home-sect-4 {
		padding: 35px 0 40px 0;
	}
	.home-sect-1 h2,
	.home-sect-2 h2,
	.home-sect-3 h2,
	.home-sect-4 h2 {
		text-align: center;
		font-size: 120%;
	}
	.home-sect-1 p,
	.home-sect-2 p,
	.home-sect-3 p,
	.home-sect-4 p {
		font-size: 90%;
		margin: 15px auto;
		line-height: 160%;
	}	
  	#contactPage h1.page-title {
  		font-size: 240%;
  		padding-top: 80px;
  	}
	.rosterHead h1 {
		font-size: 200%;
		font-weight: 300;
		line-height: 90%;
	}
	.rosterHead p {
		font-size: 110%;
		font-weight: 300;
		line-height: 120%;
		padding: 0 7%;
		margin-top: 10px;
	}
	.rosterWrap {
		ul.artistRoster {
			.rosterArtistCard {
				display: inline-block;
				width: 80%;
				margin: 8px 0;
			}
			.rosterIMG {
				width: 200px;
				height: 200px;
				margin: 0 auto;
			}
			.rosterArtistCard h2 {
				font-size: 160%;
				line-height: 30px;
				margin: -20px auto;
				padding: 8px 10px;
				border-radius: 30px;
			}
		}
	}

}