<div class="field">	
	<%= form_for(@playlist) do |f| %>

	<%= f.text_field :name, :placeholder => 'Enter Playlist Name', :class => 'col span_6_of_12 center', autofocus: true %>
	<%= f.file_field :image, :class => 'col span_6_of_12 center offWhite' %>    

  <%= f.submit 'Create Playlist', :class => 'submitBTN' %>

	<% end %>
</div>
