<section class="section">
	<div class="mixtapeWrap green">
<!--
		    <div class="container center">
		    	<h2>Browse Our Playlists</h2>
		    </div>
-->
		    <div class="center js--wp-4-2 clearfix">
		    	<ul class="mixtapeList">
				  	<% @playlists.last(8).each do |playlist| %>
		      			<%= link_to playlist do %>
				        	<li class="mixtapeCard">
					        	<div class="mixtapeIMG" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url(<%= playlist.image.url(:thumb) %>); background-position: center center; background-size: cover;">
				        			<h2><%= playlist.name %></h2>
					        	</div>
					    	</li>
				    	<% end %>
				  	<% end %>
				</ul>
			</div>
		</div>
</section>