<% set_meta_tags 	site: 	'Zudo Music Library for Film, TV and Games', 
					title: 	@playlist.name + ' Songs', 
					reverse: true,
					description: "Listen to our custom music-supervisor-curated " + @playlist.name +  " playlist to find the perfect " + @playlist.name + " production music for your film, game, app, or commercial.",
					noindex: false,
					author:  "https://plus.google.com/u/1/117370898715446501614"
%>
<% set_meta_tags og: {
					title:  @playlist.name + ' Songs | Zudo Music Library for Film, TV and Games',
					type:  	'website',
					url:    post_path(@playlist),
					image:  @playlist.image.url(:medium),
					description: "Listen to our custom music-supervisor-curated " + @playlist.name +  " playlist to find the perfect " + @playlist.name + " production music for your film, game, app, or commercial."
} %>
<% set_meta_tags twitter: {
					card: 	"summary_large_image",
					site: 	"@ZudoMusic",
					title: 	@playlist.name + " Songs | Zudo Music Library for Film, TV and Games",
					image: 	@playlist.image.url(:medium),
					description: "Listen to our custom music-supervisor-curated " + @playlist.name +  " playlist to find the perfect " + @playlist.name + " production music for your film, game, app, or commercial."
} %>
<% provide(:keywords, @playlist.name) %>
