<div class="page-title fullscreen">
	<h1>Edit Playlist</h1>
	<% if can? :manage, :all %>
		<%= render 'form' %>
	<% else %>
		<h2>Access Denied!</h2>
		<p>This Page is Available to Site Admins and Moderators ONLY!!</p>
	<% end %>
</div>
