<% set_meta_tags 	site: 	'Zudo Music Licensing for Film, TV and Video Games', 
					title: 	'FILM COMPOSERS', 
					reverse: true,
					description: "Zudo Music has a team of film composers from around the world with pre recorded and pre cleared music for use in your film, tv, app or game project.",
					noindex: false,
					canonical:"http://www.zudomusic.com/artists",
					author:  "https://plus.google.com/u/1/117370898715446501614"
%>
<% set_meta_tags og: {
					title: 	'FILM COMPOSERS | Zudo Music Licensing for Film, TV and Video Games',
					type:  	'website',
					url:    'http://www.zudomusic.com/artists',
					image:  image_url('sync_music_library-min.jpg'),
					description: "Zudo Music has a team of film composers from around the world with pre recorded and pre cleared music for use in your film, tv, app or game project."
} %>
<% set_meta_tags twitter: {
					card: 	"summary_large_image",
					site: 	"@ZudoMusic",
					title: 	"FILM COMPOSERS | Zudo Music Licensing for Film, TV and Video Games",
					image: 	image_url('sync_music_library-min.jpg'),
					description: "Zudo Music has a team of film composers from around the world with pre recorded and pre cleared music for use in your film, tv, app or game project."
} %>
<% provide(:keywords, "Film Composers") %>

<div class="rosterWrap">
  <div class="container rosterHead">
    <h1>Playlists</h1>
    <p class='hide-mobile'>Browse and learn more our killer roster of singers, songwriters, composers and producers here. Click on the artist images to view their bio and sample their entire music catalog.</p>
  </div>
  <div class="mixtapeWrap center">
    <ul class="mixtapeList">
		  <% @playlists.each do |playlist| %>
        <%= link_to playlist do %>
	        <li class="mixtapeCard">
	          <div class="mixtapeIMG" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url(<%= playlist.image.url(:thumb) %>); background-position: center center; background-size: cover;">
		          <h2><%= playlist.name %></h2>

	          </div>
			    </li>
		    <% end %>
		  <% end %>
		</ul>
		<% if can? :manage, Playlist %>
			<div class="container center">
				<p><%= link_to "New Playlist", new_playlist_path, class: 'btn btn-ghost' %></p>
			</div>
		<% end %>
	</div>
</div>
