<%= render "playlistmeta" %>

<div class="page-title" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)), url(<%= @playlist.image.url(:medium) %>); background-position: center center; background-size: cover;padding: 60px 0 120px 0;">
	<div class="container center">
		<h1><%= @playlist.name %> Songs</h1>
		<p>A hand selected mixtape of <%= @playlist.name %> songs from the Zudo Music Library. Listen to our best <%= @playlist.name %> songs in this music supervisor curated playlist.</p>
	</div>
</div>

<%= render 'songs/playlist', songs: @playlist.songs %>

<% if can? :manage, :all %>
	<section class="blue">	
		<div class="container center">
		  <h3 style="padding: 10px 0 0 0;">Add Song</h3>
			<div class="field" style="padding-top:0;">
			  <%= form_tag(add_song_playlist_path(@playlist)) do %>
			    <%= select_tag(:song_id, options_for_select(Song.order('artist_id ASC').all.map{|s| ["#{s.artist.name} - #{s.title}", s.id]})) %>
			    <%= submit_tag "Add Song", :class => 'submitBTN' %>
			  <% end %>
		  </div>
		</div>
	</section>
<% end %>