<%= form_for(@instrument) do |f| %>
  <% if @instrument.errors.any? %>
      <% @instrument.errors.full_messages.each do |message| %>
        <%= js add_gritter(message, :image => :warning ) %>
      <% end %>
  <% end %>
  <div class="field offWhite">
    <!--<%= f.label :name %><br>-->
    <%= f.text_field :name, :placeholder => 'Enter Instrument Name' %>
    <!--<%= f.label :desc %><br>-->
    <%= f.text_area :desc, :placeholder => 'Enter Instrument Description' %>
    <%= f.submit 'Save Instrument', :class => 'submitBTN' %>
  </div>
<% end %>
