<% provide(:title, "EDIT INSTRUMENTAL") %>
<div class="page-title">
	<div class="container">
		<h1>Edit Instrumental</h1>
		<p>Please enter information for all sections of the form below to edit an instrumental into the library.</p>
	</div>
	<div class="container">
		<%= render 'form' %>
		<%= link_to 'Show', @instrumental %> |
		<%= link_to 'Back', instrumentals_path %>
	</div>
</div>