<% provide(:title, 'INSTRUMENTS') %>
<% provide(:description, "Filter Songs by Featured Instruments Category") %>
<% provide(:keywords, "Songs by Featured Instruments") %>
<div class="page-title">
  <div class="container">
    <h1>Instruments</h1>
      <p>Filter our library by any of the instruments below</p>
  </div>
</div>
<section class="section sect-pad">
  <div class="container">
    <% @instruments.each do |instrument| %>
      <%= link_to instrument_path(instrument) do %>
        <div class="optCard">
          <div class="optCard-image offWhite">
            <%= image_tag('instrument_image') %>
          </div>
          <div class="optCard-title center">
            <h2><%= instrument.name %></h2>
          </div>
          <div class="optCard-desc center">
            <%= instrument.desc %>
          </div>
          <div class="optCard-admin">
            <% if can? :manage, Instrument %>
              <%= link_to 'Show', instrument %> | 
              <%= link_to 'Edit', edit_instrument_path(instrument) %> | 
              <%= link_to 'Destroy', instrument, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if can? :manage, Instrument %>
      <div class="center">
        <%= link_to 'Add New Instrument', new_instrument_path, :class => 'btn btn-ghost' %>
      </div>
    <% end %>
  </div>
</section>