<% provide(:title, "ADD INSTRUMENT") %>
<div class="page-title">
	<div class="container">
		<h1>Add New Instrument</h1>
		<p>Please enter information for all sections of the form below to enter a new instrument into the library.</p>
	</div>
	<div class="container">
		<%= render 'form' %>
		<%= link_to 'Back', instruments_path %>
	</div>
</div>