<div class="field offWhite clearfix">
	<p>Please fill out the form and agree to the site terms below to complete your purchase.</p>
<%= text_field_tag "user_details[name]", nil, :placeholder => 'Your Name', :class => 'col span_12_of_12', required: true %>
<%= email_field_tag "user_details[email]", nil, :placeholder => 'Your Email', :class => 'col span_12_of_12', required: true %>
<%= text_field_tag "user_details[phone]",nil, :placeholder => 'Your Phone Number', :class => 'col span_12_of_12', required: true %>

<%= text_field_tag "user_details[project_title]", nil, :placeholder => 'Your Project Title', :class => 'col span_12_of_12', required: true %>
<%= text_area_tag "user_details[project_desc]", nil, :placeholder => 'Enter Project Description', :class => 'col span_12_of_12', required: true %>
<%= text_field_tag "user_details[website]",nil, :placeholder => 'Link to Project Website', :class => 'col span_12_of_12' %>

</div>
<br>