- set_meta_tags  site:   'Zudo Music Licensing for Film, TV and Video Games', 
          title:  'SHOPPING CART', 
          reverse: true,
          description: "This is your personalized shopping cart. A list of all the songs and licenses you have chosen to purchase are available on this page for sale.",
          noindex: false,
          canonical:"http://www.zudomusic.com/cart",
          author:  "https://plus.google.com/u/1/117370898715446501614"
- set_meta_tags og: { title:  'SHOPPING CART | Zudo Music Licensing for Film, TV and Video Games',
          type:   'website',
          url:    'http://www.zudomusic.com/cart',
          image:  'http://zudomusic.com/zudo_music-01-wmd-min.png',
          description: "This is your personalized shopping cart. A list of all the songs and licenses you have chosen to purchase are available on this page for sale."}
- set_meta_tags twitter: { card:   "summary_large_image",
          site:   "@ZudoMusic",
          title:  "SHOPPING CART | Zudo Music Licensing for Film, TV and Video Games",
          image:  "http://zudomusic.com/zudo_music-01-wmd-min.png",
          description: "This is your personalized shopping cart. A list of all the songs and licenses you have chosen to purchase are available on this page for sale."}
- provide(:keywords, "Shopping Cart")

.page-title
  .center.container
    h1 Shopping Cart
    p= link_to 'Browse Songs', play_path, data: { no_turbolink: true }, :class => 'btn btn-ghost'

table.songlist
  thead.songlistHead
    tr
      th
      th Title
      th Artist
      th License
      th Price

  tbody
    - for cart_item in @shopping_cart_items
      tr.songRow
        td= link_to 'Remove', shopping_cart_item_path(cart_item), method: :delete, data: { confirm: 'Are you sure to remove' }
        td #{cart_item.song_title}
        td #{cart_item.artist_name}
        td #{cart_item.license}
        td #{humanized_money_with_symbol(cart_item.price)}

    - unless @shopping_cart.empty?
      -if @shopping_cart.used_credits.present? && @shopping_cart.used_credits > 0
        tr.songRow
          td colspan="4" style="text-align: right; font-weight: 600; padding-right: 20px;" Sub Total
          th #{@shopping_cart.sub_total}

        tr.songRow
          td colspan="4" style="text-align: right; font-weight: 600; padding-right: 20px;" Credits
          th - #{@shopping_cart.used_credits}

      tr.songRow
        td colspan="4" style="text-align: right; font-weight: 600; padding-right: 20px;" Total
        th #{@shopping_cart.total}
      tr.songRow
        td.center colspan="5" style="padding:20px;"
          = form_tag checkout_path do
            = render "shopping_cart_items/user_details_form"

            input#accept-terms-and-conditions type="checkbox" 
            label for="accept-terms-and-conditions"
              |   Accept 
              =< link_to 'terms and conditions', terms_path 
            br
            br
            - if @shopping_cart.total > 0
              button type="submit" class="btn btn-buy" style="visibility: visible;" data-amount="#{@shopping_cart.total.cents}" data-description="#{@shopping_cart_items.count} #{'song'.pluralize(@shopping_cart_items.count)} (#{humanized_money_with_symbol @shopping_cart.total})" data-image="http://zudomusic.com/zudo-square_logo.png" data-key="#{Rails.application.secrets.stripe_publishable_key}" data-name="ZUDO MUSIC" BUY NOW
              script src="https://checkout.stripe.com/v2/checkout.js"
              javascript:
                $(document).ready(function () {
                  $(':submit').on('click', function (event) {
                    event.preventDefault();
                    uname = $('#user_details_name').val();
                    uemail = $('#user_details_email').val();
                    uphone = $('#user_details_phone').val();
                    ptitle = $('#user_details_project_title').val();
                    pdesc = $('#user_details_project_desc').val();
                    pwebsite = $('#user_details_website').val();
                    if (uname && uemail && uphone && ptitle && pdesc && $('#accept-terms-and-conditions').is(':checked')) {
                      var $button = $(this),
                              $form = $button.parents('form');
                      var opts = $.extend({}, $button.data(), {
                        token: function (result) {
                          $form.append($('<input>').attr({
                            type: 'hidden',
                            name: 'stripeToken',
                            value: result.id
                          })).submit();
                        }
                      });
                      StripeCheckout.open(opts);
                    }else{
                       alert("Please fill all information to complete your purchase.");
                    }
                  });
                });
            - else
              button type="submit" class="btn btn-buy" style="visibility: visible;" data-amount="#{@shopping_cart.total.cents}" data-description="#{@shopping_cart_items.count} #{'song'.pluralize(@shopping_cart_items.count)} (#{humanized_money_with_symbol @shopping_cart.total})" data-image="http://zudomusic.com/zudo-square_logo.png" data-key="#{Rails.application.secrets.stripe_publishable_key}" data-name="ZUDO MUSIC" BUY NOW

    - else
      tr.songRow
        td colspan="5"
          | Cart is empty.
div.center
  i.ion-ios-locked.stripeBadgeLock
  img.stripeBadge src='http://zudomusic.com/stripe_badge.png'