<footer>
	<div class="center footer-nav">
		<ul>
			<%= link_to content_tag('li', 'HOME'), home_path %>
			<%= link_to content_tag('li', 'LIBRARY'), play_path %>
			<%= link_to content_tag('li', 'ABOUT'), about_path %>
			<%= link_to content_tag('li', 'CONTACT'), new_contact_path %>
			<% if user_signed_in? %>
				<%= link_to content_tag('li', 'SUBMIT'), submit_path %>
			<% else %>
				<%= link_to content_tag('li', 'SUBMIT'), "#",  data: { :'must-be-logged-in' => "true" } %>
			<% end %>
			<%= link_to content_tag('li', 'FAQ\'s'), faq_path %>
			<%= link_to content_tag('li', 'BLOG'), posts_path %>
		</ul>
		<a href="https://twitter.com/ZudoMusic" class="twitter-follow-button" data-show-count="false">Follow @ZudoMusic</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		<a href="https://twitter.com/intent/tweet?button_hashtag=IAMZUDO&text=Sync%20Music%20for%20Film%20%26%20TV" class="twitter-hashtag-button" data-related="ZudoMusic" data-url="ZudoMusic.com">Tweet #IAMZUDO</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
   <div class="center hide-mobile">
			<% if user_signed_in? %>
				<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-ghost animated shake', id: 'foot-cta-btn' %>
			<% else %>
				<%= link_to "BROWSE MUSIC", play_path, class: 'btn btn-blue foot-cta' %>
				<%= link_to "SIGNUP FREE", signup_path, class: 'btn btn-green foot-cta' %>
			<% end %>
   </div>
	<div class="center">
		<p>&copy; Copyright 2015-17, IN:DEEP Arts, LLC. All Rights Reserved.</p>
	</div>
</footer>