<div class="sticky">

	<!--<div class="backBTN">-->
		<!--<%= link_to content_tag('i', '', :class => 'ion-ios-arrow-left backBTN-i'), :back %>-->
	<!--</div>-->
	
	<div class="navBTN">
		<i id='navicon' class="ion-navicon"></i>
	</div>
	<nav class="main-nav">
		<ul>
			<% unless user_signed_in? %>
				<%= link_to content_tag('li', content_tag('p', 'HOME')), home_path %>
			<% end %>
			<%= link_to play_path do %>
				<%= link_to content_tag('li', content_tag('p', 'SONGS')), play_path %>
			<% end %>
				<%= link_to content_tag('li', content_tag('p', 'ARTISTS')), artists_path %>
			<% if can? :manage, Artist %>
				<%= link_to content_tag('li', content_tag('p', 'STUDIO')), studio_path %>
			<% end %>
			<% if can? :manage, :all %>
				<%= link_to content_tag('li', content_tag('p', 'ADMIN')), dabooth_path %>
			<% end %>
			<% if user_signed_in? %>
				<%= link_to content_tag('li', content_tag('p', 'FAVORITES')), favorites_path %>
        <% unless can? :placements, PurchaseItem %>
			<%= link_to content_tag('li', content_tag('p', 'PROJECTS')), projects_path %>
	        <%= link_to content_tag('li', content_tag('p', 'PURCHASES')), purchases_path, class: 'hide-mobile' %>		  
	        <%= link_to content_tag('li', content_tag('p', 'CART')), cart_path %>
			  <% else %>	
				  <%= link_to content_tag('li', content_tag('p', 'PLACEMENTS')), placements_path %>
			  <% end %>
        <%= link_to content_tag('li', content_tag('p', 'Profile')), edit_user_registration_path, class: 'hide-mobile' %>
        <%= link_to content_tag('li', content_tag('p', 'Logout')), destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to content_tag('li', content_tag('p', 'ABOUT')), about_path %>
				<%= link_to content_tag('li', content_tag('p', 'LOGIN')), login_path %>
				<li><p><%= link_to "Signup", signup_path, class: 'btn btn-green' %></p></li>			
			<% end %>
		</ul>
	</nav>
</div>