<meta property=”og:title” content=”Zudo Music Licensing for Film, TV &amp; Video Games”/>
<meta property=”og:type” content=website/>
<meta property=”og:image” content=”http://zudomusic.com/Zudo-Landing_BG.jpg”/>
<meta property=”og:url” content=”http://www.zudomusic.com”/>
<meta property=”og:description” content=”Zudo Music Licensing Company is a Production Music Library Specializing in Sync Licensing Music for Film, TV, Video Games, Apps &amp; New Media.”/>
<meta property=”fb:admins” content=”757193991044336”/>
<meta property=”fb:admins” content=”48606618”/>
<meta property=”fb:app_id” content=”771406139637124”/>
<meta property=”twitter:site” content=”@ZudoMusic”/>
<meta property=”twitter:creator content=”@JustScience”/>
