#zudo-player.jp-jplayer
#zudo-player-container.jp-audio
  .jp-play
    a.jp-play-pause
      svg.pp
  .jp-controls
    a.jp-next
      i.ion-ios-skipforward
  .jp-progress
    .jp-seek-bar
      .jp-play-bar
    .jp-current-time.hide-small-mobile
  .jp-info
    .title Song Name
    .artist Artist
  .jp-actions
    - if user_signed_in?
      a.favorite data-remote="true" data-method="post"
        i.ion-ios-heart-outline
      a.unfavorite data-remote="true" data-method="delete"
        i.ion-ios-heart
      a.add-to-cart data-modal="true"
        i.ion-ios-cart-outline
      a.share data-modal="true"
        i.ion-ios-upload-outline
    - else
      a.favorite data-must-be-logged-in=true href="#"
        i.ion-ios-heart-outline
      a.unfavorite data-must-be-logged-in=true href="#"
        i.ion-ios-heart
      a.add-to-cart data-must-be-logged-in=true href="#"
        i.ion-ios-cart-outline
      a.share data-modal="true"
        i.ion-ios-upload-outline

  .jp-no-solution
    | Media Player Error
    br
    | Update your browser or Flash plugin