doctype html
html lang="en"
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta content="initial-scale=1" name="viewport" /
    = display_meta_tags publisher: 'https://plus.google.com/+IndeepartsNet/'
    meta content=truncate(yield(:keywords), :length => 255) name="keywords" /
    = render 'layouts/favicons'
    = render 'layouts/sumo'
    //= render 'layouts/ograph'
    = render 'layouts/hotjar'
    = stylesheet_link_tag '//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  body
    javascript:
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                  (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-38710149-5', 'auto');
      ga('send', 'pageview');


    #modal-holder
    = render 'layouts/navbar'
    = js extend_gritter :position => "top_left", :sticky => false, :fade_in_speed => 'medium', :fade_out_speed => 'medium', :time => 3000, :class => 'gritter-without-image'
    - flash.each do |name, message|
      - if flash[:notice]
        = js add_gritter(flash[name], :image => :success, :nodom_wrap => true)
      - elsif flash[:alert]
        = js add_gritter(flash[name], :image => :warning, :nodom_wrap => true)

    //= render 'layouts/logo'
    = yield
    = render 'layouts/livechat'
    = render 'layouts/footer'
    = render 'layouts/player'

    javascript:
      if (!Modernizr.svg) {
        var i = document.getElementsByTagName("img"), j, y;
        for (j = i.length; j--;) {
          y = i[j].src;
          if (y.match(/svg$/)) {
            i[j].src = y.slice(0, -3) + 'png'
          }
        }
      }

    = yield :extra_javascript
